In [105]:
from typing import Tuple, List, Optional
import pandas as pd
from IPython.display import display
import numpy as np

from stock_market_research_kit.smt_psp_trade import smt_psp_trades_from_json
from scripts.run_smt_strategies_analyzer import to_trade_dfs, \
    with_cum_and_stagnation, strategy29_2025_snapshot, strategy29_2024_snapshot

# with open(strategy29_2025_snapshot, "r", encoding="utf-8") as f:
with open(strategy29_2024_snapshot, "r", encoding="utf-8") as f:
    json_str = f.read()
df_m, df_l, df_lo = to_trade_dfs(smt_psp_trades_from_json(json_str))

df_l_chase_median_rr = with_cum_and_stagnation(df_l.query('limit_reason == "chase_median_rr"'))
df_l_chase_mean_rr = with_cum_and_stagnation(df_l.query('limit_reason == "chase_mean_rr"'))
df_l_chase_absent_tyo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_absent_tyo"'))
df_l_chase_absent_tmo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_absent_tmo"'))
df_l_chase_absent_two = with_cum_and_stagnation(df_l.query('limit_reason == "chase_absent_two"'))
df_l_chase_absent_tdo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_absent_tdo"'))
df_l_chase_absent_t90mo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_absent_t90mo"'))
df_l_chase_tyo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_tyo"'))
df_l_chase_tmo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_tmo"'))
df_l_chase_two = with_cum_and_stagnation(df_l.query('limit_reason == "chase_two"'))
df_l_chase_tdo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_tdo"'))
df_l_chase_t90mo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_t90mo"'))

df_m = with_cum_and_stagnation(df_m)
df_l = with_cum_and_stagnation(df_l)

df_lo_chase_median_rr = df_lo.query('limit_reason == "chase_median_rr"')
df_lo_chase_mean_rr = df_lo.query('limit_reason == "chase_mean_rr"')
df_lo_chase_absent_tyo = df_lo.query('limit_reason == "chase_absent_tyo"')
df_lo_chase_absent_tmo = df_lo.query('limit_reason == "chase_absent_tmo"')
df_lo_chase_absent_two = df_lo.query('limit_reason == "chase_absent_two"')
df_lo_chase_absent_tdo = df_lo.query('limit_reason == "chase_absent_tdo"')
df_lo_chase_absent_t90mo = df_lo.query('limit_reason == "chase_absent_t90mo"')
df_lo_chase_tyo = df_lo.query('limit_reason == "chase_tyo"')
df_lo_chase_tmo = df_lo.query('limit_reason == "chase_tmo"')
df_lo_chase_two = df_lo.query('limit_reason == "chase_two"')
df_lo_chase_tdo = df_lo.query('limit_reason == "chase_tdo"')
df_lo_chase_t90mo = df_lo.query('limit_reason == "chase_t90mo"')

def basic_trade_stat(name, df) -> Tuple[str, int, float, float, float, float, float]:
    if len(df) == 0:
        return name, 0, 0, 0, 0, 0, 0
    return (
        name, len(df), round(df['cum_pnl_usd'].iloc[-1], 2),
        round(df['cum_pnl_minus_fees'].iloc[-1], 2), 
        round(df['cum_final_close_pnl'].iloc[-1], 2), 
        round(df['cum_pre_final_closes_pnl'].iloc[-1], 2), 
        round(len(df.query('won')) / len(df), 3)
    )

def basic_lo_stat(name, df) -> Tuple[str, int, int, float]:
    if len(df) == 0:
        return name, 0, 0, 0
    filled_orders = df.query('limit_status == "FILLED"')
    return name, len(df), len(filled_orders), round(100 * len(filled_orders) / len(df), 2)

df_trade_stat = pd.DataFrame([
    basic_trade_stat('market all', df_m),
    basic_trade_stat('limit all', df_l),
    basic_trade_stat('chase_median_rr', df_l_chase_median_rr),
    basic_trade_stat('chase_mean_rr', df_l_chase_mean_rr),
    basic_trade_stat('chase_absent_tyo', df_l_chase_absent_tyo),
    basic_trade_stat('chase_absent_tmo', df_l_chase_absent_tmo),
    basic_trade_stat('chase_absent_two', df_l_chase_absent_two),
    basic_trade_stat('chase_absent_tdo', df_l_chase_absent_tdo),
    basic_trade_stat('chase_absent_t90mo', df_l_chase_absent_t90mo),
    basic_trade_stat('chase_tyo', df_l_chase_tyo),
    basic_trade_stat('chase_tmo', df_l_chase_tmo),
    basic_trade_stat('chase_two', df_l_chase_two),
    basic_trade_stat('chase_tdo', df_l_chase_tdo),
    basic_trade_stat('chase_t90mo', df_l_chase_t90mo),
], columns=[
    'name',
    'trades',
    'cum_pnl',
    'minus_fees',
    'cum_final_close_pnl',
    'cum_pre_final_closes_pnl',
    'win_rate',
])

df_lo_stat = pd.DataFrame([
    basic_lo_stat('limit all', df_lo),
    basic_lo_stat('chase_median_rr', df_lo_chase_median_rr),
    basic_lo_stat('chase_mean_rr', df_lo_chase_mean_rr),
    basic_lo_stat('chase_absent_tyo', df_lo_chase_absent_tyo),
    basic_lo_stat('chase_absent_tmo', df_lo_chase_absent_tmo),
    basic_lo_stat('chase_absent_two', df_lo_chase_absent_two),
    basic_lo_stat('chase_absent_tdo', df_lo_chase_absent_tdo),
    basic_lo_stat('chase_absent_t90mo', df_lo_chase_absent_t90mo),
    basic_lo_stat('chase_tyo', df_lo_chase_tyo),
    basic_lo_stat('chase_tmo', df_lo_chase_tmo),
    basic_lo_stat('chase_two', df_lo_chase_two),
    basic_lo_stat('chase_tdo', df_lo_chase_tdo),
    basic_lo_stat('chase_t90mo', df_lo_chase_t90mo),
], columns=[
    'name',
    'orders',
    'trades',
    'conversion',
])

print(f"{f.name[23:34]}:")
print(f"Trade stat:")
display(df_trade_stat)
print(f"Limit orders stat:")
display(df_lo_stat)

strategy_29:
Trade stat:

,name,trades,cum_pnl,minus_fees,cum_final_close_pnl,cum_pre_final_closes_pnl,win_rate
0,market all,1702,1296.06,-21103.84,-2937.78,4233.84,0.400
1,limit all,3593,15201.47,-36647.09,-11012.81,26214.28,0.350
2,chase_median_rr,1191,4223.46,-11640.66,-5039.89,9263.36,0.340
3,chase_mean_rr,766,3262.26,-14520.01,-8292.29,11554.55,0.255
4,chase_absent_tyo,3,1703.84,1677.13,1283.81,420.03,1.000
5,chase_absent_tmo,3,140.30,130.40,140.30,0.00,1.000
6,chase_absent_two,12,223.34,75.40,241.19,-17.85,0.333
7,chase_absent_tdo,169,4911.69,3118.39,4758.53,153.16,0.396
8,chase_absent_t90mo,298,-1447.72,-4489.21,-2724.08,1276.35,0.436
9,chase_tyo,8,542.29,489.35,501.16,41.13,0.625
10,chase_tmo,40,708.31,-1010.01,731.10,-22.79,0.500
11,chase_two,124,4209.08,3160.49,3442.40,766.68,0.500
12,chase_tdo,455,-1115.19,-5490.89,-1768.82,653.63,0.455
13,chase_t90mo,524,-2160.17,-8147.47,-4286.22,2126.05,0.298

Limit orders stat:

                  name  orders  trades  conversion
0            limit all    7930    3593       45.31
1      chase_median_rr    1702    1191       69.98
2        chase_mean_rr    1703     766       44.98
3     chase_absent_tyo     456       3        0.66
4     chase_absent_tmo     348       3        0.86
5     chase_absent_two     159      12        7.55
6     chase_absent_tdo     471     169       35.88
7   chase_absent_t90mo     562     298       53.02
8            chase_tyo      52       8       15.38
9            chase_tmo     160      40       25.00
10           chase_two     500     124       24.80
11           chase_tdo     975     455       46.67
12         chase_t90mo     842     524       62.23

In [106]:
def group(fields: List[str], show_perc: str):
    def to_agg_df(label, df):
        if df.empty:
            return pd.DataFrame()

        agg_pnl = df.groupby(fields)["pnl_usd"].agg(["mean", "median", "count"])
        agg_wr  = df.groupby(fields)["won"].agg(["mean", "median", "count"])

        agg_pnl_filtered = agg_pnl[(agg_pnl["count"] > 4) & (agg_pnl["mean"] > 15)]
        if not agg_pnl_filtered.empty:
            display(label, agg_pnl_filtered)

        # округляем
        agg_pnl = agg_pnl.round({"mean": 2, "median": 2, "count": 0})
        agg_wr  = agg_wr.round({"mean": 2, "median": 2, "count": 0})

        # объединяем ячейки по логике
        def merge_cells(v1, v2, col_name):
            if col_name == "count":
                return int(v1) if not pd.isna(v1) else pd.NA
            if pd.isna(v1) or pd.isna(v2):
                return 0
            if isinstance(v1, str) and isinstance(v2, str) and v1 == v2:
                return v1
            return f"{v1}/{v2}"

        merged = pd.DataFrame(
            [
                [
                    merge_cells(a, b, col_name)
                    for (a, b, col_name) in zip(row_pnl, row_wr, agg_pnl.columns)
                ]
                for row_pnl, row_wr in zip(agg_pnl.values, agg_wr.values)
            ],
            index=agg_pnl.index,
            columns=agg_pnl.columns,
        )

        merged.columns = pd.MultiIndex.from_product([[label], merged.columns])
        for col in merged.columns:
            if col[1] == "count":  # второй уровень MultiIndex
                merged[col] = merged[col].astype("Int64")  # nullable integer
        return merged
    
    dfs = [
        ('market all', df_m),
        ('limit all', df_l),
        ('chase_median_rr', df_l_chase_median_rr),
        ('chase_mean_rr', df_l_chase_mean_rr),
        ('chase_absent_tyo', df_l_chase_absent_tyo),
        ('chase_absent_tmo', df_l_chase_absent_tmo),
        ('chase_absent_two', df_l_chase_absent_two),
        ('chase_absent_tdo', df_l_chase_absent_tdo),
        ('chase_absent_t90mo', df_l_chase_absent_t90mo),
        ('chase_tyo', df_l_chase_tyo),
        ('chase_tmo', df_l_chase_tmo),
        ('chase_two', df_l_chase_two),
        ('chase_tdo', df_l_chase_tdo),
        ('chase_t90mo', df_l_chase_t90mo),
    ]

    df_joined = pd.concat(
        [to_agg_df(label, df) for label, df in dfs if not df.empty],
        axis=1
    )
    
    if show_perc:
        for df_tuple in dfs:
            if df_tuple[1].empty:
                continue
            display(f"{df_tuple[0]} {[round(float(x), 2) for x in np.percentile(df_tuple[1][show_perc], [10, 30, 70, 90])]}")
    
    return df_joined

    # print("- pnl")
    # display(df_joined_pnl)
    # print("- winrate")
    # display(df_joined_wr)

df_group = group(["psp_key", "entry_rr_perc"], "entry_rr")
df_group

'market all'

                            mean  median  count
psp_key entry_rr_perc
2h      >=p90          38.763532  -100.0     46

'limit all'

                            mean     median  count
psp_key entry_rr_perc
2h      <p90           23.296578 -81.932037    231

'chase_median_rr'

                            mean     median  count
psp_key entry_rr_perc
1h      <p70           16.999562 -59.667156    252
        <p90           21.537388 -74.880498    153
2h      <p30           21.350326  47.569191     73
        <p90           22.854827 -82.453931     87

'chase_mean_rr'

                            mean     median  count
psp_key entry_rr_perc
2h      <p30           50.949840  73.765895     14
        <p70           39.367224 -47.074099     82

'chase_absent_tdo'

                             mean      median  count
psp_key entry_rr_perc
1h      <p70            61.812474  -49.871768     40
        >=p90           74.936906 -100.000000      5
2h      <p70            23.567278  -67.004660     31
        <p90           156.076351  -62.555221      9

'chase_absent_t90mo'

                            mean     median  count
psp_key entry_rr_perc
2h      <p90           72.884419  34.914818      8
4h      <p30           16.573500  29.299628     31

'chase_tmo'

                            mean     median  count
psp_key entry_rr_perc
1h      <p10           31.936406  31.692149      6

'chase_two'

                            mean     median  count
psp_key entry_rr_perc
1h      <p30           24.685585  34.371134     13
        <p70           16.883311 -55.666249     21
2h      <p30           30.968921  21.132611      9
4h      <p10           21.166965  22.157814      5
        <p70           69.583045  96.031403      8

'chase_tdo'

                            mean     median  count
psp_key entry_rr_perc
2h      <p90           47.042833 -68.524387     10
4h      <p70           29.264202 -50.897441     33

'chase_t90mo'

                            mean     median  count
psp_key entry_rr_perc
2h      <p90           66.774849 -75.560783     27
4h      <p30           16.204230  34.789651     28

'market all [0.35, 1.0, 3.29, 6.73]'

'limit all [0.58, 1.6, 5.18, 10.72]'

'chase_median_rr [0.63, 1.96, 5.53, 9.8]'

'chase_mean_rr [1.52, 4.11, 9.64, 17.82]'

'chase_absent_tyo [4.0, 6.39, 9.79, 10.79]'

'chase_absent_tmo [0.32, 0.42, 0.56, 0.59]'

'chase_absent_two [0.54, 1.34, 5.97, 10.86]'

'chase_absent_tdo [0.65, 1.42, 3.77, 7.59]'

'chase_absent_t90mo [0.46, 0.93, 2.71, 5.18]'

'chase_tyo [0.23, 1.12, 3.89, 5.45]'

'chase_tmo [0.39, 0.82, 2.19, 7.65]'

'chase_two [0.22, 0.83, 2.49, 6.6]'

'chase_tdo [0.25, 0.75, 2.42, 5.32]'

'chase_t90mo [0.87, 1.82, 4.56, 8.7]'

                        market all                      limit all              \
                              mean      median count         mean      median
psp_key entry_rr_perc
1h      <p10           -12.74/0.66    7.02/1.0    62   -3.88/0.68   12.64/1.0
        <p30           -10.74/0.52    2.69/1.0   132   -7.71/0.45   -37.3/0.0
        <p70            -0.44/0.36  -55.52/0.0   315    7.49/0.31  -61.25/0.0
        <p90            12.32/0.28   -70.6/0.0   199   12.82/0.21  -85.18/0.0
        >=p90          -13.38/0.15  -100.0/0.0   100  -13.17/0.11  -100.0/0.0
2h      <p10             4.95/0.82   10.62/1.0    51    8.14/0.78   11.41/1.0
        <p30              6.34/0.6   34.93/1.0   125   11.66/0.56   30.06/1.0
        <p70            -1.57/0.37  -49.11/0.0   245    4.94/0.32  -62.32/0.0
        <p90             13.3/0.25  -70.54/0.0   103    23.3/0.22  -81.93/0.0
        >=p90           38.76/0.17  -100.0/0.0    46  -13.61/0.11  -100.0/0.0
4h      <p10            -1.23/0.74   10.85/1.0    58   -5.11/0.66    8.91/1.0
        <p30              0.76/0.6   23.86/1.0    83   -3.65/0.49   -5.49/0.0
        <p70             5.18/0.39  -38.92/0.0   120   10.09/0.33   -56.9/0.0
        <p90            -25.8/0.13  -87.82/0.0    38   -6.24/0.16  -97.66/0.0
        >=p90           -36.6/0.08  -100.0/0.0    25  -16.19/0.08  -100.0/0.0

                            chase_median_rr                   chase_mean_rr  \
                      count            mean      median count          mean
psp_key entry_rr_perc
1h      <p10            119     -11.96/0.63   11.91/1.0    49    -9.54/0.67
        <p30            272     -17.44/0.42  -47.38/0.0    79   -17.51/0.42
        <p70            701       17.0/0.32  -59.67/0.0   252     1.32/0.29
        <p90            386      21.54/0.26  -74.88/0.0   153    10.35/0.17
        >=p90           207     -24.11/0.09  -100.0/0.0    66     0.32/0.12
2h      <p10            124      10.11/0.81    8.18/1.0    32     4.11/0.85
        <p30            263       21.35/0.6   47.57/1.0    73    50.95/0.79
        <p70            488      -4.97/0.31  -61.26/0.0   170    39.37/0.37
        <p90            231      22.85/0.21  -82.45/0.0    87   -18.48/0.17
        >=p90           117     -75.68/0.08  -100.0/0.0    24    -2.03/0.13
4h      <p10            117      -11.3/0.63    5.33/1.0    30     -38.5/0.5
        <p30            183      -5.37/0.44   -13.3/0.0    45   -15.76/0.53
        <p70            247      14.82/0.35  -50.95/0.0    80    10.13/0.32
        <p90            102     -50.66/0.09  -100.0/0.0    34    -0.47/0.17
        >=p90            36       6.32/0.12  -100.0/0.0    17   -13.57/0.07

                       ... chase_tmo    chase_two                    \
                       ...     count         mean      median count
psp_key entry_rr_perc  ...
1h      <p10           ...         6    2.46/0.75   11.09/1.0     8
        <p30           ...         4   24.69/0.69   34.37/1.0    13
        <p70           ...         6   16.88/0.33  -55.67/0.0    21
        <p90           ...      <NA>   -79.78/0.0  -79.78/0.0     2
        >=p90          ...         1   -81.53/0.0  -100.0/0.0     5
2h      <p10           ...         2   -4.87/0.69    11.7/1.0    13
        <p30           ...         5   30.97/0.56   21.13/1.0     9
        <p70           ...         5   10.85/0.36  -71.55/0.0    14
        <p90           ...         2    222.7/0.5  162.63/0.5     4
        >=p90          ...         2  273.37/0.25  -80.71/0.0     4
4h      <p10           ...         1    21.17/1.0   22.16/1.0     5
        <p30           ...         3  -11.29/0.38  -64.43/0.0    16
        <p70           ...         2   69.58/0.62   96.03/1.0     8
        <p90           ...      <NA>   623.91/1.0  623.91/1.0     2
        >=p90          ...         1          NaN         NaN  <NA>

                         chase_tdo                    chase_t90mo              \
                              mean      median count         mean      median
psp_key entry_rr_perc
1h      <p10            -3.17/0.65   10.51/1.0    26    26.06/1.0   33.71/1.0
        <p30            -1.31/0.45  -24.99/0.0    53   -6.19/0.43  -44.46/0.0
        <p70             -1.9/0.31  -72.44/0.0    61   -6.19/0.29  -66.77/0.0
        <p90            -8.97/0.21  -61.63/0.0    14   -8.27/0.16  -91.45/0.0
        >=p90           -100.0/0.0  -100.0/0.0     6  -36.57/0.11  -100.0/0.0
2h      <p10            10.78/0.81   14.48/1.0    42    20.41/0.5   20.41/0.5
        <p30            10.88/0.56   34.78/1.0    63   -3.87/0.48  -39.47/0.0
        <p70              -6.0/0.3  -66.58/0.0    56  -13.86/0.24  -69.71/0.0
        <p90             47.04/0.3  -68.52/0.0    10   66.77/0.22  -75.56/0.0
        >=p90           -94.77/0.0  -100.0/0.0     6   -19.2/0.11  -100.0/0.0
4h      <p10             -6.69/0.7   10.66/1.0    37      6.3/0.5    8.77/0.5
        <p30           -24.67/0.41  -54.37/0.0    34    16.2/0.57   34.79/1.0
        <p70            29.26/0.39   -50.9/0.0    33  -12.63/0.24  -65.22/0.0
        <p90           -42.17/0.17  -84.99/0.0    12   -7.37/0.12  -100.0/0.0
        >=p90           -100.0/0.0  -100.0/0.0     2   -100.0/0.0  -100.0/0.0


                      count
psp_key entry_rr_perc
1h      <p10              3
        <p30             46
        <p70            127
        <p90             45
        >=p90            18
2h      <p10              2
        <p30             42
        <p70             85
        <p90             27
        >=p90            18
4h      <p10             16
        <p30             28
        <p70             50
        <p90             16
        >=p90             1

[15 rows x 42 columns]

In [107]:
# group(["direction"])
# group(["asset"])
# group(["smt_type"])
# group(["smt_label"])
# group(["smt_flags"])

# display([round(float(x), 4) for x in np.percentile(trades_df_2024['entry_rr'], [10, 30, 70, 90])])
# display([round(float(x), 4) for x in np.percentile(trades_df_2025['entry_rr'], [10, 30, 70, 90])])

# group(["entry_rr_perc"])
# df_group = group(["direction", "psp_key"], "")
# df_group

In [108]:
df_group = group(["psp_key", "target_level"], "")
df_group

'limit all'

                           mean     median  count
psp_key target_level
1h      4             17.557067 -71.566338    366

'chase_mean_rr'

                           mean    median  count
psp_key target_level
1h      4             28.135499 -100.0000     89
2h      5             21.956427  -72.5107    189

'chase_absent_two'

                           mean  median  count
psp_key target_level
1h      5             27.120771  -100.0      6

'chase_absent_tdo'

                           mean     median  count
psp_key target_level
1h      4             71.712073 -62.555221     35
2h      5             38.549866 -67.004660     39

'chase_tyo'

                            mean     median  count
psp_key target_level
2h      5             104.241231  18.367207      5

'chase_tmo'

                           mean     median  count
psp_key target_level
2h      5             35.962767 -87.832303     14

'chase_two'

                            mean     median  count
psp_key target_level
2h      4              62.104709  15.643370     13
        5              49.810989  -5.617160     31
4h      4             104.243480  65.933796     18

'chase_t90mo'

                           mean    median  count
psp_key target_level
2h      4             25.521284 -71.36621     40

                      market all                     limit all              \
                            mean      median count        mean      median
psp_key target_level
1h      4              -2.74/0.3  -65.52/0.0   169  17.56/0.28  -71.57/0.0
        5             -1.21/0.38  -53.71/0.0   639  -1.14/0.32  -63.22/0.0
2h      4             -2.59/0.34  -62.07/0.0   126    3.45/0.3  -68.63/0.0
        5              9.32/0.45  -26.35/0.0   444    9.86/0.4  -48.33/0.0
4h      4             -4.39/0.35  -53.52/0.0   150   4.02/0.31  -63.94/0.0
        5             -3.58/0.55    8.08/1.0   174   -3.5/0.46  -10.96/0.0

                           chase_median_rr                   chase_mean_rr  \
                     count            mean      median count          mean
psp_key target_level
1h      4              366       13.0/0.28  -71.09/0.0   126     28.14/0.2
        5             1319       5.05/0.33  -62.28/0.0   473    -4.31/0.22
2h      4              277      -0.13/0.27  -72.52/0.0    84   -31.55/0.18
        5              946        4.04/0.4  -47.04/0.0   302    21.96/0.33
4h      4              320      -3.09/0.27  -68.17/0.0   100    -5.93/0.21
        5              365      -6.61/0.42   -29.9/0.0   106     1.18/0.35

                      ... chase_tmo    chase_two                    \
                      ...     count         mean      median count
psp_key target_level  ...
1h      4             ...         1     5.3/0.62   26.26/1.0     8
        5             ...        16    2.08/0.41  -49.33/0.0    41
2h      4             ...         2    62.1/0.54   15.64/1.0    13
        5             ...        14   49.81/0.48   -5.62/0.0    31
4h      4             ...         2  104.24/0.61   65.93/1.0    18
        5             ...         5  -11.28/0.54    11.7/1.0    13

                        chase_tdo                    chase_t90mo              \
                             mean      median count         mean      median
psp_key target_level
1h      4              -10.15/0.3  -77.03/0.0    30  -20.42/0.25  -69.88/0.0
        5              -5.29/0.42  -35.63/0.0   130    -4.37/0.3  -65.34/0.0
2h      4              14.26/0.28   -63.6/0.0    29   25.52/0.32  -71.37/0.0
        5               1.96/0.55    8.44/1.0   148   -6.44/0.27  -69.14/0.0
4h      4               4.65/0.32   -80.8/0.0    41   -0.94/0.32  -56.17/0.0
        5             -13.21/0.55    7.16/1.0    77   -4.83/0.37  -39.68/0.0


                     count
psp_key target_level
1h      4               61
        5              178
2h      4               40
        5              134
4h      4               62
        5               49

[6 rows x 42 columns]

In [109]:
df_group = group(["percents_till_stop_perc", "target_level"], "percents_till_stop")
df_group

'limit all'

                                           mean     median  count
percents_till_stop_perc target_level
<p30                    5             22.146717 -60.172995    576
<p70                    4             15.753693 -57.517043    388
>=p90                   4             21.658851 -52.724120    110

'chase_median_rr'

                                           mean     median  count
percents_till_stop_perc target_level
<p30                    5             18.649070 -59.971655    191
<p70                    4             17.352503 -62.756324    126

'chase_mean_rr'

                                           mean      median  count
percents_till_stop_perc target_level
<p30                    4             25.716374 -100.000000     37
                        5             23.998700 -100.000000    139
>=p90                   4             66.872491  -55.721441     21
                        5             19.472376    0.775864     42

'chase_absent_tdo'

                                            mean     median  count
percents_till_stop_perc target_level
<p30                    4              82.454211 -62.555221      9
                        5             119.670503  28.371667     23
<p70                    4              20.318439 -61.167314     24
>=p90                   4             110.020005  98.692373     13

'chase_absent_t90mo'

                                           mean     median  count
percents_till_stop_perc target_level
<p70                    4             15.542291 -41.031484     26
>=p90                   4             17.467887  59.942940     11

'chase_tyo'

                                           mean     median  count
percents_till_stop_perc target_level
<p70                    5             81.046925  18.367207      7

'chase_two'

                                           mean     median  count
percents_till_stop_perc target_level
<p30                    5             25.090576 -60.412611     16
<p70                    4             68.698520  65.933796     12
                        5             32.107983 -55.666249     36
<p90                    4             78.813771  26.255122     20

'chase_tdo'

                                           mean     median  count
percents_till_stop_perc target_level
<p30                    4             16.274867 -71.339429     15
<p70                    4             16.654093 -49.818557     47

'chase_t90mo'

                                           mean     median  count
percents_till_stop_perc target_level
<p30                    5             16.854744 -65.266763     88
<p70                    4             17.628709 -46.772591     70
<p90                    4             16.275110 -66.881152     43

'market all [0.34, 0.65, 1.52, 2.67]'

'limit all [0.31, 0.59, 1.4, 2.41]'

'chase_median_rr [0.31, 0.58, 1.38, 2.46]'

'chase_mean_rr [0.26, 0.52, 1.23, 2.2]'

'chase_absent_tyo [0.41, 0.44, 0.65, 0.82]'

'chase_absent_tmo [1.3, 1.74, 2.9, 3.61]'

'chase_absent_two [0.27, 0.52, 1.5, 1.66]'

'chase_absent_tdo [0.38, 0.78, 1.68, 2.66]'

'chase_absent_t90mo [0.48, 0.73, 1.75, 3.31]'

'chase_tyo [0.64, 0.72, 0.98, 1.25]'

'chase_tmo [0.51, 0.84, 1.7, 2.59]'

'chase_two [0.45, 0.88, 1.71, 2.44]'

'chase_tdo [0.33, 0.63, 1.39, 2.59]'

'chase_t90mo [0.28, 0.56, 1.29, 2.06]'

                                       market all                    \
                                             mean      median count
percents_till_stop_perc target_level
<p10                    4             -37.79/0.12  -100.0/0.0    25
                        5               6.66/0.27  -100.0/0.0   144
<p30                    4               0.15/0.26  -73.86/0.0    70
                        5              10.39/0.35  -52.14/0.0   259
<p70                    4              -2.61/0.31  -61.87/0.0   183
                        5               0.71/0.43  -35.83/0.0   510
<p90                    4               1.47/0.37  -50.31/0.0   116
                        5              -3.58/0.52    3.07/1.0   224
>=p90                   4              -4.07/0.47  -26.83/0.0    51
                        5              -3.89/0.59    9.69/1.0   120

                                        limit all                    \
                                             mean      median count
percents_till_stop_perc target_level
<p10                    4             -50.61/0.09  -100.0/0.0    56
                        5              -13.5/0.21  -100.0/0.0   288
<p30                    4               6.47/0.22  -78.04/0.0   143
                        5              22.15/0.33  -60.17/0.0   576
<p70                    4              15.75/0.33  -57.52/0.0   388
                        5              -3.98/0.34  -57.09/0.0  1056
<p90                    4               7.82/0.29  -67.27/0.0   266
                        5               2.19/0.47  -20.68/0.0   460
>=p90                   4              21.66/0.41  -52.72/0.0   110
                        5               3.46/0.57    7.59/1.0   250

                                     chase_median_rr                    \
                                                mean      median count
percents_till_stop_perc target_level
<p10                    4                -15.42/0.11  -100.0/0.0    19
                        5                 -6.16/0.21  -100.0/0.0    99
<p30                    4                 -12.89/0.2  -100.0/0.0    51
                        5                 18.65/0.31  -59.97/0.0   191
<p70                    4                 17.35/0.31  -62.76/0.0   126
                        5                 -5.58/0.32  -59.55/0.0   353
<p90                    4                   0.5/0.26  -66.34/0.0    78
                        5                   9.55/0.5   -2.46/0.5   150
>=p90                   4                   1.2/0.39  -60.19/0.0    36
                        5                  5.59/0.57    7.59/1.0    88

                                     chase_mean_rr  ... chase_tmo  \
                                              mean  ...     count
percents_till_stop_perc target_level                ...
<p10                    4               -93.96/0.0  ...         1
                        5                8.43/0.19  ...         1
<p30                    4               25.72/0.14  ...      <NA>
                        5                24.0/0.27  ...         4
<p70                    4               -6.81/0.21  ...         2
                        5               -8.39/0.23  ...        13
<p90                    4                3.22/0.21  ...         2
                        5               -2.02/0.37  ...        12
>=p90                   4               66.87/0.38  ...      <NA>
                        5                19.47/0.5  ...         5

                                        chase_two                    \
                                             mean      median count
percents_till_stop_perc target_level
<p10                    4              163.16/0.5  163.16/0.5     2
                        5                8.6/0.33  -100.0/0.0     3
<p30                    4               15.08/0.5   15.08/0.5     2
                        5              25.09/0.31  -60.41/0.0    16
<p70                    4               68.7/0.75   65.93/1.0    12
                        5              32.11/0.39  -55.67/0.0    36
<p90                    4              78.81/0.55   26.26/1.0    20
                        5              -4.27/0.65   21.13/1.0    20
>=p90                   4             -10.32/0.33  -74.86/0.0     3
                        5               -1.48/0.6    8.54/1.0    10

                                        chase_tdo                    \
                                             mean      median count
percents_till_stop_perc target_level
<p10                    4             -24.16/0.33  -100.0/0.0     3
                        5             -23.47/0.32  -64.22/0.0    34
<p30                    4               16.27/0.4  -71.34/0.0    15
                        5               -3.3/0.45  -34.46/0.0    74
<p70                    4              16.65/0.32  -49.82/0.0    47
                        5              -1.64/0.51    4.52/1.0   147
<p90                    4              -10.0/0.24  -82.65/0.0    25
                        5              -2.33/0.51    0.34/1.0    61
>=p90                   4               -40.5/0.2   -73.0/0.0    10
                        5               0.29/0.69   10.96/1.0    39

                                      chase_t90mo
                                             mean      median count
percents_till_stop_perc target_level
<p10                    4             -72.52/0.09  -100.0/0.0    11
                        5             -50.71/0.17  -100.0/0.0    47
<p30                    4             -50.77/0.13  -70.35/0.0    23
                        5              16.85/0.28  -65.27/0.0    88
<p70                    4              17.63/0.37  -46.77/0.0    70
                        5              -4.76/0.28   -63.4/0.0   149
<p90                    4               16.28/0.3  -66.88/0.0    43
                        5                0.9/0.44  -45.07/0.0    62
>=p90                   4             -15.72/0.31  -51.34/0.0    16
                        5              -21.61/0.4  -50.31/0.0    15

[10 rows x 42 columns]

In [110]:
# group(["psp_key", "direction", "entry_yq"])
# group(["psp_key", "direction", "entry_mw"])
# group(["psp_key", "direction", "entry_wd"])
# group(["psp_key", "direction", "entry_wd"])
# group(["psp_key", "direction", "entry_dq"])
# group(["psp_key", "direction", "entry_q90m"])
# group(["entry_yq"])
# group(["entry_mw"])
# group(["entry_wd"])
# group(["entry_dq"])
# group(["entry_q90m"])

In [111]:
# (trades_df_2024.groupby(["smt_label", "psp_key", "direction"])["pnl_usd"]
#  .agg(["mean", "median", "count"])
#  .reset_index())
# (trades_df_2025.groupby(["smt_label", "psp_key", "direction"])["pnl_usd"]
#  .agg(["mean", "median", "count"])
#  .reset_index())

In [112]:
# display([round(float(x), 4) for x in np.percentile(trades_df_2024['entry_rr'], [10, 30, 70, 90])])
# display([round(float(x), 4) for x in np.percentile(trades_df_2025['entry_rr'], [10, 30, 70, 90])])
# 
# display(trades_df_2024.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))
# display(trades_df_2025.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))
# 
# display(trades_df_2024.query("14 < entry_rr < 17")["pnl_usd"].agg(["mean", "median", "count"]))
# display(trades_df_2025.query("14 < entry_rr < 17")["pnl_usd"].agg(["mean", "median", "count"]))
# display(trades_df_2024.query("14 < entry_rr < 17")["won"].agg(["mean", "median", "count"]))
# display(trades_df_2025.query("14 < entry_rr < 17")["won"].agg(["mean", "median", "count"]))

In [113]:
# df_rr_change_2024 = trades_df_2024.query("won")[["entry_rr", "entry_rr_perc", "best_entry_rr"]]
# df_rr_change_2024["multiplier"] = df_rr_change_2024["best_entry_rr"] / df_rr_change_2024["entry_rr"]
# display([round(float(x), 4) for x in np.percentile(df_rr_change_2024['entry_rr'], [10, 30, 70, 90])])
# display(df_rr_change_2024.groupby("entry_rr_perc")["multiplier"].agg(["mean", "median", "count"]))
# 
# df_rr_change_2025 = trades_df_2025.query("won")[["entry_rr", "entry_rr_perc", "best_entry_rr"]]
# df_rr_change_2025["multiplier"] = df_rr_change_2025["best_entry_rr"] / df_rr_change_2025["entry_rr"]
# display([round(float(x), 4) for x in np.percentile(df_rr_change_2025['entry_rr'], [10, 30, 70, 90])])
# display(df_rr_change_2025.groupby("entry_rr_perc")["multiplier"].agg(["mean", "median", "count"]))