In [1]:
from stock_market_research_kit.smt_psp_trade import smt_psp_trades_from_json
from scripts.run_smt_strategies_analyzer import strategy28_2024_snapshot, strategy28_2025_snapshot, to_trade_df

with open(strategy28_2024_snapshot, "r", encoding="utf-8") as f_2024:
    trades_list_2024 = smt_psp_trades_from_json(f_2024.read())
    trades_df_2024 = to_trade_df(trades_list_2024)

with open(strategy28_2025_snapshot, "r", encoding="utf-8") as f_2025:
    trades_list_2025 = smt_psp_trades_from_json(f_2025.read())
    trades_df_2025 = to_trade_df(trades_list_2025)

In [2]:
import numpy as np
from IPython.display import display

print(f"{f_2024.name[23:34]}: {len(trades_df_2024)} trades with cum_pnl {round(trades_df_2024['cum_pnl_usd'].iloc[-1], 2)} (minus fees is {round(trades_df_2024['pnl_minus_fees'].iloc[-1], 2)})")
print(f"{f_2025.name[23:34]}: {len(trades_df_2025)} trades with cum_pnl {round(trades_df_2025['cum_pnl_usd'].iloc[-1], 2)} (minus fees is {round(trades_df_2025['pnl_minus_fees'].iloc[-1], 2)})")

display(trades_df_2024.groupby("direction")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("direction")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("asset")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("asset")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("smt_type")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("smt_type")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("smt_label")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("smt_label")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("smt_flags")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("smt_flags")["pnl_usd"].agg(["mean", "median", "count"]))

display([float(x) for x in np.percentile(trades_df_2024['entry_rr'], [10, 30, 70, 90])])
display([float(x) for x in np.percentile(trades_df_2025['entry_rr'], [10, 30, 70, 90])])

display(trades_df_2024.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))

display(
    trades_df_2024.groupby(["psp_key_used", "direction"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df_2025.groupby(["psp_key_used", "direction"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)

display(
    trades_df_2024.groupby(["psp_key_used", "direction", "entry_yq"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df_2025.groupby(["psp_key_used", "direction", "entry_yq"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)

display(
    trades_df_2024.groupby(["psp_key_used", "direction", "entry_mw"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df_2025.groupby(["psp_key_used", "direction", "entry_mw"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)

display(
    trades_df_2024.groupby(["psp_key_used", "direction", "entry_wd"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df_2025.groupby(["psp_key_used", "direction", "entry_wd"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)

display(
    trades_df_2024.groupby(["psp_key_used", "direction", "entry_dq"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df_2025.groupby(["psp_key_used", "direction", "entry_dq"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)

display(
    trades_df_2024.groupby(["psp_key_used", "direction", "entry_q90m"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df_2025.groupby(["psp_key_used", "direction", "entry_q90m"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)

display(trades_df_2024.groupby("entry_yq")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("entry_yq")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("entry_mw")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("entry_mw")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("entry_wd")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("entry_wd")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("entry_dq")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("entry_dq")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("entry_q90m")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("entry_q90m")["pnl_usd"].agg(["mean", "median", "count"]))

strategy_28: 940 trades with cum_pnl 7169.29 (minus fees is -112.61)
strategy_28: 629 trades with cum_pnl 17393.28 (minus fees is -105.65)

                mean  median  count
direction
DOWN        1.894760  -100.0    595
UP         17.512782  -100.0    345

                mean  median  count
direction
DOWN       12.420130  -100.0    380
UP         50.898116  -100.0    249

              mean  median  count
asset
BTCUSDT  20.461402  -100.0    314
ETHUSDT  15.076426  -100.0    314
SOLUSDT -12.787135  -100.0    312

              mean  median  count
asset
BTCUSDT  53.567584  -100.0    210
ETHUSDT   2.041422  -100.0    209
SOLUSDT  27.225858  -100.0    210

                mean  median  count
smt_type
half_high  -5.431320  -100.0    108
half_low   42.974079  -100.0    156
high        3.519435  -100.0    487
low        -3.502893  -100.0    189

                mean  median  count
smt_type
half_high  91.322181  -100.0     99
half_low   28.458672  -100.0    114
high      -15.378102  -100.0    281
low        69.846979  -100.0    135

                   mean  median  count
smt_label
fri SMT      -26.240989  -100.0    189
mon SMT       17.698273  -100.0    219
mon_fri SMT   19.869039  -100.0     24
mon_thu SMT  210.643656  -100.0     18
sat SMT      -51.381249  -100.0     45
thu SMT       -4.467757  -100.0    189
tue SMT       58.061043  -100.0    178
wed SMT      -40.946529  -100.0     78

                   mean  median  count
smt_label
fri SMT       14.641187  -100.0    126
mon SMT       -6.976343  -100.0    137
mon_fri SMT   67.003742  -100.0     39
mon_thu SMT  -38.305103  -100.0     27
sat SMT      113.929588  -100.0     45
thu SMT       32.411409  -100.0    111
tue SMT       -9.422997  -100.0     81
wed SMT      110.541370  -100.0     63

                mean  median  count
smt_flags
BEs       -20.550037  -100.0    174
BeS        19.444824  -100.0    177
Bes         7.731629  -100.0     78
bES        -4.185184  -100.0    147
bEs        65.442708  -100.0    159
beS       -15.073030  -100.0    205

                mean  median  count
smt_flags
BEs        97.123886  -100.0     87
BeS       -24.211668  -100.0    111
Bes        41.882251  -100.0     90
bES       -26.558267  -100.0    126
bEs        78.476750  -100.0     81
beS        36.203876  -100.0    134

[1.4763412560963187, 3.533367604800393, 8.726929951485337, 17.33177751545824]

[1.4913904224559378, 3.2796080104682104, 8.48719999999996, 16.964935064933737]

                    mean     median  count
entry_rr_perc
<p10            4.790383   33.72591     94
<p30           -1.251864 -100.00000    188
<p70           22.921634 -100.00000    376
<p90           29.000859 -100.00000    188
>=p90         -75.705849 -100.00000     94

                    mean      median  count
entry_rr_perc
<p10           16.549996   55.983193     63
<p30            0.300488 -100.000000    126
<p70            7.355929 -100.000000    251
<p90           94.056618 -100.000000    126
>=p90          41.512646 -100.000000     63

  psp_key_used direction       mean  median  count
0           4h      DOWN   1.894760  -100.0    595
1           4h        UP  17.512782  -100.0    345

  psp_key_used direction       mean  median  count
0           4h      DOWN  12.420130  -100.0    380
1           4h        UP  50.898116  -100.0    249

  psp_key_used direction entry_yq       mean  median  count
0           4h      DOWN      YQ1   2.217305  -100.0    171
1           4h      DOWN      YQ2  85.263116  -100.0    147
2           4h      DOWN      YQ3 -42.365421  -100.0    111
3           4h      DOWN      YQ4 -42.668032  -100.0    166
4           4h        UP      YQ1   8.307023  -100.0     87
5           4h        UP      YQ2  42.250692  -100.0    105
6           4h        UP      YQ3  41.945708  -100.0     60
7           4h        UP      YQ4 -17.568457  -100.0     93

  psp_key_used direction entry_yq        mean  median  count
0           4h      DOWN      YQ1   43.777165  -100.0    147
1           4h      DOWN      YQ2  -10.386108  -100.0     90
2           4h      DOWN      YQ3   -5.460450  -100.0    143
3           4h        UP      YQ1  -21.284365  -100.0     93
4           4h        UP      YQ2   49.799131  -100.0     90
5           4h        UP      YQ3  154.108408  -100.0     66

  psp_key_used direction entry_mw        mean  median  count
0           4h      DOWN      MW1  -38.044490  -100.0    159
1           4h      DOWN      MW2   59.287388  -100.0    141
2           4h      DOWN      MW3   24.724020  -100.0    126
3           4h      DOWN      MW4  -16.544981  -100.0    151
4           4h      DOWN      MW5 -100.000000  -100.0     18
5           4h        UP      MW1   51.117552  -100.0     66
6           4h        UP      MW2   83.405299  -100.0     87
7           4h        UP      MW3  -23.865698  -100.0     78
8           4h        UP      MW4  -10.803023  -100.0     87
9           4h        UP      MW5  -66.174901  -100.0     27

  psp_key_used direction entry_mw        mean      median  count
0           4h      DOWN      MW1  -17.703605 -100.000000     66
1           4h      DOWN      MW2  -40.269391 -100.000000    123
2           4h      DOWN      MW3   33.519367 -100.000000    102
3           4h      DOWN      MW4  131.671025 -100.000000     68
4           4h      DOWN      MW5  -72.922999 -100.000000     21
5           4h        UP      MW1   99.989939 -100.000000     45
6           4h        UP      MW2   88.924517 -100.000000     45
7           4h        UP      MW3   42.659753 -100.000000     57
8           4h        UP      MW4  -48.124300 -100.000000     72
9           4h        UP      MW5  173.527465  -16.449447     30

   psp_key_used direction entry_wd       mean      median  count
0            4h      DOWN      Fri -16.821050 -100.000000     66
1            4h      DOWN      Mon  28.648470 -100.000000     72
2            4h      DOWN      Sat -16.513455 -100.000000    111
3            4h      DOWN      Sun -23.981777 -100.000000     93
4            4h      DOWN      Thu  30.692678 -100.000000     90
5            4h      DOWN      Tue  46.792167 -100.000000     66
6            4h      DOWN      Wed -16.623131 -100.000000     97
7            4h        UP      Fri  65.727700 -100.000000     69
8            4h        UP      Mon   1.808189 -100.000000     36
9            4h        UP      Sat -13.172565 -100.000000     54
10           4h        UP      Sun  -1.646161 -100.000000     33
11           4h        UP      Thu -25.300545 -100.000000     42
12           4h        UP      Tue  60.671539   29.438186     42
13           4h        UP      Wed  10.458893 -100.000000     69

   psp_key_used direction entry_wd        mean      median  count
0            4h      DOWN      Fri   46.049049 -100.000000     54
1            4h      DOWN      Mon   -8.437325 -100.000000     18
2            4h      DOWN      Sat   12.490738 -100.000000     81
3            4h      DOWN      Sun  -39.328161 -100.000000     75
4            4h      DOWN      Thu   85.662290 -100.000000     53
5            4h      DOWN      Tue   52.782452 -100.000000     42
6            4h      DOWN      Wed  -42.705783 -100.000000     57
7            4h        UP      Fri   79.547101 -100.000000     48
8            4h        UP      Mon   37.178697  -33.773087     24
9            4h        UP      Sat   74.926452 -100.000000     51
10           4h        UP      Sun  103.307241 -100.000000     45
11           4h        UP      Thu  -21.992968 -100.000000     33
12           4h        UP      Tue   14.566905 -100.000000     21
13           4h        UP      Wed   -3.227063 -100.000000     27

  psp_key_used direction    entry_dq       mean  median  count
0           4h      DOWN    DQ1_Asia  29.362047  -100.0    188
1           4h      DOWN  DQ2_London  29.503035  -100.0    128
2           4h      DOWN    DQ3_NYAM -20.547052  -100.0    147
3           4h      DOWN    DQ4_NYPM -39.004959  -100.0    132
4           4h        UP    DQ1_Asia  30.642560  -100.0    111
5           4h        UP  DQ2_London   0.902902  -100.0     78
6           4h        UP    DQ3_NYAM  31.857291  -100.0     63
7           4h        UP    DQ4_NYPM   6.055374  -100.0     93

  psp_key_used direction    entry_dq        mean  median  count
0           4h      DOWN    DQ1_Asia   -3.839696  -100.0     87
1           4h      DOWN  DQ2_London   28.434347  -100.0     96
2           4h      DOWN    DQ3_NYAM   43.169042  -100.0     98
3           4h      DOWN    DQ4_NYPM  -19.258188  -100.0     99
4           4h        UP    DQ1_Asia  -33.346618  -100.0     66
5           4h        UP  DQ2_London  143.997329  -100.0     57
6           4h        UP    DQ3_NYAM   -6.558642  -100.0     60
7           4h        UP    DQ4_NYPM  106.972400  -100.0     66

  psp_key_used direction entry_q90m       mean  median  count
0           4h      DOWN     Q1_90m -25.421494  -100.0    204
1           4h      DOWN     Q2_90m  57.824398  -100.0    144
2           4h      DOWN     Q3_90m  -2.578948  -100.0    152
3           4h      DOWN     Q4_90m -17.066804  -100.0     95
4           4h        UP     Q1_90m   3.741678  -100.0    114
5           4h        UP     Q2_90m  55.527829  -100.0     93
6           4h        UP     Q3_90m  13.711447  -100.0    105
7           4h        UP     Q4_90m -29.952475  -100.0     33

  psp_key_used direction entry_q90m       mean  median  count
0           4h      DOWN     Q1_90m -15.863164  -100.0    111
1           4h      DOWN     Q2_90m   5.382623  -100.0    101
2           4h      DOWN     Q3_90m  15.603480  -100.0    123
3           4h      DOWN     Q4_90m  89.279721  -100.0     45
4           4h        UP     Q1_90m  98.349657  -100.0     93
5           4h        UP     Q2_90m -31.519152  -100.0     66
6           4h        UP     Q3_90m  97.664637  -100.0     60
7           4h        UP     Q4_90m  -8.416717  -100.0     30

               mean  median  count
entry_yq
YQ1        4.270814  -100.0    258
YQ2       67.341273  -100.0    252
YQ3      -12.782569  -100.0    171
YQ4      -33.655443  -100.0    259

               mean  median  count
entry_yq
YQ1       18.565822  -100.0    240
YQ2       19.706512  -100.0    180
YQ3       44.929716  -100.0    209

               mean  median  count
entry_mw
MW1      -11.890291  -100.0    225
MW2       68.490275  -100.0    228
MW3        6.145598  -100.0    204
MW4      -14.446030  -100.0    238
MW5      -79.704941  -100.0     45

               mean  median  count
entry_mw
MW1       30.009994  -100.0    111
MW2       -5.663880  -100.0    168
MW3       36.796109  -100.0    159
MW4       39.204858  -100.0    140
MW5       72.047862  -100.0     51

               mean  median  count
entry_wd
Fri       25.370533  -100.0    135
Mon       19.701709  -100.0    108
Sat      -15.420073  -100.0    165
Sun      -18.131973  -100.0    126
Thu       12.876653  -100.0    132
Tue       52.189701  -100.0    108
Wed       -5.366145  -100.0    166

               mean  median  count
entry_wd
Fri       61.812838  -100.0    102
Mon       17.628973  -100.0     42
Sat       36.613627  -100.0    132
Sun       14.160115  -100.0    120
Thu       44.352714  -100.0     86
Tue       40.043936  -100.0     63
Wed      -30.016194  -100.0     84

                 mean  median  count
entry_dq
DQ1_Asia    29.837422  -100.0    299
DQ2_London  18.673858  -100.0    206
DQ3_NYAM    -4.825749  -100.0    210
DQ4_NYPM   -20.380021  -100.0    225

                 mean  median  count
entry_dq
DQ1_Asia   -16.568173  -100.0    153
DQ2_London  71.487223  -100.0    153
DQ3_NYAM    24.285111  -100.0    158
DQ4_NYPM    31.234047  -100.0    165

                 mean  median  count
entry_q90m
Q1_90m     -14.966772  -100.0    318
Q2_90m      56.923212  -100.0    237
Q3_90m       4.076661  -100.0    257
Q4_90m     -20.388891  -100.0    128

                 mean  median  count
entry_q90m
Q1_90m      36.204445  -100.0    204
Q2_90m      -9.201312  -100.0    167
Q3_90m      42.508778  -100.0    183
Q4_90m      50.201146  -100.0     75

In [14]:
(trades_df_2024.groupby(["smt_type", "smt_label", "psp_key_used", "entry_wd"])["pnl_usd"]
 .agg(["mean", "median", "count"])
 .reset_index())

   smt_type  smt_label psp_key_used entry_wd        mean      median  count
0  half_low  week1 SMT           1d      Sun  -55.986381 -100.000000      3
1  half_low  week3 SMT           1d      Thu   45.606551   37.497987      3
2  half_low  week3 SMT           1d      Tue   -8.318603   26.875275      3
3       low  week1 SMT           1d      Sat   38.447918   55.145887      3
4       low  week2 SMT           1d      Tue  -23.918778  -44.412942      6
5       low  week3 SMT           1d      Fri -100.000000 -100.000000      3
6       low  week3 SMT           1d      Mon   38.445258 -100.000000      3
7       low  week3 SMT           1d      Thu   42.562572   47.923708      3
8       low  week3 SMT           1d      Tue  117.058329  106.391355      3

In [15]:
(trades_df_2025.groupby(["smt_type", "smt_label", "psp_key_used", "entry_wd"])["pnl_usd"]
 .agg(["mean", "median", "count"])
 .reset_index())

,entry_time,asset,pnl_usd,cum_pnl_usd,pnl_minus_fees,3d_pnl_cumsum,3d_window_start_date,3d_pnl_cumsum_last_in_window,stagnation_trades_count,stagnation_days,...,entry_mw,entry_wd,entry_dq,entry_q90m,entry_rr_perc,minutes_in_market_perc,entry_position_usd_perc,entry_tos,best_entry_tos,entry_date
0,2025-02-18 00:00,SOLUSDT,-100.000000,-100.000000,-105.424966,-100.000000,2025-02-18,-300.000000,1,0,...,MW3,Tue,DQ1_Asia,Q1_90m,>=p90,<p30,<p90,tmo-two-SOLUSDT,tmo-two-tdo-SOLUSDT,2025-02-18
1,2025-02-18 00:00,BTCUSDT,-100.000000,-200.000000,-114.495817,-200.000000,2025-02-18,-300.000000,2,0,...,MW3,Tue,DQ1_Asia,Q1_90m,<p90,<p70,>=p90,two-tmo-BTCUSDT,tdo-two-tmo-t90mo-BTCUSDT,2025-02-18
2,2025-02-18 00:00,ETHUSDT,-100.000000,-300.000000,-102.195403,-300.000000,2025-02-18,-300.000000,3,0,...,MW3,Tue,DQ1_Asia,Q1_90m,<p70,<p70,<p30,ETHUSDT-two-tmo,two-tdo-t90mo-ETHUSDT-tmo,2025-02-18
3,2025-03-31 00:00,BTCUSDT,-100.000000,-400.000000,-108.660370,-100.000000,2025-03-29,115.335775,4,41,...,MW5,Mon,DQ1_Asia,Q2_90m,>=p90,<p30,>=p90,BTCUSDT-t90mo-tmo,t90mo-BTCUSDT-tmo,2025-03-31
4,2025-03-31 00:00,SOLUSDT,-100.000000,-500.000000,-105.801719,-200.000000,2025-03-29,115.335775,5,41,...,MW5,Mon,DQ1_Asia,Q2_90m,>=p90,<p30,<p90,tmo-SOLUSDT-t90mo,tmo-SOLUSDT-t90mo,2025-03-31
5,2025-04-01 00:00,ETHUSDT,69.520473,-430.479527,65.899456,69.520473,2025-04-01,351.174986,0,0,...,MW5,Tue,DQ1_Asia,Q2_90m,<p70,<p30,<p70,tmo-two-t90mo-ETHUSDT,tmo-t90mo-tyo-tdo-two-ETHUSDT,2025-04-01
6,2025-04-01 00:00,BTCUSDT,106.391355,-324.088172,100.610885,175.911828,2025-04-01,351.174986,0,0,...,MW5,Tue,DQ1_Asia,Q2_90m,<p70,<p70,<p90,two-BTCUSDT-t90mo-tmo,t90mo-tdo-tyo-two-BTCUSDT-tmo,2025-04-01
7,2025-04-01 00:00,SOLUSDT,175.263158,-148.825014,169.287868,351.174986,2025-04-01,351.174986,0,0,...,MW5,Tue,DQ1_Asia,Q2_90m,<p90,<p70,<p90,tmo-two-t90mo-SOLUSDT,tmo-t90mo-tdo-tyo-two-SOLUSDT,2025-04-01
8,2025-03-31 00:00,ETHUSDT,315.335775,166.510761,311.222468,115.335775,2025-03-29,115.335775,1,0,...,MW5,Mon,DQ1_Asia,Q2_90m,<p90,>=p90,<p70,tmo-ETHUSDT-t90mo,tmo-t90mo-tdo-tyo-two-ETHUSDT,2025-03-31
9,2025-04-04 00:00,ETHUSDT,-100.000000,66.510761,-102.323978,-100.000000,2025-04-04,-300.000000,2,4,...,MW5,Fri,DQ1_Asia,Q2_90m,<p70,<p90,<p30,tmo-tyo-two-ETHUSDT-t90mo,tmo-tyo-two-tdo-t90mo-ETHUSDT,2025-04-04
10,2025-04-04 00:00,BTCUSDT,-100.000000,-33.489239,-103.680842,-200.000000,2025-04-04,-300.000000,3,4,...,MW5,Fri,DQ1_Asia,Q2_90m,<p70,>=p90,<p70,BTCUSDT-tyo-t90mo-two-tmo,tdo-tyo-two-tmo-t90mo-BTCUSDT,2025-04-04
11,2025-04-04 00:00,SOLUSDT,-100.000000,-133.489239,-102.101069,-300.000000,2025-04-04,-300.000000,4,4,...,MW5,Fri,DQ1_Asia,Q2_90m,<p90,>=p90,<p30,tmo-tyo-two-SOLUSDT-t90mo,tmo-tyo-two-tdo-t90mo-SOLUSDT,2025-04-04
12,2025-04-29 00:00,ETHUSDT,48.168915,-85.320324,45.309850,48.168915,2025-04-28,-24.955809,5,29,...,MW4,Tue,DQ1_Asia,Q2_90m,<p70,<p70,<p70,tyo-ETHUSDT-t90mo-two-tmo,tyo-tdo-two-t90mo-ETHUSDT-tmo,2025-04-29
13,2025-04-29 00:00,SOLUSDT,-100.000000,-185.320324,-104.072152,-51.831085,2025-04-28,-24.955809,6,29,...,MW4,Tue,DQ1_Asia,Q2_90m,<p90,<p70,<p70,SOLUSDT-two-t90mo-tmo-tyo,tdo-t90mo-two-SOLUSDT-tmo-tyo,2025-04-29
14,2025-05-01 00:00,SOLUSDT,16.204986,-169.115338,14.359425,16.204986,2025-05-01,136.819653,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p10,<p30,<p30,t90mo-two-SOLUSDT-tmo-tyo,t90mo-two-SOLUSDT-tmo-tyo,2025-05-01
15,2025-05-01 00:00,ETHUSDT,37.497987,-131.617350,34.883401,53.702974,2025-05-01,136.819653,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p30,<p30,<p70,tyo-t90mo-two-ETHUSDT-tmo,tyo-t90mo-two-ETHUSDT-tmo,2025-05-01
16,2025-05-01 00:00,BTCUSDT,83.116680,-48.500670,76.445558,136.819653,2025-05-01,136.819653,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p70,<p70,>=p90,two-t90mo-BTCUSDT-tmo-tyo,t90mo-tdo-two-BTCUSDT-tmo-tyo,2025-05-01
17,2025-04-29 00:00,BTCUSDT,26.875275,-21.625395,23.096231,-24.955809,2025-04-28,-24.955809,1,0,...,MW4,Tue,DQ1_Asia,Q2_90m,<p30,<p90,<p70,t90mo-BTCUSDT-two-tmo-tyo,t90mo-tdo-two-BTCUSDT-tmo-tyo,2025-04-29
18,2025-05-20 00:00,ETHUSDT,11.174116,-10.451279,9.904810,11.174116,2025-05-19,156.487332,0,0,...,MW3,Tue,DQ1_Asia,Q2_90m,<p10,<p10,<p10,ETHUSDT-two-t90mo-tmo-tyo,ETHUSDT-two-t90mo-tmo-tyo,2025-05-20
19,2025-05-20 00:00,BTCUSDT,45.313216,34.861937,42.573561,56.487332,2025-05-19,156.487332,0,0,...,MW3,Tue,DQ1_Asia,Q2_90m,<p30,<p70,<p70,BTCUSDT-t90mo-two-tmo-tyo,t90mo-tdo-two-tmo-BTCUSDT-tyo,2025-05-20
20,2025-05-20 00:00,SOLUSDT,100.000000,134.861937,97.948529,156.487332,2025-05-19,156.487332,0,0,...,MW3,Tue,DQ1_Asia,Q2_90m,<p70,<p90,<p30,tmo-SOLUSDT-two-t90mo-tyo,tmo-tdo-two-SOLUSDT-tyo,2025-05-20
21,2025-06-01 00:00,SOLUSDT,-100.000000,34.861937,-103.235070,-100.000000,2025-05-31,-167.959143,1,0,...,MW4,Sun,DQ1_Asia,Q2_90m,<p90,<p70,<p70,two-tmo-t90mo-SOLUSDT-tyo,two-tmo-t90mo-tdo-SOLUSDT-tyo,2025-06-01
22,2025-06-01 00:00,ETHUSDT,-100.000000,-65.138063,-104.239800,-200.000000,2025-05-31,-167.959143,2,0,...,MW4,Sun,DQ1_Asia,Q2_90m,<p70,<p70,<p70,two-t90mo-ETHUSDT-tmo-tyo,two-tmo-tdo-t90mo-ETHUSDT-tyo,2025-06-01
23,2025-06-01 00:00,BTCUSDT,32.040857,-33.097206,25.806008,-167.959143,2025-05-31,-167.959143,3,0,...,MW4,Sun,DQ1_Asia,Q2_90m,<p30,<p70,<p90,two-t90mo-BTCUSDT-tmo-tyo,two-tdo-tmo-BTCUSDT-tyo,2025-06-01
24,2025-06-14 00:00,SOLUSDT,55.697823,22.600617,53.961031,55.697823,2025-06-12,115.343754,0,0,...,MW2,Sat,DQ1_Asia,Q2_90m,<p70,<p90,<p10,two-tmo-SOLUSDT-t90mo-tyo,two-tmo-tdo-t90mo-SOLUSDT-tyo,2025-06-14
25,2025-06-14 00:00,BTCUSDT,4.500044,27.100661,1.702350,60.197867,2025-06-12,115.343754,0,0,...,MW2,Sat,DQ1_Asia,Q2_90m,<p10,<p90,<p70,two-tmo-BTCUSDT-t90mo-tyo,tmo-tdo-BTCUSDT-tyo,2025-06-14
26,2025-06-14 00:00,ETHUSDT,55.145887,82.246548,53.513003,115.343754,2025-06-12,115.343754,0,0,...,MW2,Sat,DQ1_Asia,Q2_90m,<p70,>=p90,<p10,two-ETHUSDT-t90mo-tmo-tyo,t90mo-tdo-tmo-ETHUSDT-tyo,2025-06-14
27,2025-07-31 00:00,ETHUSDT,17.264008,99.510556,14.784325,17.264008,2025-07-30,127.687716,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p30,<p30,<p70,ETHUSDT-two-t90mo-tmo-tyo,ETHUSDT-two-t90mo-tmo-tyo,2025-07-31
28,2025-07-31 00:00,BTCUSDT,47.923708,147.434264,42.784137,65.187716,2025-07-30,127.687716,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p30,<p30,<p90,tmo-two-BTCUSDT-t90mo-tyo,tmo-tdo-t90mo-two-BTCUSDT-tyo,2025-07-31
29,2025-07-31 00:00,SOLUSDT,62.500000,209.934264,60.389687,127.687716,2025-07-30,127.687716,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p70,<p70,<p30,two-SOLUSDT-t90mo-tmo-tyo,two-t90mo-tdo-SOLUSDT-tmo-tyo,2025-07-31