In [23]:
from stock_market_research_kit.smt_psp_trade import smt_psp_trades_from_json
from scripts.run_smt_strategies_analyzer import strategy24_2025_snapshot, to_trade_df

with open(strategy24_2025_snapshot, "r", encoding="utf-8") as f:
    json_str = f.read()
    trades_list = smt_psp_trades_from_json(json_str)
    trades_df = to_trade_df(trades_list)

In [26]:
import numpy as np
from IPython.display import display

print(f"{f.name[23:34]}: {len(trades_df)} trades with cum_pnl {round(trades_df['cum_pnl_usd'].iloc[-1], 2)} (minus fees is {round(trades_df['pnl_minus_fees'].iloc[-1], 2)})")
display(trades_df.groupby("direction")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df.groupby("asset")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df.groupby("smt_type")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df.groupby("smt_label")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df.groupby("smt_flags")["pnl_usd"].agg(["mean", "median", "count"]))
display([float(x) for x in np.percentile(trades_df['entry_rr'], [10, 30, 70, 90])])
display(trades_df.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))
display(
    trades_df.groupby(["psp_key_used", "direction"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df.groupby(["psp_key_used", "direction", "entry_yq"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df.groupby(["psp_key_used", "direction", "entry_mw"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df.groupby(["psp_key_used", "direction", "entry_wd"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df.groupby(["psp_key_used", "direction", "entry_dq"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df.groupby(["psp_key_used", "direction", "entry_q90m"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(trades_df.groupby("entry_yq")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df.groupby("entry_mw")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df.groupby("entry_wd")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df.groupby("entry_dq")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df.groupby("entry_q90m")["pnl_usd"].agg(["mean", "median", "count"]))

strategy_24: 18 trades with cum_pnl 267.36 (minus fees is 48.13)

                mean     median  count
direction
UP         14.853205  21.955172     18

              mean     median  count
asset
BTCUSDT   6.521089  19.987492      6
ETHUSDT   7.936389  22.723074      6
SOLUSDT  30.102135  31.786423      6

               mean     median  count
smt_type
half_low  30.822336  23.841954     12
low      -17.085059 -35.183364      6

                mean     median  count
smt_label
week1 SMT  41.346993  36.859739      9
week3 SMT -11.640584   7.991161      9

                 mean      median  count
smt_flags
bEs       -100.000000 -100.000000      3
beS         37.823846   33.406836     15

[0.0963654777841044,
 0.12263088034412821,
 0.39092613435840473,
 0.6906443108320849]

                     mean      median  count
entry_rr_perc
<p10             4.758939    4.758939      2
<p30           -16.768474   10.443396      4
<p70           -14.303847   21.955172      6
<p90            48.805884   50.557727      4
>=p90          107.756624  107.756624      2

  psp_key_used direction       mean     median  count
0           1d        UP  14.853205  21.955172     18

  psp_key_used direction entry_yq       mean     median  count
0           1d        UP      YQ2  12.614775  29.633271     15
1           1d        UP      YQ3  26.045355  14.277072      3

  psp_key_used direction entry_mw        mean      median  count
0           1d        UP      MW2   45.937618   40.726476      6
1           1d        UP      MW3   32.165742   36.859739      3
2           1d        UP      MW4   32.539124   21.975957      6
3           1d        UP      MW5 -100.000000 -100.000000      3

  psp_key_used direction entry_wd        mean      median  count
0           1d        UP      Fri    6.687653    7.991161      3
1           1d        UP      Sat -100.000000 -100.000000      3
2           1d        UP      Sun   65.829882   54.767369      3
3           1d        UP      Thu   26.045355   14.277072      3
4           1d        UP      Wed   45.278169   38.100225      6

  psp_key_used direction  entry_dq       mean     median  count
0           1d        UP  DQ1_Asia  14.853205  21.955172     18

  psp_key_used direction entry_q90m       mean     median  count
0           1d        UP     Q2_90m  14.853205  21.955172     18

               mean     median  count
entry_yq
YQ2       12.614775  29.633271     15
YQ3       26.045355  14.277072      3

                mean      median  count
entry_mw
MW2        45.937618   40.726476      6
MW3        32.165742   36.859739      3
MW4        32.539124   21.975957      6
MW5      -100.000000 -100.000000      3

                mean      median  count
entry_wd
Fri         6.687653    7.991161      3
Sat      -100.000000 -100.000000      3
Sun        65.829882   54.767369      3
Thu        26.045355   14.277072      3
Wed        45.278169   38.100225      6

               mean     median  count
entry_dq
DQ1_Asia  14.853205  21.955172     18

                 mean     median  count
entry_q90m
Q2_90m      14.853205  21.955172     18

In [14]:
(trades_df.groupby(["smt_type", "smt_label", "psp_key_used", "entry_wd"])["pnl_usd"]
 .agg(["mean", "median", "count"])
 .reset_index())

   smt_type  smt_label psp_key_used entry_wd        mean      median  count
0  half_low  week1 SMT           1d      Sun  -55.986381 -100.000000      3
1  half_low  week3 SMT           1d      Thu   45.606551   37.497987      3
2  half_low  week3 SMT           1d      Tue   -8.318603   26.875275      3
3       low  week1 SMT           1d      Sat   38.447918   55.145887      3
4       low  week2 SMT           1d      Tue  -23.918778  -44.412942      6
5       low  week3 SMT           1d      Fri -100.000000 -100.000000      3
6       low  week3 SMT           1d      Mon   38.445258 -100.000000      3
7       low  week3 SMT           1d      Thu   42.562572   47.923708      3
8       low  week3 SMT           1d      Tue  117.058329  106.391355      3

In [15]:
trades_df

,entry_time,asset,pnl_usd,cum_pnl_usd,pnl_minus_fees,3d_pnl_cumsum,3d_window_start_date,3d_pnl_cumsum_last_in_window,stagnation_trades_count,stagnation_days,...,entry_mw,entry_wd,entry_dq,entry_q90m,entry_rr_perc,minutes_in_market_perc,entry_position_usd_perc,entry_tos,best_entry_tos,entry_date
0,2025-02-18 00:00,SOLUSDT,-100.000000,-100.000000,-105.424966,-100.000000,2025-02-18,-300.000000,1,0,...,MW3,Tue,DQ1_Asia,Q1_90m,>=p90,<p30,<p90,tmo-two-SOLUSDT,tmo-two-tdo-SOLUSDT,2025-02-18
1,2025-02-18 00:00,BTCUSDT,-100.000000,-200.000000,-114.495817,-200.000000,2025-02-18,-300.000000,2,0,...,MW3,Tue,DQ1_Asia,Q1_90m,<p90,<p70,>=p90,two-tmo-BTCUSDT,tdo-two-tmo-t90mo-BTCUSDT,2025-02-18
2,2025-02-18 00:00,ETHUSDT,-100.000000,-300.000000,-102.195403,-300.000000,2025-02-18,-300.000000,3,0,...,MW3,Tue,DQ1_Asia,Q1_90m,<p70,<p70,<p30,ETHUSDT-two-tmo,two-tdo-t90mo-ETHUSDT-tmo,2025-02-18
3,2025-03-31 00:00,BTCUSDT,-100.000000,-400.000000,-108.660370,-100.000000,2025-03-29,115.335775,4,41,...,MW5,Mon,DQ1_Asia,Q2_90m,>=p90,<p30,>=p90,BTCUSDT-t90mo-tmo,t90mo-BTCUSDT-tmo,2025-03-31
4,2025-03-31 00:00,SOLUSDT,-100.000000,-500.000000,-105.801719,-200.000000,2025-03-29,115.335775,5,41,...,MW5,Mon,DQ1_Asia,Q2_90m,>=p90,<p30,<p90,tmo-SOLUSDT-t90mo,tmo-SOLUSDT-t90mo,2025-03-31
5,2025-04-01 00:00,ETHUSDT,69.520473,-430.479527,65.899456,69.520473,2025-04-01,351.174986,0,0,...,MW5,Tue,DQ1_Asia,Q2_90m,<p70,<p30,<p70,tmo-two-t90mo-ETHUSDT,tmo-t90mo-tyo-tdo-two-ETHUSDT,2025-04-01
6,2025-04-01 00:00,BTCUSDT,106.391355,-324.088172,100.610885,175.911828,2025-04-01,351.174986,0,0,...,MW5,Tue,DQ1_Asia,Q2_90m,<p70,<p70,<p90,two-BTCUSDT-t90mo-tmo,t90mo-tdo-tyo-two-BTCUSDT-tmo,2025-04-01
7,2025-04-01 00:00,SOLUSDT,175.263158,-148.825014,169.287868,351.174986,2025-04-01,351.174986,0,0,...,MW5,Tue,DQ1_Asia,Q2_90m,<p90,<p70,<p90,tmo-two-t90mo-SOLUSDT,tmo-t90mo-tdo-tyo-two-SOLUSDT,2025-04-01
8,2025-03-31 00:00,ETHUSDT,315.335775,166.510761,311.222468,115.335775,2025-03-29,115.335775,1,0,...,MW5,Mon,DQ1_Asia,Q2_90m,<p90,>=p90,<p70,tmo-ETHUSDT-t90mo,tmo-t90mo-tdo-tyo-two-ETHUSDT,2025-03-31
9,2025-04-04 00:00,ETHUSDT,-100.000000,66.510761,-102.323978,-100.000000,2025-04-04,-300.000000,2,4,...,MW5,Fri,DQ1_Asia,Q2_90m,<p70,<p90,<p30,tmo-tyo-two-ETHUSDT-t90mo,tmo-tyo-two-tdo-t90mo-ETHUSDT,2025-04-04
10,2025-04-04 00:00,BTCUSDT,-100.000000,-33.489239,-103.680842,-200.000000,2025-04-04,-300.000000,3,4,...,MW5,Fri,DQ1_Asia,Q2_90m,<p70,>=p90,<p70,BTCUSDT-tyo-t90mo-two-tmo,tdo-tyo-two-tmo-t90mo-BTCUSDT,2025-04-04
11,2025-04-04 00:00,SOLUSDT,-100.000000,-133.489239,-102.101069,-300.000000,2025-04-04,-300.000000,4,4,...,MW5,Fri,DQ1_Asia,Q2_90m,<p90,>=p90,<p30,tmo-tyo-two-SOLUSDT-t90mo,tmo-tyo-two-tdo-t90mo-SOLUSDT,2025-04-04
12,2025-04-29 00:00,ETHUSDT,48.168915,-85.320324,45.309850,48.168915,2025-04-28,-24.955809,5,29,...,MW4,Tue,DQ1_Asia,Q2_90m,<p70,<p70,<p70,tyo-ETHUSDT-t90mo-two-tmo,tyo-tdo-two-t90mo-ETHUSDT-tmo,2025-04-29
13,2025-04-29 00:00,SOLUSDT,-100.000000,-185.320324,-104.072152,-51.831085,2025-04-28,-24.955809,6,29,...,MW4,Tue,DQ1_Asia,Q2_90m,<p90,<p70,<p70,SOLUSDT-two-t90mo-tmo-tyo,tdo-t90mo-two-SOLUSDT-tmo-tyo,2025-04-29
14,2025-05-01 00:00,SOLUSDT,16.204986,-169.115338,14.359425,16.204986,2025-05-01,136.819653,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p10,<p30,<p30,t90mo-two-SOLUSDT-tmo-tyo,t90mo-two-SOLUSDT-tmo-tyo,2025-05-01
15,2025-05-01 00:00,ETHUSDT,37.497987,-131.617350,34.883401,53.702974,2025-05-01,136.819653,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p30,<p30,<p70,tyo-t90mo-two-ETHUSDT-tmo,tyo-t90mo-two-ETHUSDT-tmo,2025-05-01
16,2025-05-01 00:00,BTCUSDT,83.116680,-48.500670,76.445558,136.819653,2025-05-01,136.819653,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p70,<p70,>=p90,two-t90mo-BTCUSDT-tmo-tyo,t90mo-tdo-two-BTCUSDT-tmo-tyo,2025-05-01
17,2025-04-29 00:00,BTCUSDT,26.875275,-21.625395,23.096231,-24.955809,2025-04-28,-24.955809,1,0,...,MW4,Tue,DQ1_Asia,Q2_90m,<p30,<p90,<p70,t90mo-BTCUSDT-two-tmo-tyo,t90mo-tdo-two-BTCUSDT-tmo-tyo,2025-04-29
18,2025-05-20 00:00,ETHUSDT,11.174116,-10.451279,9.904810,11.174116,2025-05-19,156.487332,0,0,...,MW3,Tue,DQ1_Asia,Q2_90m,<p10,<p10,<p10,ETHUSDT-two-t90mo-tmo-tyo,ETHUSDT-two-t90mo-tmo-tyo,2025-05-20
19,2025-05-20 00:00,BTCUSDT,45.313216,34.861937,42.573561,56.487332,2025-05-19,156.487332,0,0,...,MW3,Tue,DQ1_Asia,Q2_90m,<p30,<p70,<p70,BTCUSDT-t90mo-two-tmo-tyo,t90mo-tdo-two-tmo-BTCUSDT-tyo,2025-05-20
20,2025-05-20 00:00,SOLUSDT,100.000000,134.861937,97.948529,156.487332,2025-05-19,156.487332,0,0,...,MW3,Tue,DQ1_Asia,Q2_90m,<p70,<p90,<p30,tmo-SOLUSDT-two-t90mo-tyo,tmo-tdo-two-SOLUSDT-tyo,2025-05-20
21,2025-06-01 00:00,SOLUSDT,-100.000000,34.861937,-103.235070,-100.000000,2025-05-31,-167.959143,1,0,...,MW4,Sun,DQ1_Asia,Q2_90m,<p90,<p70,<p70,two-tmo-t90mo-SOLUSDT-tyo,two-tmo-t90mo-tdo-SOLUSDT-tyo,2025-06-01
22,2025-06-01 00:00,ETHUSDT,-100.000000,-65.138063,-104.239800,-200.000000,2025-05-31,-167.959143,2,0,...,MW4,Sun,DQ1_Asia,Q2_90m,<p70,<p70,<p70,two-t90mo-ETHUSDT-tmo-tyo,two-tmo-tdo-t90mo-ETHUSDT-tyo,2025-06-01
23,2025-06-01 00:00,BTCUSDT,32.040857,-33.097206,25.806008,-167.959143,2025-05-31,-167.959143,3,0,...,MW4,Sun,DQ1_Asia,Q2_90m,<p30,<p70,<p90,two-t90mo-BTCUSDT-tmo-tyo,two-tdo-tmo-BTCUSDT-tyo,2025-06-01
24,2025-06-14 00:00,SOLUSDT,55.697823,22.600617,53.961031,55.697823,2025-06-12,115.343754,0,0,...,MW2,Sat,DQ1_Asia,Q2_90m,<p70,<p90,<p10,two-tmo-SOLUSDT-t90mo-tyo,two-tmo-tdo-t90mo-SOLUSDT-tyo,2025-06-14
25,2025-06-14 00:00,BTCUSDT,4.500044,27.100661,1.702350,60.197867,2025-06-12,115.343754,0,0,...,MW2,Sat,DQ1_Asia,Q2_90m,<p10,<p90,<p70,two-tmo-BTCUSDT-t90mo-tyo,tmo-tdo-BTCUSDT-tyo,2025-06-14
26,2025-06-14 00:00,ETHUSDT,55.145887,82.246548,53.513003,115.343754,2025-06-12,115.343754,0,0,...,MW2,Sat,DQ1_Asia,Q2_90m,<p70,>=p90,<p10,two-ETHUSDT-t90mo-tmo-tyo,t90mo-tdo-tmo-ETHUSDT-tyo,2025-06-14
27,2025-07-31 00:00,ETHUSDT,17.264008,99.510556,14.784325,17.264008,2025-07-30,127.687716,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p30,<p30,<p70,ETHUSDT-two-t90mo-tmo-tyo,ETHUSDT-two-t90mo-tmo-tyo,2025-07-31
28,2025-07-31 00:00,BTCUSDT,47.923708,147.434264,42.784137,65.187716,2025-07-30,127.687716,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p30,<p30,<p90,tmo-two-BTCUSDT-t90mo-tyo,tmo-tdo-t90mo-two-BTCUSDT-tyo,2025-07-31
29,2025-07-31 00:00,SOLUSDT,62.500000,209.934264,60.389687,127.687716,2025-07-30,127.687716,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p70,<p70,<p30,two-SOLUSDT-t90mo-tmo-tyo,two-t90mo-tdo-SOLUSDT-tmo-tyo,2025-07-31