In [1]:
from stock_market_research_kit.smt_psp_trade import smt_psp_trades_from_json
from scripts.run_smt_strategies_analyzer import strategy01_2024_snapshot, strategy01_2025_snapshot, to_trade_df

with open(strategy01_2024_snapshot, "r", encoding="utf-8") as f_2024:
    trades_list_2024 = smt_psp_trades_from_json(f_2024.read())
    trades_df_2024 = to_trade_df(trades_list_2024)

with open(strategy01_2025_snapshot, "r", encoding="utf-8") as f_2025:
    trades_list_2025 = smt_psp_trades_from_json(f_2025.read())
    trades_df_2025 = to_trade_df(trades_list_2025)

In [2]:
import numpy as np
from IPython.display import display

print(f"{f_2024.name[23:34]}: {len(trades_df_2024)} trades with cum_pnl {round(trades_df_2024['cum_pnl_usd'].iloc[-1], 2)} (minus fees is {round(trades_df_2024['pnl_minus_fees'].iloc[-1], 2)})")
print(f"{f_2025.name[23:34]}: {len(trades_df_2025)} trades with cum_pnl {round(trades_df_2025['cum_pnl_usd'].iloc[-1], 2)} (minus fees is {round(trades_df_2025['pnl_minus_fees'].iloc[-1], 2)})")

display(trades_df_2024.groupby("direction")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("direction")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("asset")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("asset")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("smt_type")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("smt_type")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("smt_label")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("smt_label")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("smt_flags")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("smt_flags")["pnl_usd"].agg(["mean", "median", "count"]))

display([float(x) for x in np.percentile(trades_df_2024['entry_rr'], [10, 30, 70, 90])])
display([float(x) for x in np.percentile(trades_df_2025['entry_rr'], [10, 30, 70, 90])])

display(trades_df_2024.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))

display(
    trades_df_2024.groupby(["psp_key_used", "direction"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df_2025.groupby(["psp_key_used", "direction"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)

display(
    trades_df_2024.groupby(["psp_key_used", "direction", "entry_yq"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df_2025.groupby(["psp_key_used", "direction", "entry_yq"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)

display(
    trades_df_2024.groupby(["psp_key_used", "direction", "entry_mw"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df_2025.groupby(["psp_key_used", "direction", "entry_mw"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)

display(
    trades_df_2024.groupby(["psp_key_used", "direction", "entry_wd"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df_2025.groupby(["psp_key_used", "direction", "entry_wd"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)

display(
    trades_df_2024.groupby(["psp_key_used", "direction", "entry_dq"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df_2025.groupby(["psp_key_used", "direction", "entry_dq"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)

display(
    trades_df_2024.groupby(["psp_key_used", "direction", "entry_q90m"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)
display(
    trades_df_2025.groupby(["psp_key_used", "direction", "entry_q90m"])["pnl_usd"]
    .agg(["mean", "median", "count"])
    .reset_index()
)

display(trades_df_2024.groupby("entry_yq")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("entry_yq")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("entry_mw")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("entry_mw")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("entry_wd")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("entry_wd")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("entry_dq")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("entry_dq")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.groupby("entry_q90m")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("entry_q90m")["pnl_usd"].agg(["mean", "median", "count"]))

strategy_01: 596 trades with cum_pnl 15007.32 (minus fees is -179.86)
strategy_01: 314 trades with cum_pnl 2373.27 (minus fees is -471.5)

                mean     median  count
direction
DOWN       41.315349 -58.583524    380
UP         -3.206061 -63.915747    216

                mean     median  count
direction
DOWN       -0.864656 -57.568349    201
UP         22.540436 -71.965672    113

              mean    median  count
asset
BTCUSDT  25.180073 -61.41909    596

             mean     median  count
asset
BTCUSDT  7.558196 -65.525544    314

                mean     median  count
smt_type
half_high  -7.800886 -64.244871    103
half_low    5.098261 -55.320069     87
high       59.578786 -57.628106    277
low        -8.806650 -76.179428    129

               mean     median  count
smt_type
half_low  48.851592 -93.117284     55
high      -0.864656 -57.568349    201
low       -2.409798 -67.910547     58

                  mean      median  count
smt_label
fri SMT      91.004394  -33.124046     98
mon SMT      58.321874  -61.636829    147
mon_fri SMT -36.875869 -100.000000     20
mon_thu SMT -14.288742  -78.936701      9
sat SMT     -36.418670 -100.000000     36
thu SMT     -19.599276  -57.356480    120
tue SMT      -0.030906  -51.552335     90
wed SMT      26.940262  -63.915747     76

                   mean      median  count
smt_label
fri SMT       14.225744  -52.469856     45
mon SMT       -7.927940  -43.582033    101
mon_fri SMT  173.342141  -88.360402     14
mon_thu SMT  -64.775212  -81.927711      8
sat SMT      -24.153073 -100.000000     23
thu SMT        5.942071  -56.112941     44
tue SMT       35.418750  -70.832177     40
wed SMT      -12.754662 -100.000000     39

                 mean      median  count
smt_flags
BEs        -13.651913  -53.258254    122
BeS         63.917533  -52.253391    120
Bes         11.973911  -41.756922     70
bES         -8.533878  -59.011249     78
bEs        110.364778  -49.647386     72
beS          6.596698 -100.000000    134

                mean      median  count
smt_flags
BEs        62.563976  -30.395764     46
BeS       -15.237955 -100.000000     56
Bes        -0.432672  -33.634468     35
bES       -33.326990  -63.855422     67
bEs        10.018585  -57.613284     46
beS        33.372704 -100.000000     64

[2.006700680440839, 3.140638716336376, 7.854182449352154, 20.882629856197113]

[2.3945028815479183, 3.6448327253240285, 8.911895928977401, 19.29117778433863]

                     mean      median  count
entry_rr_perc
<p10           -14.088926  -26.988328     60
<p30             8.089299  -22.040238    119
<p70             1.192620  -57.318968    238
<p90            36.559796 -100.000000    119
>=p90          170.926217 -100.000000     60

                    mean      median  count
entry_rr_perc
<p10          -20.461280  -53.894848     32
<p30           -4.212333  -21.566253     62
<p70           -3.869654  -54.850631    126
<p90           70.693572 -100.000000     62
>=p90         -18.944561 -100.000000     32

  psp_key_used direction       mean      median  count
0           1h      DOWN  63.604140  -65.226994    208
1           1h        UP  -7.809556  -64.026316    125
2           2h      DOWN  15.145933  -52.842862    123
3           2h        UP   4.874073 -100.000000     59
4           4h      DOWN  12.392278  -53.013253     49
5           4h        UP  -0.121407  -35.941511     32

  psp_key_used direction        mean      median  count
0           1h      DOWN   -8.274288  -61.453627    119
1           1h        UP   16.616819  -86.254053     70
2           2h      DOWN   -0.736854  -53.132162     59
3           2h        UP  -53.880911 -100.000000     27
4           4h      DOWN   37.144297  -76.720804     23
5           4h        UP  177.417283    0.024963     16

   psp_key_used direction entry_yq        mean      median  count
0            1h      DOWN      YQ1   35.995972  -81.996092     64
1            1h      DOWN      YQ2  -29.198073  -81.425108     32
2            1h      DOWN      YQ3   86.423048  -63.824753     54
3            1h      DOWN      YQ4  124.024356  -54.950628     58
4            1h        UP      YQ1   -3.403627  -44.817432     23
5            1h        UP      YQ2  -13.230592 -100.000000     37
6            1h        UP      YQ3  -18.144314  -55.223881     37
7            1h        UP      YQ4    9.391447  -77.239669     28
8            2h      DOWN      YQ1    1.711018 -100.000000     42
9            2h      DOWN      YQ2   57.949919  -43.377549     22
10           2h      DOWN      YQ3   -1.303519  -73.881247     25
11           2h      DOWN      YQ4   16.140493   -2.627093     34
12           2h        UP      YQ1   67.617773  -14.316821     13
13           2h        UP      YQ2  -19.345258 -100.000000     16
14           2h        UP      YQ3   12.410527 -100.000000     21
15           2h        UP      YQ4  -60.284185  -55.925724      9
16           4h      DOWN      YQ1    6.642299 -100.000000     14
17           4h      DOWN      YQ2   -0.233944  -58.552890     11
18           4h      DOWN      YQ3   83.282197  -27.451212     10
19           4h      DOWN      YQ4  -22.572797  -55.320679     14
20           4h        UP      YQ1  -57.313828  -57.237937      7
21           4h        UP      YQ2   35.384169   16.171876     12
22           4h        UP      YQ3  -38.812654  -40.224228      6
23           4h        UP      YQ4   29.368239 -100.000000      7

   psp_key_used direction entry_yq        mean      median  count
0            1h      DOWN      YQ1   17.786027  -54.657534     37
1            1h      DOWN      YQ2    0.513592  -52.469856     41
2            1h      DOWN      YQ3  -40.580012  -88.727991     41
3            1h        UP      YQ1   18.110632  -73.562784     35
4            1h        UP      YQ2   -2.002364 -100.000000     23
5            1h        UP      YQ3   47.946636  -37.290397     12
6            2h      DOWN      YQ1  -40.633342  -53.132162     19
7            2h      DOWN      YQ2  -16.604959  -48.142375     21
8            2h      DOWN      YQ3   56.698065  -55.555556     19
9            2h        UP      YQ1  -40.953814  -61.937620     16
10           2h        UP      YQ2 -100.000000 -100.000000      6
11           2h        UP      YQ3  -39.904714  -59.318996      5
12           4h      DOWN      YQ1   12.709227  -26.595745      8
13           4h      DOWN      YQ2  -81.355715 -100.000000      6
14           4h      DOWN      YQ3  137.864367  -32.525698      9
15           4h        UP      YQ1  235.038919   46.655689      6
16           4h        UP      YQ2   77.233688    3.607383      5
17           4h        UP      YQ3  208.454914   -3.557457      5

   psp_key_used direction entry_mw        mean      median  count
0            1h      DOWN      MW1   -0.660705  -62.096774     41
1            1h      DOWN      MW2   93.704785  -29.663313     60
2            1h      DOWN      MW3    7.927854  -65.552731     39
3            1h      DOWN      MW4  128.002990 -100.000000     58
4            1h      DOWN      MW5   -9.889681 -100.000000     10
5            1h        UP      MW1   11.555091 -100.000000     24
6            1h        UP      MW2    3.702258  -50.037436     30
7            1h        UP      MW3  -16.026289  -54.479339     29
8            1h        UP      MW4   -4.783928 -100.000000     31
9            1h        UP      MW5  -68.320019  -76.179428     11
10           2h      DOWN      MW1  -19.536159  -69.577626     33
11           2h      DOWN      MW2   61.214200  -64.244871     29
12           2h      DOWN      MW3  -20.218889  -52.842862     27
13           2h      DOWN      MW4   31.688066  -29.288215     29
14           2h      DOWN      MW5   71.877457   50.969529      5
15           2h        UP      MW1  -19.516447  -46.951901     10
16           2h        UP      MW2   94.827819  -81.108312     20
17           2h        UP      MW3  -77.585122 -100.000000     12
18           2h        UP      MW4  -48.592494 -100.000000     12
19           2h        UP      MW5   20.061962  -51.166966      5
20           4h      DOWN      MW1  -20.076853  -75.298037     14
21           4h      DOWN      MW2   87.542998  -29.123576     12
22           4h      DOWN      MW3   44.427425  -26.671686     10
23           4h      DOWN      MW4  -39.996375  -57.628106     11
24           4h      DOWN      MW5  -83.266264  -83.266264      2
25           4h        UP      MW1  -30.173577  -27.692328      8
26           4h        UP      MW2  -12.404364  -12.809924      4
27           4h        UP      MW3  -27.864036  -24.769797      3
28           4h        UP      MW4   29.698570  -73.589436     13
29           4h        UP      MW5   -3.842062    1.644925      4

   psp_key_used direction entry_mw        mean      median  count
0            1h      DOWN      MW1   -4.550080  -75.708973     10
1            1h      DOWN      MW2   48.642449  -33.745206     38
2            1h      DOWN      MW3  -33.696497  -57.995163     43
3            1h      DOWN      MW4  -43.464650 -100.000000     19
4            1h      DOWN      MW5  -56.974977 -100.000000      9
5            1h        UP      MW1   13.487812 -100.000000     17
6            1h        UP      MW2   65.825867  -74.769643     20
7            1h        UP      MW3  -35.035300  -55.576248     16
8            1h        UP      MW4  -32.549093  -78.615702     12
9            1h        UP      MW5  113.704228  -32.798395      5
10           2h      DOWN      MW1  -41.882374 -100.000000      5
11           2h      DOWN      MW2  -33.071491  -44.127214     17
12           2h      DOWN      MW3  -64.543555  -83.575248     16
13           2h      DOWN      MW4   95.571988  -54.374375     18
14           2h      DOWN      MW5   13.517976  -37.877970      3
15           2h        UP      MW1  -68.200839 -100.000000      6
16           2h        UP      MW2  -67.011392  -85.757946      6
17           2h        UP      MW3  -12.183807   33.675373      7
18           2h        UP      MW4  -73.094548 -100.000000      5
19           2h        UP      MW5  -64.250611  -59.318996      3
20           4h      DOWN      MW1  -68.737748 -100.000000      4
21           4h      DOWN      MW2  -43.531434  -76.720804      9
22           4h      DOWN      MW3  -53.064140  -72.725275      6
23           4h      DOWN      MW4  459.859390  183.264349      4
24           4h        UP      MW1  -54.229086  -59.129800      3
25           4h        UP      MW2   45.907473   45.907473      2
26           4h        UP      MW3  170.192227  124.937954      4
27           4h        UP      MW4  252.306816   51.803691      6
28           4h        UP      MW5  714.939024  714.939024      1

   psp_key_used direction entry_wd        mean      median  count
0            1h      DOWN      Fri  -27.515988  -74.321713     36
1            1h      DOWN      Mon  -55.472852  -79.254659     24
2            1h      DOWN      Sat  179.655459  -47.175201     44
3            1h      DOWN      Sun    3.051139 -100.000000     22
4            1h      DOWN      Thu  259.609949  -35.827755     30
5            1h      DOWN      Tue  -11.957715 -100.000000     24
6            1h      DOWN      Wed    2.796663  -51.720843     28
7            1h        UP      Fri  -40.526726 -100.000000     19
8            1h        UP      Mon   23.302112  -58.052677     16
9            1h        UP      Sat    3.882947  -28.600324     19
10           1h        UP      Sun  -55.073833 -100.000000     16
11           1h        UP      Thu   56.086885    4.659852     18
12           1h        UP      Tue  -15.578749 -100.000000     13
13           1h        UP      Wed  -24.110638  -77.239669     24
14           2h      DOWN      Fri   29.597794  -61.009083     24
15           2h      DOWN      Mon  -55.207989  -58.759334      8
16           2h      DOWN      Sat   68.648585  -11.407451     22
17           2h      DOWN      Sun  -75.740995 -100.000000     12
18           2h      DOWN      Thu  -25.965012  -50.984820     24
19           2h      DOWN      Tue   27.200920 -100.000000     13
20           2h      DOWN      Wed   63.121900   -2.592119     20
21           2h        UP      Fri   40.427873   22.037138      6
22           2h        UP      Mon  -18.514679  -75.583483      8
23           2h        UP      Sat   -2.069026  -17.348809      3
24           2h        UP      Sun  -73.643577  -77.660035      8
25           2h        UP      Thu   34.708522 -100.000000     17
26           2h        UP      Tue   96.156810 -100.000000      8
27           2h        UP      Wed  -63.424795 -100.000000      9
28           4h      DOWN      Fri  -39.160693  -92.043183      7
29           4h      DOWN      Mon  -61.864893  -73.253211      4
30           4h      DOWN      Sat   66.440018  -31.561788     10
31           4h      DOWN      Sun  -64.933115  -53.013253      7
32           4h      DOWN      Thu  -43.472296 -100.000000      7
33           4h      DOWN      Tue   41.722071  -40.878673      7
34           4h      DOWN      Wed  133.027037  -57.628106      7
35           4h        UP      Fri   90.744051  -63.813230      5
36           4h        UP      Mon  -31.164819   -3.396624      5
37           4h        UP      Sat   -8.809317  -62.384899      6
38           4h        UP      Sun    9.382229    9.382229      2
39           4h        UP      Thu  -37.337537  -16.635226      5
40           4h        UP      Tue   31.618088   31.618088      1
41           4h        UP      Wed  -14.077517  -69.374715      8

   psp_key_used direction entry_wd        mean      median  count
0            1h      DOWN      Fri  -63.898263 -100.000000     19
1            1h      DOWN      Mon   -6.542023  -28.843843     12
2            1h      DOWN      Sat    4.365442  -48.466609     12
3            1h      DOWN      Sun   86.966903  -69.598338     22
4            1h      DOWN      Thu  -14.295465  -61.045602     20
5            1h      DOWN      Tue  -33.825638  -52.517830     12
6            1h      DOWN      Wed  -43.904963  -94.363995     22
7            1h        UP      Fri  -51.794410 -100.000000     12
8            1h        UP      Mon   -8.110413   13.413638      5
9            1h        UP      Sat  -25.510629  -78.615702      8
10           1h        UP      Sun  -12.245143  -48.326908     12
11           1h        UP      Thu  128.868926 -100.000000     17
12           1h        UP      Tue  -71.997573  -96.558642      8
13           1h        UP      Wed   70.187242   10.023074      8
14           2h      DOWN      Fri  -24.206783  -13.854749     13
15           2h      DOWN      Mon  -44.485454  -48.142375      7
16           2h      DOWN      Sat  227.879974  -83.575248      6
17           2h      DOWN      Sun  -66.511555 -100.000000      5
18           2h      DOWN      Thu  -38.110557 -100.000000     13
19           2h      DOWN      Tue   77.039873   15.553668      6
20           2h      DOWN      Wed  -46.545789  -67.026354      9
21           2h        UP      Fri  -33.162313  -33.162313      2
22           2h        UP      Mon    1.557907    1.557907      2
23           2h        UP      Sat -100.000000 -100.000000      1
24           2h        UP      Sun  -52.269588  -52.359347      7
25           2h        UP      Thu  -28.042562  -25.079392      4
26           2h        UP      Tue  -63.143219 -100.000000      7
27           2h        UP      Wed  -92.878973 -100.000000      4
28           4h      DOWN      Fri  -62.620414 -100.000000      5
29           4h      DOWN      Sat  207.405875  -88.360402      6
30           4h      DOWN      Sun -100.000000 -100.000000      3
31           4h      DOWN      Thu  135.002631   46.808511      3
32           4h      DOWN      Tue  -54.377356  -45.450549      3
33           4h      DOWN      Wed   -6.296725  -11.413485      3
34           4h        UP      Fri  261.458006  215.446500      4
35           4h        UP      Mon   49.958636 -100.000000      3
36           4h        UP      Sat  310.550947  310.550947      1
37           4h        UP      Sun  -79.564900  -79.564900      2
38           4h        UP      Thu   97.711165   97.711165      2
39           4h        UP      Tue  324.031278   48.221271      4

   psp_key_used direction    entry_dq        mean      median  count
0            1h      DOWN    DQ1_Asia  241.880710  -21.452879     64
1            1h      DOWN  DQ2_London   16.993088  -73.913043     49
2            1h      DOWN    DQ3_NYAM  -18.692278 -100.000000     37
3            1h      DOWN    DQ4_NYPM  -41.237093  -65.670443     58
4            1h        UP    DQ1_Asia   -6.258594  -64.573278     31
5            1h        UP  DQ2_London  -26.314450 -100.000000     27
6            1h        UP    DQ3_NYAM   20.792196  -33.966828     26
7            1h        UP    DQ4_NYPM  -14.933779  -49.640632     41
8            2h      DOWN    DQ1_Asia   59.734686  -14.019699     36
9            2h      DOWN  DQ2_London  -35.188620  -62.296682     27
10           2h      DOWN    DQ3_NYAM   13.165287 -100.000000     25
11           2h      DOWN    DQ4_NYPM    9.527475  -51.663921     35
12           2h        UP    DQ1_Asia  -33.483303 -100.000000     15
13           2h        UP  DQ2_London   46.443351  -48.179556     18
14           2h        UP    DQ3_NYAM  -30.699711 -100.000000      7
15           2h        UP    DQ4_NYPM    8.880922 -100.000000     19
16           4h      DOWN    DQ1_Asia   62.583080  -48.167693     23
17           4h      DOWN  DQ2_London  -10.090167  -39.538856      9
18           4h      DOWN    DQ3_NYAM  -15.697620  -50.594218      8
19           4h      DOWN    DQ4_NYPM  -68.421860  -73.969808      9
20           4h        UP    DQ1_Asia  -40.152003  -60.525583     12
21           4h        UP  DQ2_London   98.980291    5.273953      6
22           4h        UP    DQ3_NYAM  -49.993193  -38.749429      3
23           4h        UP    DQ4_NYPM    3.094259    0.725664     11

   psp_key_used direction    entry_dq        mean      median  count
0            1h      DOWN    DQ1_Asia  -18.865509  -89.392032     28
1            1h      DOWN  DQ2_London   -9.690712  -29.870348     30
2            1h      DOWN    DQ3_NYAM  -56.483784 -100.000000     37
3            1h      DOWN    DQ4_NYPM   80.175640  -52.517830     24
4            1h        UP    DQ1_Asia  -33.370233 -100.000000     11
5            1h        UP  DQ2_London   48.068848   -9.750297     21
6            1h        UP    DQ3_NYAM  -56.817428  -73.562784     17
7            1h        UP    DQ4_NYPM   70.795257  -93.117284     21
8            2h      DOWN    DQ1_Asia  -49.187223  -83.575248     14
9            2h      DOWN  DQ2_London   58.343116  -67.179162     18
10           2h      DOWN    DQ3_NYAM  -27.057931  -25.866359     16
11           2h      DOWN    DQ4_NYPM    2.536140  -45.372981     11
12           2h        UP    DQ1_Asia  -53.371714 -100.000000      7
13           2h        UP  DQ2_London  -77.835294 -100.000000      5
14           2h        UP    DQ3_NYAM  -64.293171  -71.515892      9
15           2h        UP    DQ4_NYPM  -18.894599  -25.079392      6
16           4h      DOWN    DQ1_Asia  -43.233572  -55.706742      4
17           4h      DOWN  DQ2_London  239.237612 -100.000000      5
18           4h      DOWN    DQ3_NYAM  -39.578333  -66.262849      6
19           4h      DOWN    DQ4_NYPM    8.566882  -31.566035      8
20           4h        UP    DQ1_Asia   -2.229541   -6.688622      3
21           4h        UP  DQ2_London  496.785025  440.384455      4
22           4h        UP    DQ3_NYAM    2.637737 -100.000000      4
23           4h        UP    DQ4_NYPM  169.534819    3.607383      5

   psp_key_used direction entry_q90m        mean      median  count
0            1h      DOWN     Q1_90m   87.416473  -48.476007     67
1            1h      DOWN     Q2_90m  144.798642  -20.312302     37
2            1h      DOWN     Q3_90m   30.880361  -81.996092     64
3            1h      DOWN     Q4_90m    0.971614 -100.000000     40
4            1h        UP     Q1_90m  -23.507912  -55.223881     55
5            1h        UP     Q2_90m   11.672857  -88.089714     18
6            1h        UP     Q3_90m   17.154040  -64.018265     35
7            1h        UP     Q4_90m  -29.044832  -85.221675     17
8            2h      DOWN     Q1_90m    1.669048  -50.984820     28
9            2h      DOWN     Q2_90m   31.750053  -64.244871     27
10           2h      DOWN     Q3_90m   38.384669  -10.196780     51
11           2h      DOWN     Q4_90m  -58.744302 -100.000000     17
12           2h        UP     Q1_90m   -5.157385 -100.000000     24
13           2h        UP     Q2_90m  -26.001252 -100.000000     13
14           2h        UP     Q3_90m   39.773825  -49.955869     19
15           2h        UP     Q4_90m   -2.112947 -100.000000      3
16           4h      DOWN     Q1_90m   24.713543 -100.000000     11
17           4h      DOWN     Q2_90m   72.159985  -45.575824     15
18           4h      DOWN     Q3_90m  -36.505433  -56.519475     14
19           4h      DOWN     Q4_90m  -26.216785  -53.013253      9
20           4h        UP     Q1_90m  -31.360989  -62.384899      4
21           4h        UP     Q2_90m  -36.267008  -60.525583     10
22           4h        UP     Q3_90m   41.906184    0.725664     15
23           4h        UP     Q4_90m  -48.121247  -33.133592      3

   psp_key_used direction entry_q90m        mean      median  count
0            1h      DOWN     Q1_90m   22.820635  -48.466609     42
1            1h      DOWN     Q2_90m  -56.335349 -100.000000     13
2            1h      DOWN     Q3_90m   -1.479957  -73.220111     38
3            1h      DOWN     Q4_90m  -44.404194  -57.721339     26
4            1h        UP     Q1_90m   16.542144  -53.869088     22
5            1h        UP     Q2_90m  -18.817827 -100.000000     19
6            1h        UP     Q3_90m   -9.212069  -85.015705     20
7            1h        UP     Q4_90m  149.003365 -100.000000      9
8            2h      DOWN     Q1_90m  -31.556643  -48.142375     21
9            2h      DOWN     Q2_90m   95.043823  -55.555556     13
10           2h      DOWN     Q3_90m  -24.211717  -55.350255     22
11           2h      DOWN     Q4_90m  -27.898941  -18.300533      3
12           2h        UP     Q1_90m  -65.173091  -85.757946      4
13           2h        UP     Q2_90m  -77.666308 -100.000000      8
14           2h        UP     Q3_90m  -20.234681  -20.028561      9
15           2h        UP     Q4_90m  -65.108274  -85.982836      6
16           4h      DOWN     Q1_90m  -81.816850 -100.000000      3
17           4h      DOWN     Q2_90m  -50.909998  -66.262849      6
18           4h      DOWN     Q3_90m  128.197606  -76.720804     11
19           4h      DOWN     Q4_90m   -1.648099   46.808511      3
20           4h        UP     Q1_90m  145.907473  145.907473      2
21           4h        UP     Q2_90m -100.000000 -100.000000      3
22           4h        UP     Q3_90m  330.374906  176.741646      8
23           4h        UP     Q4_90m   67.954108   -6.688622      3

               mean     median  count
entry_yq
YQ1       17.596000 -77.593361    163
YQ2       -0.280458 -57.976445    130
YQ3       31.526040 -63.813230    153
YQ4       49.014338 -53.746296    150

               mean     median  count
entry_yq
YQ1       11.376594 -57.568349    121
YQ2      -10.545756 -84.953630    102
YQ3       22.773326 -59.318996     91

               mean     median  count
entry_mw
MW1       -8.554531 -62.196728    130
MW2       67.135623 -45.575824    155
MW3      -10.598545 -58.038893    120
MW4       49.076863 -73.735341    154
MW5      -15.476235 -64.573278     37

               mean      median  count
entry_mw
MW1      -19.388070 -100.000000     45
MW2       20.659552  -52.801776     92
MW3      -30.055583  -62.572830     92
MW4       54.557563  -57.399877     64
MW5       29.451784  -59.318996     21

               mean      median  count
entry_wd
Fri       -6.474986  -66.532529     97
Mon      -30.024303  -58.915907     65
Sat       97.059829  -25.872078    104
Sun      -41.012898 -100.000000     67
Thu       81.918349  -50.305719    101
Tue       14.500457 -100.000000     66
Wed       10.519117  -56.053722     96

               mean      median  count
entry_wd
Fri      -26.979687 -100.000000     55
Mon       -9.567683  -33.634468     29
Sat       78.546068  -62.190951     34
Sun       11.936381 -100.000000     51
Thu       32.164156  -70.031411     59
Tue        4.283538  -52.384773     40
Wed      -26.385422  -70.832177     46

                 mean     median  count
entry_dq
DQ1_Asia    98.851574 -45.477128    181
DQ2_London   3.758301 -62.196728    136
DQ3_NYAM    -2.946637 -78.516568    106
DQ4_NYPM   -17.824260 -64.901257    173

                 mean      median  count
entry_dq
DQ1_Asia   -31.897804 -100.000000     67
DQ2_London  54.976533  -52.469856     83
DQ3_NYAM   -48.250346  -74.229075     89
DQ4_NYPM    56.555398  -44.127214     75

                 mean      median  count
entry_q90m
Q1_90m      24.514972  -58.915907    189
Q2_90m      56.721884  -57.356480    120
Q3_90m      27.310970  -54.637975    198
Q4_90m     -20.676454 -100.000000     89

                 mean      median  count
entry_q90m
Q1_90m       4.738047  -48.757309     94
Q2_90m     -17.437403 -100.000000     62
Q3_90m      28.684475  -55.350255    108
Q4_90m      -1.778144  -85.982836     50

In [14]:
(trades_df_2024.groupby(["smt_type", "smt_label", "psp_key_used", "entry_wd"])["pnl_usd"]
 .agg(["mean", "median", "count"])
 .reset_index())

   smt_type  smt_label psp_key_used entry_wd        mean      median  count
0  half_low  week1 SMT           1d      Sun  -55.986381 -100.000000      3
1  half_low  week3 SMT           1d      Thu   45.606551   37.497987      3
2  half_low  week3 SMT           1d      Tue   -8.318603   26.875275      3
3       low  week1 SMT           1d      Sat   38.447918   55.145887      3
4       low  week2 SMT           1d      Tue  -23.918778  -44.412942      6
5       low  week3 SMT           1d      Fri -100.000000 -100.000000      3
6       low  week3 SMT           1d      Mon   38.445258 -100.000000      3
7       low  week3 SMT           1d      Thu   42.562572   47.923708      3
8       low  week3 SMT           1d      Tue  117.058329  106.391355      3

In [15]:
(trades_df_2025.groupby(["smt_type", "smt_label", "psp_key_used", "entry_wd"])["pnl_usd"]
 .agg(["mean", "median", "count"])
 .reset_index())

,entry_time,asset,pnl_usd,cum_pnl_usd,pnl_minus_fees,3d_pnl_cumsum,3d_window_start_date,3d_pnl_cumsum_last_in_window,stagnation_trades_count,stagnation_days,...,entry_mw,entry_wd,entry_dq,entry_q90m,entry_rr_perc,minutes_in_market_perc,entry_position_usd_perc,entry_tos,best_entry_tos,entry_date
0,2025-02-18 00:00,SOLUSDT,-100.000000,-100.000000,-105.424966,-100.000000,2025-02-18,-300.000000,1,0,...,MW3,Tue,DQ1_Asia,Q1_90m,>=p90,<p30,<p90,tmo-two-SOLUSDT,tmo-two-tdo-SOLUSDT,2025-02-18
1,2025-02-18 00:00,BTCUSDT,-100.000000,-200.000000,-114.495817,-200.000000,2025-02-18,-300.000000,2,0,...,MW3,Tue,DQ1_Asia,Q1_90m,<p90,<p70,>=p90,two-tmo-BTCUSDT,tdo-two-tmo-t90mo-BTCUSDT,2025-02-18
2,2025-02-18 00:00,ETHUSDT,-100.000000,-300.000000,-102.195403,-300.000000,2025-02-18,-300.000000,3,0,...,MW3,Tue,DQ1_Asia,Q1_90m,<p70,<p70,<p30,ETHUSDT-two-tmo,two-tdo-t90mo-ETHUSDT-tmo,2025-02-18
3,2025-03-31 00:00,BTCUSDT,-100.000000,-400.000000,-108.660370,-100.000000,2025-03-29,115.335775,4,41,...,MW5,Mon,DQ1_Asia,Q2_90m,>=p90,<p30,>=p90,BTCUSDT-t90mo-tmo,t90mo-BTCUSDT-tmo,2025-03-31
4,2025-03-31 00:00,SOLUSDT,-100.000000,-500.000000,-105.801719,-200.000000,2025-03-29,115.335775,5,41,...,MW5,Mon,DQ1_Asia,Q2_90m,>=p90,<p30,<p90,tmo-SOLUSDT-t90mo,tmo-SOLUSDT-t90mo,2025-03-31
5,2025-04-01 00:00,ETHUSDT,69.520473,-430.479527,65.899456,69.520473,2025-04-01,351.174986,0,0,...,MW5,Tue,DQ1_Asia,Q2_90m,<p70,<p30,<p70,tmo-two-t90mo-ETHUSDT,tmo-t90mo-tyo-tdo-two-ETHUSDT,2025-04-01
6,2025-04-01 00:00,BTCUSDT,106.391355,-324.088172,100.610885,175.911828,2025-04-01,351.174986,0,0,...,MW5,Tue,DQ1_Asia,Q2_90m,<p70,<p70,<p90,two-BTCUSDT-t90mo-tmo,t90mo-tdo-tyo-two-BTCUSDT-tmo,2025-04-01
7,2025-04-01 00:00,SOLUSDT,175.263158,-148.825014,169.287868,351.174986,2025-04-01,351.174986,0,0,...,MW5,Tue,DQ1_Asia,Q2_90m,<p90,<p70,<p90,tmo-two-t90mo-SOLUSDT,tmo-t90mo-tdo-tyo-two-SOLUSDT,2025-04-01
8,2025-03-31 00:00,ETHUSDT,315.335775,166.510761,311.222468,115.335775,2025-03-29,115.335775,1,0,...,MW5,Mon,DQ1_Asia,Q2_90m,<p90,>=p90,<p70,tmo-ETHUSDT-t90mo,tmo-t90mo-tdo-tyo-two-ETHUSDT,2025-03-31
9,2025-04-04 00:00,ETHUSDT,-100.000000,66.510761,-102.323978,-100.000000,2025-04-04,-300.000000,2,4,...,MW5,Fri,DQ1_Asia,Q2_90m,<p70,<p90,<p30,tmo-tyo-two-ETHUSDT-t90mo,tmo-tyo-two-tdo-t90mo-ETHUSDT,2025-04-04
10,2025-04-04 00:00,BTCUSDT,-100.000000,-33.489239,-103.680842,-200.000000,2025-04-04,-300.000000,3,4,...,MW5,Fri,DQ1_Asia,Q2_90m,<p70,>=p90,<p70,BTCUSDT-tyo-t90mo-two-tmo,tdo-tyo-two-tmo-t90mo-BTCUSDT,2025-04-04
11,2025-04-04 00:00,SOLUSDT,-100.000000,-133.489239,-102.101069,-300.000000,2025-04-04,-300.000000,4,4,...,MW5,Fri,DQ1_Asia,Q2_90m,<p90,>=p90,<p30,tmo-tyo-two-SOLUSDT-t90mo,tmo-tyo-two-tdo-t90mo-SOLUSDT,2025-04-04
12,2025-04-29 00:00,ETHUSDT,48.168915,-85.320324,45.309850,48.168915,2025-04-28,-24.955809,5,29,...,MW4,Tue,DQ1_Asia,Q2_90m,<p70,<p70,<p70,tyo-ETHUSDT-t90mo-two-tmo,tyo-tdo-two-t90mo-ETHUSDT-tmo,2025-04-29
13,2025-04-29 00:00,SOLUSDT,-100.000000,-185.320324,-104.072152,-51.831085,2025-04-28,-24.955809,6,29,...,MW4,Tue,DQ1_Asia,Q2_90m,<p90,<p70,<p70,SOLUSDT-two-t90mo-tmo-tyo,tdo-t90mo-two-SOLUSDT-tmo-tyo,2025-04-29
14,2025-05-01 00:00,SOLUSDT,16.204986,-169.115338,14.359425,16.204986,2025-05-01,136.819653,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p10,<p30,<p30,t90mo-two-SOLUSDT-tmo-tyo,t90mo-two-SOLUSDT-tmo-tyo,2025-05-01
15,2025-05-01 00:00,ETHUSDT,37.497987,-131.617350,34.883401,53.702974,2025-05-01,136.819653,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p30,<p30,<p70,tyo-t90mo-two-ETHUSDT-tmo,tyo-t90mo-two-ETHUSDT-tmo,2025-05-01
16,2025-05-01 00:00,BTCUSDT,83.116680,-48.500670,76.445558,136.819653,2025-05-01,136.819653,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p70,<p70,>=p90,two-t90mo-BTCUSDT-tmo-tyo,t90mo-tdo-two-BTCUSDT-tmo-tyo,2025-05-01
17,2025-04-29 00:00,BTCUSDT,26.875275,-21.625395,23.096231,-24.955809,2025-04-28,-24.955809,1,0,...,MW4,Tue,DQ1_Asia,Q2_90m,<p30,<p90,<p70,t90mo-BTCUSDT-two-tmo-tyo,t90mo-tdo-two-BTCUSDT-tmo-tyo,2025-04-29
18,2025-05-20 00:00,ETHUSDT,11.174116,-10.451279,9.904810,11.174116,2025-05-19,156.487332,0,0,...,MW3,Tue,DQ1_Asia,Q2_90m,<p10,<p10,<p10,ETHUSDT-two-t90mo-tmo-tyo,ETHUSDT-two-t90mo-tmo-tyo,2025-05-20
19,2025-05-20 00:00,BTCUSDT,45.313216,34.861937,42.573561,56.487332,2025-05-19,156.487332,0,0,...,MW3,Tue,DQ1_Asia,Q2_90m,<p30,<p70,<p70,BTCUSDT-t90mo-two-tmo-tyo,t90mo-tdo-two-tmo-BTCUSDT-tyo,2025-05-20
20,2025-05-20 00:00,SOLUSDT,100.000000,134.861937,97.948529,156.487332,2025-05-19,156.487332,0,0,...,MW3,Tue,DQ1_Asia,Q2_90m,<p70,<p90,<p30,tmo-SOLUSDT-two-t90mo-tyo,tmo-tdo-two-SOLUSDT-tyo,2025-05-20
21,2025-06-01 00:00,SOLUSDT,-100.000000,34.861937,-103.235070,-100.000000,2025-05-31,-167.959143,1,0,...,MW4,Sun,DQ1_Asia,Q2_90m,<p90,<p70,<p70,two-tmo-t90mo-SOLUSDT-tyo,two-tmo-t90mo-tdo-SOLUSDT-tyo,2025-06-01
22,2025-06-01 00:00,ETHUSDT,-100.000000,-65.138063,-104.239800,-200.000000,2025-05-31,-167.959143,2,0,...,MW4,Sun,DQ1_Asia,Q2_90m,<p70,<p70,<p70,two-t90mo-ETHUSDT-tmo-tyo,two-tmo-tdo-t90mo-ETHUSDT-tyo,2025-06-01
23,2025-06-01 00:00,BTCUSDT,32.040857,-33.097206,25.806008,-167.959143,2025-05-31,-167.959143,3,0,...,MW4,Sun,DQ1_Asia,Q2_90m,<p30,<p70,<p90,two-t90mo-BTCUSDT-tmo-tyo,two-tdo-tmo-BTCUSDT-tyo,2025-06-01
24,2025-06-14 00:00,SOLUSDT,55.697823,22.600617,53.961031,55.697823,2025-06-12,115.343754,0,0,...,MW2,Sat,DQ1_Asia,Q2_90m,<p70,<p90,<p10,two-tmo-SOLUSDT-t90mo-tyo,two-tmo-tdo-t90mo-SOLUSDT-tyo,2025-06-14
25,2025-06-14 00:00,BTCUSDT,4.500044,27.100661,1.702350,60.197867,2025-06-12,115.343754,0,0,...,MW2,Sat,DQ1_Asia,Q2_90m,<p10,<p90,<p70,two-tmo-BTCUSDT-t90mo-tyo,tmo-tdo-BTCUSDT-tyo,2025-06-14
26,2025-06-14 00:00,ETHUSDT,55.145887,82.246548,53.513003,115.343754,2025-06-12,115.343754,0,0,...,MW2,Sat,DQ1_Asia,Q2_90m,<p70,>=p90,<p10,two-ETHUSDT-t90mo-tmo-tyo,t90mo-tdo-tmo-ETHUSDT-tyo,2025-06-14
27,2025-07-31 00:00,ETHUSDT,17.264008,99.510556,14.784325,17.264008,2025-07-30,127.687716,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p30,<p30,<p70,ETHUSDT-two-t90mo-tmo-tyo,ETHUSDT-two-t90mo-tmo-tyo,2025-07-31
28,2025-07-31 00:00,BTCUSDT,47.923708,147.434264,42.784137,65.187716,2025-07-30,127.687716,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p30,<p30,<p90,tmo-two-BTCUSDT-t90mo-tyo,tmo-tdo-t90mo-two-BTCUSDT-tyo,2025-07-31
29,2025-07-31 00:00,SOLUSDT,62.500000,209.934264,60.389687,127.687716,2025-07-30,127.687716,0,0,...,MW4,Thu,DQ1_Asia,Q2_90m,<p70,<p70,<p30,two-SOLUSDT-t90mo-tmo-tyo,two-t90mo-tdo-SOLUSDT-tmo-tyo,2025-07-31