In [ ]:
from IPython.display import display

from scripts.run_smt_strategies_analyzer import strategy11_2024_snapshot, strategy11_2025_snapshot, snap_dfs, basic_stats, merge_year_dfs, \
    group_display

f_name_2024, trade_dfs_2024, lo_dfs_2024 = snap_dfs(strategy11_2024_snapshot)
f_name_2025, trade_dfs_2025, lo_dfs_2025  = snap_dfs(strategy11_2025_snapshot)

trade_stat_2024, lo_stat_2024 = basic_stats(trade_dfs_2024, lo_dfs_2024)
trade_stat_2025, lo_stat_2025 = basic_stats(trade_dfs_2025, lo_dfs_2025)

trade_dfs = merge_year_dfs([trade_dfs_2024, trade_dfs_2025], "", [])

print(f"2024 {f_name_2024[23:34]}:")
print(f"2024 Trade stat:")
display(trade_stat_2024)
print(f"2025 {f_name_2025[23:34]}:")
print(f"2025 Trade stat:")
display(trade_stat_2025)

print(f"2024 Limit orders stat:")
display(lo_stat_2024)
print(f"2025 Limit orders stat:")
display(lo_stat_2025)

In [35]:
group_display(trade_dfs, ["year"], False, "entry_rr")
# print('--')
# search_by = trade_dfs
search_by = merge_year_dfs(
    [trade_dfs],
    "25 < entry_rr < 50",
    # "psp_key == '4h' and target_level == 5 and 5 < entry_rr < 11 and signal_dq == 'DQ2_London'",
    [],
    # ['chase_median_rr']
    # [x[0] for x in trade_dfs if x[0] not in ['market all', 'limit all']]
)
df_group = group_display(search_by, [
    # "entry_dq",
    # "minutes_between_signal_and_entry",
    # "entry_dq",
    # "entry_rr_perc",
    # "entry_rr",
    # "entry_position_usd",
    # "entry_position_fee",
    # "close_position_fee",

    
    "year"], False, "")
# df_group = group_display(search_by, ["psp_key", "entry_rr_perc", "target_level", "year"], True, "entry_rr")
# df_group = group_display(search_by, ["psp_key", "entry_rr_perc", "year"], True, "entry_rr")

df_group
# df_group["entry_position_usd"].max()

'market all [0.93, 2.23, 6.6, 15.96]'

'limit all [1.17, 3.13, 9.96, 24.65]'

'chase_median_rr [1.8, 3.78, 9.76, 23.71]'

'chase_mean_rr [4.01, 7.3, 17.4, 44.96]'

'chase_absent_two [0.65, 1.63, 4.7, 6.72]'

'chase_absent_tdo [0.65, 1.73, 4.31, 10.03]'

'chase_absent_t90mo [0.55, 1.29, 3.76, 8.39]'

'chase_tyo [0.8, 1.47, 4.19, 18.28]'

'chase_tmo [0.4, 1.36, 3.47, 11.15]'

'chase_two [0.39, 1.16, 5.03, 12.75]'

'chase_tdo [0.45, 1.14, 3.51, 8.2]'

'chase_t90mo [1.16, 2.29, 5.66, 11.52]'

      market all                      limit all                    \
            mean      median count         mean      median count
year
2024   -23.2/0.1  -100.0/0.0   134  -46.29/0.11  -100.0/0.0   397
2025  -0.58/0.14  -100.0/0.0    85   44.85/0.14  -100.0/0.0   311

     chase_median_rr                   chase_mean_rr  ... chase_tmo  \
                mean      median count          mean  ...     count
year                                                  ...
2024     -39.86/0.11  -100.0/0.0   154   -48.77/0.12  ...         1
2025      33.55/0.17  -100.0/0.0   107    36.98/0.11  ...         3

       chase_two                      chase_tdo                    \
            mean      median count         mean      median count
year
2024  -100.0/0.0  -100.0/0.0     5   -100.0/0.0  -100.0/0.0     8
2025  -93.01/0.0  -93.01/0.0     2  -70.91/0.14  -100.0/0.0     7

      chase_t90mo
             mean      median count
year
2024  -39.38/0.23  -100.0/0.0    13
2025  -58.58/0.17  -91.67/0.0    12

[2 rows x 33 columns]

In [16]:
# group(["direction"])
# group(["asset"])
# group(["smt_type"])
# group(["smt_label"])
# group(["smt_flags"])

# display([round(float(x), 4) for x in np.percentile(trades_df_2024['entry_rr'], [10, 30, 70, 90])])
# display([round(float(x), 4) for x in np.percentile(trades_df_2025['entry_rr'], [10, 30, 70, 90])])

# group(["entry_rr_perc"])
# df_group = group(["direction", "psp_key"], "")
# df_group

In [17]:
df_group = group_display(trade_dfs, ["psp_key", "target_level", "year"], True, "")
df_group

'market all'

                                mean     median  count
psp_key target_level year
1h      4            2025  47.728736 -67.054042    174
2h      4            2024  18.545964 -53.226046     60
4h      5            2025  17.984025 -47.066320    600

'limit all'

                                mean     median  count
psp_key target_level year
1h      4            2025  61.871639 -81.443268    372
4h      5            2025  38.756095 -56.159902   1233

'chase_median_rr'

                                mean     median  count
psp_key target_level year
1h      4            2025  63.255191 -76.728586    148
4h      4            2024  28.286827 -66.306077    148
        5            2025  33.742129 -63.530474    426

'chase_mean_rr'

                                mean      median  count
psp_key target_level year
1h      4            2025  78.476973 -100.000000    116
4h      5            2025  69.497384  -86.279181    285

'chase_absent_two'

                                mean     median  count
psp_key target_level year
4h      5            2024  30.856964 -51.355628     11

'chase_absent_tdo'

                                 mean     median  count
psp_key target_level year
1h      4            2025   62.055081  25.707075     14
        5            2025   54.313019  -4.394731     32
2h      4            2025  231.404461 -89.387587      9
        5            2024   37.892694 -67.004660     29
4h      4            2025  246.776657 -64.962125      9

'chase_absent_t90mo'

                                mean     median  count
psp_key target_level year
2h      5            2025  35.772961 -50.002289     62

'chase_tyo'

                                mean     median  count
psp_key target_level year
1h      5            2024  59.205909 -63.405248     14
2h      5            2024  58.419194 -81.436702      5

'chase_tmo'

                                mean     median  count
psp_key target_level year
1h      5            2024  91.981356  44.240646     26
2h      5            2024  54.080557 -54.781838     20

'chase_two'

                                 mean     median  count
psp_key target_level year
1h      4            2025  243.814078 -39.640678     17
2h      5            2024   26.015147 -11.473944     59
4h      4            2024   51.750780  44.071857     12
        5            2025  163.861308   8.620916     45

'chase_tdo'

                               mean     median  count
psp_key target_level year
4h      5            2025  36.57747  13.809784    174

'chase_t90mo'

                                mean     median  count
psp_key target_level year
2h      5            2024  21.722539 -62.794589    233
4h      4            2024  15.369140 -66.420603     76

                            market all                     limit all  \
                                  mean      median count        mean
psp_key target_level year
1h      4            2024    6.46/0.27  -67.36/0.0   235  -4.57/0.24
                     2025    47.73/0.3  -67.05/0.0   174  61.87/0.27
        5            2024     9.17/0.3  -63.97/0.0  1656   3.52/0.27
                     2025   -7.11/0.25  -72.64/0.0  1170  -7.89/0.22
2h      4            2024   18.55/0.38  -53.23/0.0    60   0.44/0.29
                     2025   -31.63/0.3  -76.25/0.0    90  -26.0/0.23
        5            2024    4.55/0.33  -67.97/0.0   807    0.5/0.27
                     2025  -15.69/0.26   -74.0/0.0   458  -9.21/0.25
4h      4            2024    7.78/0.29  -64.78/0.0   189    5.7/0.25
                     2025  -17.11/0.23  -78.81/0.0    87  -4.64/0.19
        5            2024   -6.09/0.36  -57.48/0.0   795  -8.73/0.31
                     2025   17.98/0.42  -47.07/0.0   600  38.76/0.37

                                            chase_median_rr                    \
                               median count            mean      median count
psp_key target_level year
1h      4            2024  -75.86/0.0   490       7.26/0.22  -74.54/0.0   195
                     2025  -81.44/0.0   372      63.26/0.26  -76.73/0.0   148
        5            2024  -74.48/0.0  3326       4.01/0.26  -78.15/0.0  1312
                     2025  -90.36/0.0  2349       -7.41/0.2  -100.0/0.0   949
2h      4            2024  -70.33/0.0   133       8.23/0.28  -57.48/0.0    50
                     2025  -89.39/0.0   185     -38.05/0.25  -87.93/0.0    73
        5            2024  -79.64/0.0  1684      -0.92/0.25  -81.84/0.0   608
                     2025  -77.63/0.0   994     -22.83/0.22  -82.12/0.0   380
4h      4            2024  -68.67/0.0   448      28.29/0.26  -66.31/0.0   148
                     2025  -94.43/0.0   195     -15.94/0.16  -100.0/0.0    61
        5            2024  -64.94/0.0  1688      -9.25/0.28  -69.42/0.0   581
                     2025  -56.16/0.0  1233      33.74/0.34  -63.53/0.0   426

                          chase_mean_rr  ... chase_tmo    chase_two  \
                                   mean  ...     count         mean
psp_key target_level year                ...
1h      4            2024    -22.7/0.17  ...         3   -8.75/0.37
                     2025    78.48/0.22  ...         6  243.81/0.47
        5            2024     2.95/0.19  ...        26  -16.89/0.27
                     2025    -12.6/0.15  ...        30  -27.61/0.29
2h      4            2024    -2.71/0.15  ...         2     0.32/0.5
                     2025   -50.52/0.15  ...         3   -74.29/0.0
        5            2024    -3.96/0.17  ...        20   26.02/0.47
                     2025   -12.36/0.18  ...        20  -22.41/0.33
4h      4            2024     -1.1/0.18  ...         2   51.75/0.67
                     2025     -8.22/0.1  ...         6  -31.95/0.25
        5            2024    -12.13/0.2  ...        13    0.48/0.49
                     2025     69.5/0.26  ...        21  163.86/0.53

                                               chase_tdo                    \
                               median count         mean      median count
psp_key target_level year
1h      4            2024  -31.14/0.0    19  -17.51/0.35   -78.4/0.0    31
                     2025  -39.64/0.0    17    2.64/0.12  -80.23/0.0    17
        5            2024  -66.56/0.0    85    4.56/0.43   -33.1/0.0   236
                     2025  -66.61/0.0    58  -16.73/0.33  -59.75/0.0   184
2h      4            2024  -28.44/0.5     4   -7.91/0.47  -34.72/0.0    15
                     2025  -100.0/0.0     3  -34.66/0.27  -48.39/0.0    15
        5            2024  -11.47/0.0    59  -23.23/0.37  -63.73/0.0   171
                     2025   -57.4/0.0    24     9.54/0.4  -38.34/0.0    90
4h      4            2024   44.07/1.0    12  -23.29/0.13  -70.14/0.0    39
                     2025  -100.0/0.0     4  -12.88/0.27  -70.11/0.0    22
        5            2024   -8.59/0.0    57   -6.21/0.46  -27.06/0.0   207
                     2025    8.62/1.0    45   36.58/0.55   13.81/1.0   174

                           chase_t90mo
                                  mean      median count
psp_key target_level year
1h      4            2024    8.37/0.33  -66.37/0.0    75
                     2025   -2.59/0.33  -83.74/0.0    43
        5            2024   -0.32/0.32  -56.82/0.0   403
                     2025    4.17/0.29  -54.09/0.0   266
2h      4            2024  -10.25/0.31  -73.03/0.0    13
                     2025  -33.51/0.25  -81.71/0.0    24
        5            2024   21.72/0.36  -62.79/0.0   233
                     2025   12.84/0.28  -64.87/0.0   109
4h      4            2024   15.37/0.34  -66.42/0.0    76
                     2025   -38.04/0.2  -55.89/0.0    30
        5            2024   -14.62/0.3  -68.65/0.0   227
                     2025   -0.99/0.31  -57.98/0.0   162

[12 rows x 36 columns]

In [18]:
df_group = group_display(trade_dfs, ["percents_till_stop_perc", "target_level", "year"], True, "percents_till_stop")
df_group

'market all'

                                                 mean      median  count
percents_till_stop_perc target_level year
<p10                    4            2025  191.886020 -100.000000     31
                        5            2024   21.319353 -100.000000    328
<p30                    4            2025   50.247779  -81.617924     58
<p70                    4            2024   15.200999  -62.056738    189

'limit all'

                                                 mean      median  count
percents_till_stop_perc target_level year
<p10                    4            2025  229.115274 -100.000000     68
<p30                    4            2025   69.057509  -80.230568    131
                        5            2025   34.755832 -100.000000    940

'chase_median_rr'

                                                 mean      median  count
percents_till_stop_perc target_level year
<p10                    4            2025  260.209516 -100.000000     26
<p30                    4            2024   23.450359 -100.000000     59
                                     2025   70.222672  -76.728586     50
                        5            2025   30.617980 -100.000000    379
<p70                    4            2024   19.337820  -60.751443    153
>=p90                   4            2024   30.176166  -46.236683     51

'chase_mean_rr'

                                                 mean      median  count
percents_till_stop_perc target_level year
<p10                    4            2025  177.924866 -100.000000     23
<p30                    4            2025   97.756939 -100.000000     39
                        5            2025   54.429291 -100.000000    302
<p90                    4            2024   34.618236  -77.173463     59

'chase_absent_two'

                                                mean     median  count
percents_till_stop_perc target_level year
>=p90                   5            2024  53.305126  54.464618      7

'chase_absent_tdo'

                                                 mean     median  count
percents_till_stop_perc target_level year
<p70                    5            2024   17.698868 -63.622688     50
<p90                    4            2025  492.540283  21.573560     10
>=p90                   5            2025   41.430154  26.902864     13

'chase_absent_t90mo'

                                                mean      median  count
percents_till_stop_perc target_level year
<p10                    5            2024  32.056921 -100.000000     15
<p30                    5            2025  29.426006  -50.008358     48

'chase_tyo'

                                                mean      median  count
percents_till_stop_perc target_level year
<p30                    5            2024  51.231958 -100.000000      6
<p90                    5            2024  46.517368    8.413179      9

'chase_tmo'

                                                 mean     median  count
percents_till_stop_perc target_level year
<p30                    5            2024   52.815678 -74.050166      9
                                     2025   26.832763  12.833039      9
<p70                    5            2024  117.686724  29.573475     17
>=p90                   5            2024   33.939479 -14.135311     14

'chase_two'

                                                 mean     median  count
percents_till_stop_perc target_level year
<p30                    4            2025   64.933961 -22.878105      7
                        5            2024   21.808788 -55.233237     25
<p70                    4            2024   22.389480 -15.122994     14
                        5            2025  144.459567 -43.171396     46
<p90                    5            2024   17.067500 -12.136053     50
>=p90                   4            2024   47.630677  21.562776      5

'chase_tdo'

                                                mean      median  count
percents_till_stop_perc target_level year
<p10                    5            2025  33.170352 -100.000000     25
<p30                    4            2025  96.951583  -48.154849     11

'chase_t90mo'

                                                mean     median  count
percents_till_stop_perc target_level year
<p10                    4            2025  42.578565 -52.896470      8
<p30                    4            2024  46.185425 -66.372176     23
                        5            2025  28.684606 -50.314474     97
>=p90                   4            2024  16.691876 -53.902747     26

'market all [0.15, 0.33, 0.81, 1.42]'

'limit all [0.14, 0.31, 0.78, 1.38]'

'chase_median_rr [0.13, 0.29, 0.74, 1.3]'

'chase_mean_rr [0.1, 0.26, 0.66, 1.17]'

'chase_absent_two [0.36, 0.6, 1.42, 2.06]'

'chase_absent_tdo [0.28, 0.46, 1.1, 1.86]'

'chase_absent_t90mo [0.22, 0.45, 1.03, 1.78]'

'chase_tyo [0.2, 0.33, 0.81, 1.03]'

'chase_tmo [0.2, 0.44, 1.11, 1.62]'

'chase_two [0.2, 0.42, 0.93, 1.76]'

'chase_tdo [0.19, 0.39, 0.85, 1.52]'

'chase_t90mo [0.18, 0.35, 0.81, 1.43]'

                                            market all                    \
                                                  mean      median count
percents_till_stop_perc target_level year
<p10                    4            2024   -19.74/0.2  -100.0/0.0    46
                                     2025  191.89/0.29  -100.0/0.0    31
                        5            2024   21.32/0.15  -100.0/0.0   328
                                     2025  -17.64/0.15  -100.0/0.0   221
<p30                    4            2024   10.39/0.25  -100.0/0.0    73
                                     2025   50.25/0.28  -81.62/0.0    58
                        5            2024     8.1/0.27  -95.09/0.0   649
                                     2025   13.55/0.27  -76.63/0.0   436
<p70                    4            2024    15.2/0.26  -62.06/0.0   189
                                     2025   -17.4/0.26  -72.02/0.0   142
                        5            2024    0.08/0.31  -60.05/0.0  1334
                                     2025   -0.45/0.31  -64.19/0.0   904
<p90                    4            2024   11.13/0.34  -60.05/0.0   110
                                     2025  -20.65/0.32   -57.6/0.0    69
                        5            2024    2.96/0.41  -45.11/0.0   637
                                     2025   -8.98/0.34  -58.22/0.0   458
>=p90                   4            2024    2.31/0.44  -37.13/0.0    66
                                     2025  -19.59/0.29  -68.99/0.0    51
                        5            2024   -0.73/0.46  -18.23/0.0   310
                                     2025  -10.57/0.42  -50.24/0.0   209

                                             limit all                    \
                                                  mean      median count
percents_till_stop_perc target_level year
<p10                    4            2024  -39.57/0.11  -100.0/0.0    97
                                     2025  229.12/0.29  -100.0/0.0    68
                        5            2024   -12.7/0.11  -100.0/0.0   664
                                     2025   -7.39/0.12  -100.0/0.0   438
<p30                    4            2024     4.7/0.21  -100.0/0.0   156
                                     2025    69.06/0.3  -80.23/0.0   131
                        5            2024     3.4/0.23  -100.0/0.0  1403
                                     2025   34.76/0.26  -100.0/0.0   940
<p70                    4            2024    5.87/0.25  -65.09/0.0   404
                                     2025   -8.18/0.24  -83.43/0.0   309
                        5            2024    0.07/0.28  -67.07/0.0  2676
                                     2025    1.13/0.27  -67.73/0.0  1808
<p90                    4            2024    1.92/0.27  -68.18/0.0   255
                                     2025    6.49/0.23  -86.35/0.0   144
                        5            2024    2.15/0.36  -51.09/0.0  1337
                                     2025   -7.93/0.29  -61.46/0.0   955
>=p90                   4            2024    3.89/0.35  -51.25/0.0   159
                                     2025  -57.32/0.16  -75.46/0.0   100
                        5            2024   -2.57/0.42  -45.82/0.0   618
                                     2025   -8.74/0.36  -50.88/0.0   435

                                          chase_median_rr                    \
                                                     mean      median count
percents_till_stop_perc target_level year
<p10                    4            2024       2.48/0.17  -100.0/0.0    42
                                     2025     260.21/0.27  -100.0/0.0    26
                        5            2024      -24.18/0.1  -100.0/0.0   276
                                     2025     -15.93/0.11  -100.0/0.0   187
<p30                    4            2024      23.45/0.22  -100.0/0.0    59
                                     2025      70.22/0.32  -76.73/0.0    50
                        5            2024       7.46/0.22  -100.0/0.0   548
                                     2025      30.62/0.26  -100.0/0.0   379
<p70                    4            2024      19.34/0.22  -60.75/0.0   153
                                     2025      -9.41/0.24  -83.43/0.0   119
                        5            2024       1.55/0.26  -67.37/0.0   986
                                     2025       -5.1/0.24  -71.38/0.0   689
<p90                    4            2024       0.33/0.23  -63.85/0.0    88
                                     2025     -31.15/0.21  -82.65/0.0    53
                        5            2024       2.61/0.34  -53.75/0.0   488
                                     2025     -11.26/0.25   -65.9/0.0   352
>=p90                   4            2024      30.18/0.39  -46.24/0.0    51
                                     2025      -55.7/0.15  -77.07/0.0    34
                        5            2024       -4.41/0.4  -47.19/0.0   203
                                     2025     -16.78/0.31   -55.8/0.0   148

                                          chase_mean_rr  ... chase_tmo  \
                                                   mean  ...     count
percents_till_stop_perc target_level year                ...
<p10                    4            2024   -83.04/0.03  ...      <NA>
                                     2025   177.92/0.17  ...         2
                        5            2024    -2.64/0.08  ...         3
                                     2025      3.17/0.1  ...         3
<p30                    4            2024   -26.15/0.14  ...         1
                                     2025    97.76/0.26  ...         1
                        5            2024    -0.21/0.17  ...         9
                                     2025    54.43/0.22  ...         9
<p70                    4            2024    -4.52/0.18  ...         1
                                     2025     8.52/0.18  ...         5
                        5            2024    -4.31/0.21  ...        17
                                     2025    -8.04/0.19  ...        32
<p90                    4            2024    34.62/0.24  ...         3
                                     2025   -27.15/0.17  ...         3
                        5            2024    -0.28/0.21  ...        16
                                     2025   -16.91/0.19  ...        15
>=p90                   4            2024   -22.54/0.23  ...         2
                                     2025   -71.78/0.08  ...         4
                        5            2024     1.49/0.27  ...        14
                                     2025   -22.03/0.17  ...        12

                                             chase_two                    \
                                                  mean      median count
percents_till_stop_perc target_level year
<p10                    4            2024   -54.97/0.0   -53.0/0.0     4
                                     2025  949.39/0.75  135.93/1.0     4
                        5            2024   -89.59/0.0  -100.0/0.0     8
                                     2025   -99.49/0.0  -100.0/0.0     4
<p30                    4            2024    91.04/0.5   91.04/0.5     2
                                     2025   64.93/0.43  -22.88/0.0     7
                        5            2024   21.81/0.32  -55.23/0.0    25
                                     2025  -36.09/0.23  -100.0/0.0    22
<p70                    4            2024    22.39/0.5  -15.12/0.5    14
                                     2025  -36.31/0.25  -100.0/0.0     8
                        5            2024   -9.21/0.32  -66.56/0.0    87
                                     2025  144.46/0.41  -43.17/0.0    46
<p90                    4            2024    -5.78/0.4   -37.6/0.0    10
                                     2025  -16.86/0.25  -69.82/0.0     4
                        5            2024   17.07/0.44  -12.14/0.0    50
                                     2025  -10.64/0.49  -29.41/0.0    35
>=p90                   4            2024    47.63/1.0   21.56/1.0     5
                                     2025   -100.0/0.0  -100.0/0.0     1
                        5            2024    7.93/0.68   16.46/1.0    31
                                     2025     7.69/0.4  -51.31/0.0    20

                                             chase_tdo                    \
                                                  mean      median count
percents_till_stop_perc target_level year
<p10                    4            2024    -75.4/0.2  -100.0/0.0     5
                                     2025   -100.0/0.0  -100.0/0.0     1
                        5            2024  -30.57/0.14  -100.0/0.0    35
                                     2025   33.17/0.24  -100.0/0.0    25
<p30                    4            2024      3.6/0.2  -100.0/0.0    10
                                     2025   96.95/0.27  -48.15/0.0    11
                        5            2024     1.29/0.4  -49.92/0.0   101
                                     2025    9.92/0.35  -62.75/0.0    79
<p70                    4            2024   -8.94/0.29   -70.1/0.0    38
                                     2025  -31.29/0.26  -64.39/0.0    19
                        5            2024     -8.3/0.4  -43.55/0.0   257
                                     2025    5.75/0.41  -36.68/0.0   196
<p90                    4            2024   -18.68/0.3  -64.06/0.0    20
                                     2025  -47.06/0.11  -100.0/0.0     9
                        5            2024   -6.68/0.51    3.01/1.0   146
                                     2025   11.47/0.48   -3.28/0.0   100
>=p90                   4            2024  -42.93/0.25  -57.13/0.0    12
                                     2025  -50.49/0.21   -64.0/0.0    14
                        5            2024   -1.75/0.52    2.56/1.0    75
                                     2025    5.39/0.58   13.37/1.0    48

                                           chase_t90mo
                                                  mean      median count
percents_till_stop_perc target_level year
<p10                    4            2024  -26.15/0.25  -34.77/0.0     8
                                     2025   42.58/0.38   -52.9/0.0     8
                        5            2024  -20.34/0.16  -100.0/0.0    62
                                     2025   -9.99/0.16  -100.0/0.0    31
<p30                    4            2024    46.19/0.3  -66.37/0.0    23
                                     2025    2.92/0.29  -90.64/0.0    17
                        5            2024     4.36/0.3  -76.26/0.0   174
                                     2025   28.68/0.28  -50.31/0.0    97
<p70                    4            2024     9.5/0.34  -64.62/0.0    62
                                     2025   -23.88/0.3  -55.91/0.0    40
                        5            2024     4.67/0.3  -61.93/0.0   375
                                     2025     3.4/0.29  -59.77/0.0   214
<p90                    4            2024   -4.75/0.31  -74.62/0.0    45
                                     2025  -40.99/0.24  -90.82/0.0    21
                        5            2024    4.08/0.39  -53.39/0.0   161
                                     2025    -1.74/0.3  -53.71/0.0   136
>=p90                   4            2024   16.69/0.42   -53.9/0.0    26
                                     2025  -57.39/0.09  -57.29/0.0    11
                        5            2024   -3.22/0.47   -30.7/0.0    91
                                     2025  -10.43/0.37   -50.0/0.0    59

[20 rows x 36 columns]

In [19]:
df_group = group_display(trade_dfs, ["target_level", "psp_key", "entry_rr_perc", "year"], True, "entry_rr")
df_group

'market all'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            1h      <p10          2025   28.567749   41.006149      8
                     <p30          2024   20.567260  -34.959350     19
                     <p70          2024   32.423892  -48.375984     90
                     >=p90         2025  186.351668 -100.000000     40
             2h      <p10          2025   35.464110   63.885874      5
                     <p30          2024   20.783533   49.827727      7
                     <p70          2024   39.410739   21.990035     20
                     <p90          2024   22.190212  -94.063927     14
             4h      <p90          2024   24.594863  -60.692351     47
                                   2025   20.891877  -63.118395     18
                     >=p90         2024   18.835225 -100.000000     30
5            1h      >=p90         2024   38.479654 -100.000000    191
             2h      >=p90         2024   23.028666 -100.000000     57
             4h      <p90          2025  111.958864  -54.545455     59
                     >=p90         2025  107.274264 -100.000000     16

'limit all'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            1h      <p10          2024   44.441209   56.002311     16
                     <p70          2024   21.736988  -60.751443    175
                                   2025   26.772886  -63.137195    144
                     <p90          2025   15.691941 -100.000000    100
                     >=p90         2025  226.957700 -100.000000     78
             2h      <p30          2024   27.654425   19.608280     19
                     <p70          2024   41.616806  -34.723952     49
                     >=p90         2025   75.702534 -100.000000     19
             4h      <p90          2024   45.094789  -81.172601    103
                     >=p90         2025  231.367339 -100.000000     12
5            2h      <p90          2024   16.735291 -100.000000    275
             4h      <p70          2025   30.939065  -68.431746    477
                     <p90          2025  164.949989 -100.000000    109
                     >=p90         2025  354.166458 -100.000000     45

'chase_median_rr'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            1h      <p70          2024   37.127523  -60.751443     85
                                   2025   17.894859  -55.608492     73
                     >=p90         2025  292.475870 -100.000000     27
             2h      <p70          2024   46.458761  -24.956609     19
                     >=p90         2024   53.228177  -79.697494     12
             4h      <p70          2024   34.003921  -59.974868     62
                     <p90          2024   73.343421  -71.339121     33
5            4h      <p70          2025   25.733293  -71.669358    184
                     <p90          2025  174.798324 -100.000000     42
                     >=p90         2025  187.844599 -100.000000     14

'chase_mean_rr'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            1h      <p70          2025   57.096443  -76.788216     30
                     >=p90         2025  177.997978 -100.000000     40
             2h      <p70          2024  146.738657  -49.784471      9
             4h      <p90          2024   56.994427  -71.791719     40
                                   2025   25.851650 -100.000000     18
5            1h      <p30          2024   49.034009   43.938416     33
                     >=p90         2024   16.097459 -100.000000    228
             2h      <p90          2024   26.139591 -100.000000    147
                                   2025   17.527208 -100.000000     99
             4h      <p10          2025   28.606194   20.639104     10
                     <p70          2025   29.895617  -71.402503    167
                     <p90          2025  142.445603 -100.000000     56
                     >=p90         2025  286.010216 -100.000000     26

'chase_absent_tdo'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            1h      <p30          2025   73.380863   96.890624      7
                     <p70          2024   32.778747  -70.332282      7
                                   2025   88.880830  -57.228493      5
             4h      <p30          2024   48.638232   64.961743      7
5            1h      <p10          2025   77.692073   64.944431      7
                     <p30          2024   35.369289  -61.964585     28
                                   2025   51.547903   39.542812     12
                     <p70          2025  127.205971  -74.573513      8
             2h      <p70          2024  198.253201  157.869000      7
             4h      <p10          2025   42.039367   32.131050      8
                     <p70          2024   42.304474  -50.003389     14

'chase_absent_t90mo'

                                              mean      median  count
target_level psp_key entry_rr_perc year
4            4h      <p30          2025  24.171267 -100.000000      6
5            2h      <p70          2025  42.903431  -55.220036     24
             4h      <p70          2025  82.343719  -73.798429     13

'chase_tyo'

                                              mean     median  count
target_level psp_key entry_rr_perc year
5            1h      <p70          2024  97.897298 -62.637786      6

'chase_tmo'

                                               mean      median  count
target_level psp_key entry_rr_perc year
5            1h      <p10          2024   31.013570   44.240646     10
                     <p30          2024  106.758448  135.210438      5
                     <p70          2024  205.795930  206.594217      6
             2h      <p30          2024   73.024624  135.210438      7
             4h      <p30          2024   36.716014   16.008926      8
                                   2025   33.771673    5.984875      8

'chase_two'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            1h      <p70          2025  102.055031   66.927038      6
             4h      <p30          2024   64.807986   95.528272      6
5            1h      <p70          2024   31.700848  -79.238005     26
             2h      <p30          2024   15.131350   21.132611     17
                     <p70          2024   44.579370  -66.563752     13
                     <p90          2024   93.406231 -100.000000      8
             4h      <p30          2025   40.887335  -48.807047     15
                     <p70          2024   40.359009 -100.000000      7
                                   2025   30.651224 -100.000000     11

'chase_tdo'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            2h      <p70          2024   16.474393    4.970909      6
             4h      <p70          2025   78.520255  -15.336291      6
5            1h      <p30          2024   20.901107   -4.042606     77
                     <p90          2024   69.408015 -100.000000     12
             2h      <p70          2025   63.499267  -40.003791     25
             4h      <p70          2025  139.032069   44.998084     34
                     <p90          2025  148.354549 -100.000000      6

'chase_t90mo'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            1h      <p10          2024   38.914473   74.120346      6
                                   2025   17.528686   38.112150      5
                     <p70          2025   34.847195  -76.456143     16
             2h      <p30          2025   20.039753   13.964928      8
             4h      <p30          2024   20.098853  -24.886082     27
                     <p90          2024   57.713710  -86.364313     11
5            1h      <p10          2024   17.931982   26.046947     47
                     <p90          2025  101.205580  -54.169215     24
                     >=p90         2025   61.911804 -100.000000      9
             2h      <p10          2024   23.631352   34.710878     24
                     <p70          2024   31.763471  -77.171623    105
                                   2025   24.112902  -73.506108     53
                     <p90          2024   34.407620 -100.000000     21
                                   2025  253.257588 -100.000000      7

'market all [0.93, 2.23, 6.6, 15.96]'

'limit all [1.17, 3.13, 9.96, 24.65]'

'chase_median_rr [1.8, 3.78, 9.76, 23.71]'

'chase_mean_rr [4.01, 7.3, 17.4, 44.96]'

'chase_absent_two [0.65, 1.63, 4.7, 6.72]'

'chase_absent_tdo [0.65, 1.73, 4.31, 10.03]'

'chase_absent_t90mo [0.55, 1.29, 3.76, 8.39]'

'chase_tyo [0.8, 1.47, 4.19, 18.28]'

'chase_tmo [0.4, 1.36, 3.47, 11.15]'

'chase_two [0.39, 1.16, 5.03, 12.75]'

'chase_tdo [0.45, 1.14, 3.51, 8.2]'

'chase_t90mo [1.16, 2.29, 5.66, 11.52]'

                                          market all                    \
                                                mean      median count
target_level psp_key entry_rr_perc year
4            1h      <p10          2024    15.59/1.0   15.59/1.0     1
                                   2025   28.57/0.75   41.01/1.0     8
                     <p30          2024   20.57/0.42  -34.96/0.0    19
                                   2025   -30.16/0.4  -49.76/0.0    10
                     <p70          2024   32.42/0.37  -48.38/0.0    90
                                   2025    12.6/0.32  -54.88/0.0    75
                     <p90          2024    -4.6/0.17  -67.22/0.0    69
                                   2025   -0.52/0.17  -79.08/0.0    41
                     >=p90         2024   -26.6/0.18  -100.0/0.0    56
                                   2025  186.35/0.28  -100.0/0.0    40
             2h      <p10          2024   -1.76/0.67   21.37/1.0     3
                                   2025    35.46/0.8   63.89/1.0     5
                     <p30          2024   20.78/0.57   49.83/1.0     7
                                   2025  -18.48/0.39  -50.31/0.0    18
                     <p70          2024   39.41/0.55   21.99/1.0    20
                                   2025   -37.8/0.26  -73.91/0.0    42
                     <p90          2024   22.19/0.21  -94.06/0.0    14
                                   2025  -29.39/0.29  -85.31/0.0    14
                     >=p90         2024   -7.89/0.19  -100.0/0.0    16
                                   2025  -62.97/0.09  -100.0/0.0    11
             4h      <p10          2024  -11.21/0.56   31.95/1.0     9
                                   2025  -19.13/0.38  -29.36/0.0     8
                     <p30          2024    -7.6/0.41  -27.33/0.0    34
                                   2025  -30.08/0.25  -77.55/0.0    20
                     <p70          2024    1.58/0.28  -63.04/0.0    69
                                   2025  -30.37/0.19  -100.0/0.0    37
                     <p90          2024   24.59/0.26  -60.69/0.0    47
                                   2025   20.89/0.22  -63.12/0.0    18
                     >=p90         2024   18.84/0.17  -100.0/0.0    30
                                   2025    3.33/0.25  -100.0/0.0     4
5            1h      <p10          2024    6.05/0.69   27.79/1.0   115
                                   2025     3.9/0.61   31.51/1.0    51
                     <p30          2024   -1.51/0.43  -38.32/0.0   276
                                   2025    -0.1/0.39  -44.43/0.0   177
                     <p70          2024     8.11/0.3  -58.06/0.0   657
                                   2025    -4.6/0.24  -66.34/0.0   498
                     <p90          2024    5.35/0.19  -100.0/0.0   417
                                   2025    12.81/0.2  -100.0/0.0   298
                     >=p90         2024   38.48/0.13  -100.0/0.0   191
                                   2025  -68.68/0.08  -100.0/0.0   146
             2h      <p10          2024    -4.3/0.61   23.86/1.0    89
                                   2025  -28.51/0.44  -58.18/0.0    52
                     <p30          2024    6.38/0.44  -28.87/0.0   176
                                   2025  -13.98/0.36  -54.79/0.0   104
                     <p70          2024    4.51/0.28  -69.99/0.0   364
                                   2025  -10.44/0.25  -71.58/0.0   175
                     <p90          2024   -0.19/0.17  -100.0/0.0   121
                                   2025  -19.32/0.12  -100.0/0.0    86
                     >=p90         2024   23.03/0.12  -100.0/0.0    57
                                   2025  -18.57/0.17  -100.0/0.0    41
             4h      <p10          2024   -0.98/0.62   14.79/1.0   158
                                   2025   -1.43/0.63   19.43/1.0   134
                     <p30          2024   -5.04/0.39  -56.15/0.0   236
                                   2025    7.85/0.45   -26.5/0.0   187
                     <p70          2024   -2.68/0.27  -67.63/0.0   296
                                   2025    5.84/0.29  -68.86/0.0   204
                     <p90          2024   -8.51/0.16  -100.0/0.0    80
                                   2025  111.96/0.39  -54.55/0.0    59
                     >=p90         2024  -80.79/0.08  -100.0/0.0    25
                                   2025  107.27/0.19  -100.0/0.0    16

                                           limit all                    \
                                                mean      median count
target_level psp_key entry_rr_perc year
4            1h      <p10          2024   44.44/0.94    56.0/1.0    16
                                   2025   12.79/0.62   27.36/1.0    16
                     <p30          2024   -10.09/0.3  -59.74/0.0    50
                                   2025   -9.28/0.32  -70.16/0.0    34
                     <p70          2024   21.74/0.27  -60.75/0.0   175
                                   2025   26.77/0.31  -63.14/0.0   144
                     <p90          2024    1.98/0.19   -80.6/0.0   146
                                   2025   15.69/0.19  -100.0/0.0   100
                     >=p90         2024  -63.49/0.12  -100.0/0.0   103
                                   2025  226.96/0.21  -100.0/0.0    78
             2h      <p10          2024    6.83/0.57   17.98/1.0     7
                                   2025   -48.65/0.3  -71.57/0.0    10
                     <p30          2024   27.65/0.58   19.61/1.0    19
                                   2025    3.83/0.42  -14.35/0.0    40
                     <p70          2024   41.62/0.37  -34.72/0.0    49
                                   2025  -37.46/0.22  -84.41/0.0    78
                     <p90          2024  -83.84/0.04  -100.0/0.0    27
                                   2025  -78.75/0.05  -100.0/0.0    38
                     >=p90         2024   -9.36/0.13  -100.0/0.0    31
                                   2025    75.7/0.21  -100.0/0.0    19
             4h      <p10          2024    8.02/0.67   32.32/1.0    15
                                   2025  -51.08/0.25  -84.18/0.0    12
                     <p30          2024    9.07/0.46  -53.79/0.0    94
                                   2025  -25.71/0.27  -92.69/0.0    48
                     <p70          2024   -3.23/0.17  -64.49/0.0   186
                                   2025  -20.83/0.16  -90.47/0.0    90
                     <p90          2024   45.09/0.22  -81.17/0.0   103
                                   2025    1.21/0.12  -100.0/0.0    33
                     >=p90         2024   -49.27/0.1  -100.0/0.0    50
                                   2025  231.37/0.33  -100.0/0.0    12
5            1h      <p10          2024    8.51/0.69   22.47/1.0   257
                                   2025   -3.11/0.55   13.88/1.0   148
                     <p30          2024   12.55/0.42  -39.23/0.0   529
                                   2025   -3.96/0.35  -52.66/0.0   373
                     <p70          2024    3.91/0.25  -65.63/0.0  1326
                                   2025     -9.6/0.2  -71.43/0.0   951
                     <p90          2024   -5.32/0.16  -100.0/0.0   813
                                   2025   11.15/0.16  -100.0/0.0   589
                     >=p90         2024     5.01/0.1  -100.0/0.0   401
                                   2025  -48.74/0.06  -100.0/0.0   288
             2h      <p10          2024   -0.75/0.59   15.89/1.0   191
                                   2025  -22.19/0.45  -45.59/0.0    96
                     <p30          2024   -0.28/0.37  -61.05/0.0   379
                                   2025  -11.78/0.31  -52.52/0.0   220
                     <p70          2024    9.68/0.23  -76.77/0.0   716
                                   2025     2.6/0.23  -70.53/0.0   390
                     <p90          2024   16.74/0.13  -100.0/0.0   275
                                   2025    2.32/0.17  -100.0/0.0   197
                     >=p90         2024  -84.88/0.03  -100.0/0.0   123
                                   2025  -64.91/0.09  -100.0/0.0    91
             4h      <p10          2024    -5.95/0.6    9.19/1.0   291
                                   2025   -1.31/0.63   14.25/1.0   251
                     <p30          2024   -3.19/0.37  -55.43/0.0   483
                                   2025    -1.6/0.36  -55.86/0.0   351
                     <p70          2024   -3.41/0.21  -77.85/0.0   655
                                   2025   30.94/0.28  -68.43/0.0   477
                     <p90          2024  -22.92/0.12  -100.0/0.0   190
                                   2025  164.95/0.28  -100.0/0.0   109
                     >=p90         2024   -70.53/0.1  -100.0/0.0    69
                                   2025  354.17/0.22  -100.0/0.0    45

                                        chase_median_rr                    \
                                                   mean      median count
target_level psp_key entry_rr_perc year
4            1h      <p10          2024             NaN         NaN  <NA>
                                   2025       28.02/1.0   28.02/1.0     1
                     <p30          2024     -26.85/0.09  -50.76/0.0    11
                                   2025     -31.89/0.22   -64.2/0.0     9
                     <p70          2024      37.13/0.29  -60.75/0.0    85
                                   2025      17.89/0.29  -55.61/0.0    73
                     <p90          2024       7.97/0.19  -77.45/0.0    58
                                   2025      10.99/0.18  -100.0/0.0    38
                     >=p90         2024      -46.5/0.12  -100.0/0.0    41
                                   2025      292.48/0.3  -100.0/0.0    27
             2h      <p10          2024      -13.52/0.5  -13.52/0.5     2
                                   2025       19.37/1.0   19.37/1.0     1
                     <p30          2024     -10.46/0.33  -41.35/0.0     3
                                   2025      -3.85/0.35   -41.5/0.0    17
                     <p70          2024      46.46/0.42  -24.96/0.0    19
                                   2025     -42.55/0.22  -82.08/0.0    36
                     <p90          2024      -75.1/0.07  -100.0/0.0    14
                                   2025     -85.67/0.08  -100.0/0.0    12
                     >=p90         2024      53.23/0.25   -79.7/0.0    12
                                   2025     -24.58/0.29  -100.0/0.0     7
             4h      <p10          2024      -21.67/0.5  -21.67/0.5     2
                                   2025             NaN         NaN  <NA>
                     <p30          2024       2.76/0.43  -53.79/0.0    28
                                   2025     -62.18/0.13  -94.43/0.0    15
                     <p70          2024       34.0/0.24  -59.97/0.0    62
                                   2025      -8.57/0.15  -100.0/0.0    34
                     <p90          2024      73.34/0.21  -71.34/0.0    33
                                   2025       2.02/0.22  -52.85/0.0     9
                     >=p90         2024     -16.35/0.13  -100.0/0.0    23
                                   2025      77.86/0.33  -100.0/0.0     3
5            1h      <p10          2024       4.57/0.67   27.75/1.0    49
                                   2025       -5.8/0.56   23.23/1.0    25
                     <p30          2024      11.33/0.42  -43.43/0.0   196
                                   2025      -4.29/0.33  -55.63/0.0   121
                     <p70          2024        6.4/0.26  -64.32/0.0   614
                                   2025        -1.3/0.2  -70.89/0.0   457
                     <p90          2024      -3.23/0.16  -100.0/0.0   305
                                   2025      11.23/0.17  -100.0/0.0   246
                     >=p90         2024       -0.9/0.08  -100.0/0.0   148
                                   2025     -85.38/0.04  -100.0/0.0   100
             2h      <p10          2024      -13.07/0.5   -12.8/0.5    36
                                   2025     -39.78/0.32  -65.54/0.0    31
                     <p30          2024       4.03/0.36  -50.92/0.0   131
                                   2025      -8.18/0.33  -52.52/0.0    84
                     <p70          2024      13.12/0.25  -73.04/0.0   314
                                   2025      -13.42/0.2  -72.72/0.0   161
                     <p90          2024     -11.03/0.11  -100.0/0.0    83
                                   2025     -34.73/0.14  -100.0/0.0    74
                     >=p90         2024     -86.87/0.02  -100.0/0.0    44
                                   2025     -67.52/0.13  -100.0/0.0    30
             4h      <p10          2024       -7.96/0.6    7.75/1.0    68
                                   2025     -10.65/0.54     4.8/1.0    46
                     <p30          2024      -5.83/0.34  -57.02/0.0   170
                                   2025       1.13/0.37  -57.16/0.0   140
                     <p70          2024      -2.09/0.23  -81.44/0.0   261
                                   2025      25.73/0.27  -71.67/0.0   184
                     <p90          2024     -29.95/0.08  -100.0/0.0    62
                                   2025      174.8/0.33  -100.0/0.0    42
                     >=p90         2024      -72.07/0.1  -100.0/0.0    20
                                   2025     187.84/0.21  -100.0/0.0    14

                                        chase_mean_rr  ... chase_tmo  \
                                                 mean  ...     count
target_level psp_key entry_rr_perc year                ...
4            1h      <p10          2024           NaN  ...      <NA>
                                   2025           NaN  ...         1
                     <p30          2024           NaN  ...         1
                                   2025           NaN  ...         1
                     <p70          2024     5.89/0.27  ...         2
                                   2025     57.1/0.33  ...      <NA>
                     <p90          2024    11.75/0.19  ...      <NA>
                                   2025      5.88/0.2  ...         3
                     >=p90         2024    -77.62/0.1  ...      <NA>
                                   2025    178.0/0.18  ...         1
             2h      <p10          2024           NaN  ...      <NA>
                                   2025     39.88/1.0  ...         1
                     <p30          2024    -43.92/0.0  ...         1
                                   2025           NaN  ...         2
                     <p70          2024   146.74/0.44  ...         1
                                   2025   -15.97/0.25  ...      <NA>
                     <p90          2024    -89.04/0.0  ...      <NA>
                                   2025   -76.34/0.05  ...      <NA>
                     >=p90         2024   -41.04/0.06  ...      <NA>
                                   2025   -72.24/0.09  ...      <NA>
             4h      <p10          2024           NaN  ...         1
                                   2025           NaN  ...         1
                     <p30          2024      8.33/0.5  ...         1
                                   2025    -90.95/0.0  ...         5
                     <p70          2024    -3.68/0.21  ...      <NA>
                                   2025   -45.82/0.08  ...      <NA>
                     <p90          2024    56.99/0.22  ...      <NA>
                                   2025    25.85/0.11  ...      <NA>
                     >=p90         2024   -87.32/0.04  ...      <NA>
                                   2025   103.54/0.25  ...      <NA>
5            1h      <p10          2024   -18.13/0.44  ...        10
                                   2025    -63.08/0.2  ...         7
                     <p30          2024    49.03/0.55  ...         5
                                   2025   -27.56/0.23  ...         9
                     <p70          2024      0.5/0.23  ...         6
                                   2025   -27.73/0.17  ...        10
                     <p90          2024    -5.85/0.16  ...         4
                                   2025    12.29/0.17  ...         1
                     >=p90         2024     16.1/0.11  ...         1
                                   2025   -30.43/0.07  ...         3
             2h      <p10          2024   -26.89/0.36  ...         4
                                   2025   -14.79/0.44  ...         3
                     <p30          2024     7.16/0.36  ...         7
                                   2025   -33.21/0.18  ...        11
                     <p70          2024      2.48/0.2  ...         8
                                   2025    -1.47/0.21  ...         2
                     <p90          2024    26.14/0.14  ...         1
                                   2025    17.53/0.17  ...         2
                     >=p90         2024   -84.03/0.03  ...      <NA>
                                   2025   -88.07/0.06  ...         2
             4h      <p10          2024    -24.07/0.5  ...         3
                                   2025     28.61/0.8  ...        10
                     <p30          2024     -5.45/0.3  ...         8
                                   2025   -34.04/0.19  ...         8
                     <p70          2024    -7.36/0.19  ...         2
                                   2025     29.9/0.26  ...         3
                     <p90          2024    -0.63/0.18  ...      <NA>
                                   2025   142.45/0.21  ...      <NA>
                     >=p90         2024     -66.5/0.1  ...      <NA>
                                   2025   286.01/0.23  ...      <NA>

                                            chase_two                     \
                                                 mean       median count
target_level psp_key entry_rr_perc year
4            1h      <p10          2024     44.93/1.0    29.91/1.0     4
                                   2025    48.96/0.75    60.35/1.0     4
                     <p30          2024    -78.75/0.0   -91.94/0.0     4
                                   2025     55.47/0.5    55.47/0.5     2
                     <p70          2024     10.29/0.2    -13.9/0.0     5
                                   2025    102.06/0.5    66.93/0.5     6
                     <p90          2024     29.39/0.5    15.22/0.5     4
                                   2025    -100.0/0.0   -100.0/0.0     2
                     >=p90         2024    -100.0/0.0   -100.0/0.0     2
                                   2025  1141.91/0.33   -100.0/0.0     3
             2h      <p10          2024     17.98/1.0    17.98/1.0     1
                                   2025           NaN          NaN  <NA>
                     <p30          2024    -74.86/0.0   -74.86/0.0     1
                                   2025    -100.0/0.0   -100.0/0.0     2
                     <p70          2024    158.16/1.0   158.16/1.0     1
                                   2025    -22.88/0.0   -22.88/0.0     1
                     <p90          2024           NaN          NaN  <NA>
                                   2025           NaN          NaN  <NA>
                     >=p90         2024    -100.0/0.0   -100.0/0.0     1
                                   2025           NaN          NaN  <NA>
             4h      <p10          2024     37.27/1.0    37.27/1.0     2
                                   2025           NaN          NaN  <NA>
                     <p30          2024    64.81/0.67    95.53/1.0     6
                                   2025    -9.26/0.33   -100.0/0.0     3
                     <p70          2024      39.4/0.5   -16.28/0.5     4
                                   2025    -100.0/0.0   -100.0/0.0     1

In [20]:
# group(["psp_key", "direction", "entry_yq"])
# group(["psp_key", "direction", "entry_mw"])
# group(["psp_key", "direction", "entry_wd"])
# group(["psp_key", "direction", "entry_wd"])
# group(["psp_key", "direction", "entry_dq"])
# group(["psp_key", "direction", "entry_q90m"])
# group(["entry_yq"])
# group(["entry_mw"])
# group(["entry_wd"])
# group(["entry_dq"])
# group(["entry_q90m"])

In [21]:
# (trades_df_2024.groupby(["smt_label", "psp_key", "direction"])["pnl_usd"]
#  .agg(["mean", "median", "count"])
#  .reset_index())
# (trades_df_2025.groupby(["smt_label", "psp_key", "direction"])["pnl_usd"]
#  .agg(["mean", "median", "count"])
#  .reset_index())

In [22]:
# display([round(float(x), 4) for x in np.percentile(trades_df_2024['entry_rr'], [10, 30, 70, 90])])
# display([round(float(x), 4) for x in np.percentile(trades_df_2025['entry_rr'], [10, 30, 70, 90])])
# 
# display(trades_df_2024.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))
# display(trades_df_2025.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))
# 
# display(trades_df_2024.query("14 < entry_rr < 17")["pnl_usd"].agg(["mean", "median", "count"]))
# display(trades_df_2025.query("14 < entry_rr < 17")["pnl_usd"].agg(["mean", "median", "count"]))
# display(trades_df_2024.query("14 < entry_rr < 17")["won"].agg(["mean", "median", "count"]))
# display(trades_df_2025.query("14 < entry_rr < 17")["won"].agg(["mean", "median", "count"]))

In [23]:
# df_rr_change_2024 = trades_df_2024.query("won")[["entry_rr", "entry_rr_perc", "best_entry_rr"]]
# df_rr_change_2024["multiplier"] = df_rr_change_2024["best_entry_rr"] / df_rr_change_2024["entry_rr"]
# display([round(float(x), 4) for x in np.percentile(df_rr_change_2024['entry_rr'], [10, 30, 70, 90])])
# display(df_rr_change_2024.groupby("entry_rr_perc")["multiplier"].agg(["mean", "median", "count"]))
# 
# df_rr_change_2025 = trades_df_2025.query("won")[["entry_rr", "entry_rr_perc", "best_entry_rr"]]
# df_rr_change_2025["multiplier"] = df_rr_change_2025["best_entry_rr"] / df_rr_change_2025["entry_rr"]
# display([round(float(x), 4) for x in np.percentile(df_rr_change_2025['entry_rr'], [10, 30, 70, 90])])
# display(df_rr_change_2025.groupby("entry_rr_perc")["multiplier"].agg(["mean", "median", "count"]))