In [3]:
from IPython.display import display

from scripts.run_smt_strategies_analyzer import snap_dfs, basic_stats, merge_year_dfs, \
    group_display, pnls, snapshot_file

symbols_bes = ['BTCUSDT', 'ETHUSDT', 'SOLUSDT']
symbols_bet = ['BTCUSDT', 'ETHUSDT', 'TOTAL3']
snap_2023_bes = snapshot_file('31', 2023, symbols_bes)
snap_2024_bes = snapshot_file('31', 2024, symbols_bes)
snap_2024_bet = snapshot_file('31', 2024, symbols_bet)
snap_2025_bes = snapshot_file('31', 2025, symbols_bes)
snap_2025_bet = snapshot_file('31', 2025, symbols_bet)

f_name_2023_bes, trade_dfs_2023_bes, lo_dfs_2023_bes = snap_dfs(snap_2023_bes, symbols_bes)
f_name_2024_bes, trade_dfs_2024_bes, lo_dfs_2024_bes = snap_dfs(snap_2024_bes, symbols_bes)
f_name_2024_bet, trade_dfs_2024_bet, lo_dfs_2024_bet = snap_dfs(snap_2024_bet, symbols_bet)
f_name_2025_bes, trade_dfs_2025_bes, lo_dfs_2025_bes = snap_dfs(snap_2025_bes, symbols_bes)
f_name_2025_bet, trade_dfs_2025_bet, lo_dfs_2025_bet = snap_dfs(snap_2025_bet, symbols_bet)

trade_stat_2023_bes, lo_stat_2023_bes = basic_stats(trade_dfs_2023_bes, lo_dfs_2023_bes)
trade_stat_2024_bes, lo_stat_2024_bes = basic_stats(trade_dfs_2024_bes, lo_dfs_2024_bes)
trade_stat_2024_bet, lo_stat_2024_bet = basic_stats(trade_dfs_2024_bet, lo_dfs_2024_bet)
trade_stat_2025_bes, lo_stat_2025_bes = basic_stats(trade_dfs_2025_bes, lo_dfs_2025_bes)
trade_stat_2025_bet, lo_stat_2025_bet = basic_stats(trade_dfs_2025_bet, lo_dfs_2025_bet)

trade_dfs_bes = merge_year_dfs([trade_dfs_2023_bes, trade_dfs_2024_bes, trade_dfs_2025_bes], "", [])
trade_dfs_bet = merge_year_dfs([trade_dfs_2024_bet, trade_dfs_2025_bet], "", [])

def to_stat_str(f_name: str, year_pnls):
    return f"{f_name[23:34]}: {year_pnls['trades']} trades with cum pnl {year_pnls['pnl']} (mf {year_pnls['mf pnl']} per trade {year_pnls['mf pnl/trade']}); if full final close pnl {year_pnls['full tpsl']} (mf {year_pnls['mf full tpsl']} per trade {round(year_pnls['mf full tpsl'] / year_pnls['trades'], 2)}); if full pre-close pnl {year_pnls['if full pre']} (mf {year_pnls['mf full pre']} per trade {round(year_pnls['mf full pre'] / year_pnls['trades'], 2)})"

print(f"2023 bes {to_stat_str(f_name_2023_bes, pnls(trade_stat_2023_bes))}")
print(f"2024 bes {to_stat_str(f_name_2024_bes, pnls(trade_stat_2024_bes))}")
print(f"2024 bet {to_stat_str(f_name_2024_bet, pnls(trade_stat_2024_bet))}")
print(f"2025 bes {to_stat_str(f_name_2025_bes, pnls(trade_stat_2025_bes))}")
print(f"2025 bet {to_stat_str(f_name_2025_bet, pnls(trade_stat_2025_bet))}")
print(f"---")
print(f"2023 bes Trade stat:")
display(trade_stat_2023_bes)
print(f"2024 bes Trade stat:")
display(trade_stat_2024_bes)
print(f"2024 bet Trade stat:")
display(trade_stat_2024_bet)
print(f"2025 bes Trade stat:")
display(trade_stat_2025_bes)
print(f"2025 bet Trade stat:")
display(trade_stat_2025_bet)

# print(f"2024 Limit orders stat:")
# display(lo_stat_2024)
# print(f"2025 Limit orders stat:")
# display(lo_stat_2025)

2023 bes strategy_31: 546 trades with cum pnl -9131.3 (mf -12795.37 per trade -45.05); if full final close pnl -9694.87 (mf -13358.72 per trade -24.47); if full pre-close pnl -7615.16 (mf -11279.56 per trade -20.66)
2024 bes strategy_31: 569 trades with cum pnl -11310.03 (mf -14630.22 per trade -49.23); if full final close pnl -16533.46 (mf -19856.0 per trade -34.9); if full pre-close pnl -8127.13 (mf -11445.88 per trade -20.12)
2024 bet strategy_31: 357 trades with cum pnl -4966.05 (mf -7263.0 per trade -40.55); if full final close pnl -8228.49 (mf -10527.77 per trade -29.49); if full pre-close pnl -4085.9 (mf -6381.73 per trade -17.88)
2025 bes strategy_31: 371 trades with cum pnl 7493.83 (mf 5708.76 per trade 24.61); if full final close pnl 13147.55 (mf 11365.05 per trade 30.63); if full pre-close pnl 2332.51 (mf 545.1 per trade 1.47)
2025 bet strategy_31: 308 trades with cum pnl 8702.81 (mf 6945.61 per trade 43.63); if full final close pnl 14028.36 (mf 12273.89 per trade 39.85); if full pre-close pnl 4035.3 (mf 2275.67 per trade 7.39)
---
2023 bes Trade stat:

,name,trades,pnl,mf pnl,mf pnl/trade,tpsl close,full tpsl,mf full tpsl,pre,if full pre,mf full pre,win rate
0,market all,179,-2356.19,-3558.35,-19.88,-2381.75,-2788.84,-3990.99,25.56,-1542.79,-2745.00,0.313
1,limit all,367,-6775.11,-9237.02,-25.17,-7955.30,-6906.03,-9367.73,1180.18,-6072.37,-8534.56,0.245
2,chase_median_rr,94,-1553.42,-2280.11,-24.26,-2111.42,-170.68,-896.92,558.00,-2203.59,-2930.64,0.255
3,chase_mean_rr,49,-520.53,-1272.67,-25.97,-1203.93,809.19,57.37,683.40,-1495.29,-2247.83,0.184
4,chase_absent_tyo,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000
5,chase_absent_tmo,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000
6,chase_absent_two,9,-178.49,-204.24,-22.69,-116.23,67.54,41.91,-62.26,-424.53,-450.39,0.111
7,chase_absent_tdo,20,-784.17,-828.33,-41.42,-670.15,-1188.94,-1233.07,-114.02,-425.97,-470.20,0.300
8,chase_absent_t90mo,15,391.18,324.38,21.63,270.27,106.77,39.97,120.91,547.63,480.87,0.600
9,chase_tyo,1,-54.13,-54.97,-54.97,-50.00,-100.00,-100.87,-4.13,-8.25,-9.08,0.000
10,chase_tmo,5,-318.75,-337.70,-67.54,-300.00,-500.00,-518.99,-18.75,-137.49,-156.42,0.000
11,chase_two,21,140.16,59.17,2.82,147.92,290.05,209.15,-7.76,-9.72,-90.81,0.381
12,chase_tdo,53,-844.59,-1181.69,-22.30,-1039.62,-2134.78,-2472.41,195.03,265.79,-70.84,0.226
13,chase_t90mo,100,-3052.39,-3460.84,-34.61,-2882.14,-4085.18,-4493.87,-170.25,-2180.94,-2589.22,0.210

2024 bes Trade stat:

,name,trades,pnl,mf pnl,mf pnl/trade,tpsl close,full tpsl,mf full tpsl,pre,if full pre,mf full pre,win rate
0,market all,180,-2852.75,-3892.55,-21.63,-3444.18,-3671.65,-4711.77,591.43,-2232.52,-3272.08,0.378
1,limit all,389,-8457.28,-10737.67,-27.60,-11244.99,-12861.81,-15144.23,2787.71,-5894.61,-8173.80,0.324
2,chase_median_rr,97,-2770.82,-3429.83,-35.36,-3586.19,-4397.03,-5057.03,815.37,-1701.42,-2359.72,0.278
3,chase_mean_rr,50,-2433.44,-3099.44,-61.99,-3393.09,-3850.90,-4517.26,959.65,-1899.27,-2565.30,0.140
4,chase_absent_tyo,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000
5,chase_absent_tmo,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000
6,chase_absent_two,3,-219.68,-232.40,-77.47,-200.00,-300.00,-312.75,-19.68,-139.37,-152.05,0.000
7,chase_absent_tdo,48,-1170.75,-1290.70,-26.89,-1150.31,-1596.76,-1716.71,-20.44,-744.74,-864.69,0.271
8,chase_absent_t90mo,42,-451.31,-544.65,-12.97,-621.60,-327.41,-420.96,170.29,-568.17,-661.29,0.524
9,chase_tyo,3,100.83,97.73,32.58,96.52,182.22,179.09,4.31,19.45,16.38,1.000
10,chase_tmo,6,-74.43,-92.52,-15.42,-50.90,-132.36,-150.45,-23.52,-16.49,-34.59,0.500
11,chase_two,23,666.06,565.03,24.57,429.41,784.67,683.72,236.65,549.23,448.14,0.522
12,chase_tdo,39,-1094.97,-1345.07,-34.49,-1173.90,-1134.58,-1384.72,78.94,-1127.87,-1377.97,0.231
13,chase_t90mo,78,-1008.78,-1365.82,-17.51,-1594.93,-2089.67,-2447.17,586.15,-265.97,-622.71,0.385

2024 bet Trade stat:

,name,trades,pnl,mf pnl,mf pnl/trade,tpsl close,full tpsl,mf full tpsl,pre,if full pre,mf full pre,win rate
0,market all,120,-1620.22,-2408.40,-20.07,-2299.27,-2456.24,-3244.81,679.06,-1329.63,-2117.67,0.375
1,limit all,237,-3345.83,-4854.60,-20.48,-5610.44,-5772.25,-7282.96,2264.61,-2756.27,-4264.06,0.342
2,chase_median_rr,60,-1444.80,-1880.20,-31.34,-2149.46,-2592.15,-3028.23,704.66,-912.22,-1347.23,0.283
3,chase_mean_rr,28,-1436.10,-1832.86,-65.46,-1954.03,-2432.25,-2829.31,517.92,-1372.64,-1769.53,0.143
4,chase_absent_tyo,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000
5,chase_absent_tmo,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000
6,chase_absent_two,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000
7,chase_absent_tdo,41,-1006.04,-1121.49,-27.35,-870.76,-812.56,-928.24,-135.27,-1157.20,-1272.45,0.341
8,chase_absent_t90mo,24,-99.76,-179.83,-7.49,-200.10,-173.42,-253.75,100.34,-6.77,-86.58,0.542
9,chase_tyo,1,32.77,32.25,32.25,32.77,32.77,32.25,0.00,32.77,32.25,1.000
10,chase_tmo,3,176.92,172.09,57.36,123.97,217.39,212.58,52.94,136.44,131.59,1.000
11,chase_two,14,815.42,744.73,53.20,501.29,914.27,843.54,314.13,731.07,660.43,0.571
12,chase_tdo,22,-339.19,-534.28,-24.29,-535.22,-600.65,-795.83,196.02,-77.73,-272.73,0.136
13,chase_t90mo,44,-45.04,-255.01,-5.80,-558.90,-325.65,-535.97,513.86,-129.99,-339.80,0.409

2025 bes Trade stat:

,name,trades,pnl,mf pnl,mf pnl/trade,tpsl close,full tpsl,mf full tpsl,pre,if full pre,mf full pre,win rate
0,market all,123,1003.30,387.24,3.15,755.59,2498.94,1883.51,247.70,-395.33,-1011.98,0.439
1,limit all,248,6490.53,5321.52,21.46,5047.90,10648.61,9481.54,1442.62,2727.84,1557.08,0.415
2,chase_median_rr,65,2609.61,2294.63,35.30,2175.72,4436.98,4122.79,433.90,857.34,541.60,0.400
3,chase_mean_rr,28,571.43,313.09,11.18,529.57,354.55,96.15,41.86,788.30,530.02,0.250
4,chase_absent_tyo,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000
5,chase_absent_tmo,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000
6,chase_absent_two,6,497.35,471.37,78.56,456.85,1113.70,1087.99,40.50,-118.99,-145.25,0.333
7,chase_absent_tdo,25,1072.83,1027.00,41.08,767.09,1222.34,1176.58,305.74,923.32,877.42,0.760
8,chase_absent_t90mo,20,48.54,-43.99,-2.20,-232.33,-218.04,-310.53,280.87,315.12,222.54,0.450
9,chase_tyo,2,-92.79,-99.79,-49.89,-100.00,-200.00,-207.04,7.21,14.42,7.47,0.000
10,chase_tmo,9,184.32,139.52,15.50,147.59,274.11,229.28,36.73,94.54,49.77,0.556
11,chase_two,13,-219.57,-254.28,-19.56,-209.98,-318.28,-353.10,-9.59,-120.86,-155.46,0.462
12,chase_tdo,32,-376.37,-560.32,-17.51,-330.82,-10.22,-194.00,-45.56,-630.92,-814.98,0.188
13,chase_t90mo,48,2195.17,2034.30,42.38,1844.22,3993.47,3833.42,350.95,605.58,443.97,0.479

2025 bet Trade stat:

,name,trades,pnl,mf pnl,mf pnl/trade,tpsl close,full tpsl,mf full tpsl,pre,if full pre,mf full pre,win rate
0,market all,96,2447.97,1906.20,19.86,2483.91,3689.15,3147.94,-35.94,1412.82,870.56,0.396
1,limit all,212,6254.84,5039.41,23.77,5682.87,10339.21,9125.95,571.96,2622.48,1405.11,0.321
2,chase_median_rr,51,1397.56,1077.16,21.12,1114.68,2939.32,2619.80,282.89,4.35,-316.87,0.255
3,chase_mean_rr,30,-80.78,-390.35,-13.01,59.60,-440.40,-749.98,-140.38,278.84,-30.71,0.133
4,chase_absent_tyo,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000
5,chase_absent_tmo,0,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.000
6,chase_absent_two,9,634.55,587.11,65.23,414.41,1343.94,1296.83,220.14,-60.50,-108.25,0.333
7,chase_absent_tdo,18,1472.94,1444.92,80.27,1539.84,1489.32,1461.31,-66.89,1501.91,1473.87,0.556
8,chase_absent_t90mo,18,-511.94,-651.69,-36.21,-568.27,-449.75,-589.48,56.34,-574.12,-713.90,0.278
9,chase_tyo,4,-293.02,-314.14,-78.53,-250.00,-400.00,-421.17,-43.02,-186.04,-207.11,0.000
10,chase_tmo,5,144.00,122.43,24.49,179.65,129.65,108.09,-35.65,158.35,136.78,0.400
11,chase_two,9,1226.06,1202.05,133.56,1306.62,1272.53,1248.46,-80.56,1179.59,1155.63,0.556
12,chase_tdo,27,-785.46,-933.10,-34.56,-806.25,-387.56,-535.01,20.78,-1106.26,-1254.04,0.185
13,chase_t90mo,41,3050.92,2895.02,70.61,2692.60,4842.18,4687.10,358.32,1426.36,1269.71,0.512

In [21]:
# group_display(trade_dfs, ["year"], False, "entry_rr")
# print('--')
# search_by = trade_dfs
search_by = merge_year_dfs([trade_dfs_bes],
    "entry_wd in ['Tue', 'Wed'] and 3 < entry_rr < 20",
                           # "year == 2024",
                           # "asset != 'SOLUSDT' and smt_flags in ['BeS', 'Bes', 'bES', 'bEs']",
                           # "psp_key == '4h' and target_level == 5 and 0.3 < entry_rr < 113",
                           # [],
                           ['chase_two']
                           # [x[0] for x in trade_dfs if x[0] not in ['market all', 'limit all']]
                           )
df_group = group_display(search_by, [
    # "year",
    # "psp_key",
    # "entry_rr_perc",
    # "target_level",
    
    # "signal_dq",
    # "entry_dq",
    # "signal_wd",
    "entry_wd",
    # "asset",
    # "minutes_between_signal_and_entry",
    # "entry_position_usd",
    # "entry_position_fee",
    # "close_position_fee",
    
    # "entry_rr",
    # "year"
], False, "entry_rr")

df_group
# df_group["entry_position_usd"].max()

'chase_two [3.45, 4.39, 9.7, 13.71]'

           chase_two
                mean      median count
entry_wd
Tue       28.99/0.27  -84.21/0.0    52
Wed       10.63/0.28  -95.25/0.0    32

In [ ]:
trade_dfs_bes[1][1]

In [25]:
# group(["direction"])
# group(["asset"])
# group(["smt_type"])
# group(["smt_label"])
# group(["smt_flags"])

# display([round(float(x), 4) for x in np.percentile(trades_df_2024['entry_rr'], [10, 30, 70, 90])])
# display([round(float(x), 4) for x in np.percentile(trades_df_2025['entry_rr'], [10, 30, 70, 90])])

# group(["entry_rr_perc"])
# df_group = group(["direction", "psp_key"], "")
# df_group

In [26]:
df_group = group_display(trade_dfs_bes, ["psp_key", "target_level", "year"], True, "")
df_group

'market all'

                                mean     median  count
psp_key target_level year
1h      4            2025  25.995646 -44.289841     98

'limit all'

                                mean     median  count
psp_key target_level year
1h      4            2024  18.672636 -70.105802    366
                     2025  22.038596 -64.696578    220

'chase_median_rr'

                                mean     median  count
psp_key target_level year
1h      4            2025  20.192879 -67.726936     73

'chase_mean_rr'

                                mean      median  count
psp_key target_level year
1h      4            2024  29.656576  -82.778550     89
                     2025  15.152759 -100.000000     49
2h      5            2024  21.579451  -70.987001    189
4h      4            2025  23.217186 -100.000000     31
        5            2025  28.524339  -62.146952     49

'chase_absent_two'

                                mean  median  count
psp_key target_level year
1h      5            2024  27.819393  -100.0      6

'chase_absent_tdo'

                                mean     median  count
psp_key target_level year
1h      4            2024  73.815544 -57.450283     35
                     2025  58.941321 -44.815908     28
2h      4            2025  64.532762 -71.263239     24
        5            2024  38.549866 -67.004660     39

'chase_absent_t90mo'

                                mean     median  count
psp_key target_level year
1h      4            2025  93.795543  86.600103     11

'chase_tyo'

                                 mean     median  count
psp_key target_level year
2h      5            2024  104.241231  18.367207      5

'chase_tmo'

                                mean     median  count
psp_key target_level year
1h      5            2024  16.992144  27.658378     16
2h      5            2024  42.255997 -53.484807     14

'chase_two'

                                 mean     median  count
psp_key target_level year
2h      4            2024   62.104709  15.643370     13
        5            2024   50.485602  -5.617160     31
                     2025   76.518471  13.289461     17
4h      4            2024  104.243480  65.933796     18
                     2025   49.118025  56.215166      8

'chase_tdo'

                                mean    median  count
psp_key target_level year
2h      5            2025  17.249338  3.217228     65

'chase_t90mo'

                                mean    median  count
psp_key target_level year
2h      4            2024  25.521284 -71.36621     40

                           market all                      limit all  \
                                 mean      median count         mean
psp_key target_level year
1h      4            2024   -2.32/0.3  -65.08/0.0   169   18.67/0.28
                     2025   26.0/0.43  -44.29/0.0    98   22.04/0.33
        5            2024  -1.08/0.38  -53.68/0.0   639   -0.69/0.32
                     2025  -17.86/0.3  -69.32/0.0   397  -12.66/0.26
2h      4            2024  -2.59/0.34  -62.07/0.0   126     3.45/0.3
                     2025  -25.28/0.3  -64.92/0.0    90  -15.98/0.21
        5            2024   9.32/0.45  -26.35/0.0   444     10.0/0.4
                     2025  -4.17/0.39  -60.43/0.0   195     2.5/0.35
4h      4            2024  -4.39/0.35  -53.52/0.0   150    4.27/0.31
                     2025  -5.55/0.37  -58.73/0.0    83    2.59/0.37
        5            2024  -3.58/0.55    8.08/1.0   174    -3.5/0.46
                     2025   3.14/0.54    4.32/1.0   138    4.13/0.44

                                            chase_median_rr                    \
                               median count            mean      median count
psp_key target_level year
1h      4            2024  -70.11/0.0   366       13.8/0.28  -67.19/0.0   126
                     2025   -64.7/0.0   220      20.19/0.37  -67.73/0.0    73
        5            2024  -62.16/0.0  1319        5.3/0.33  -61.95/0.0   473
                     2025  -73.76/0.0   840     -17.31/0.24  -74.67/0.0   294
2h      4            2024  -68.63/0.0   277      -0.13/0.27  -72.52/0.0    84
                     2025  -78.85/0.0   167     -14.43/0.25   -85.2/0.0    48
        5            2024  -48.13/0.0   946         4.1/0.4  -47.04/0.0   302
                     2025  -63.77/0.0   469       7.01/0.35  -68.98/0.0   156
4h      4            2024  -62.68/0.0   320      -3.09/0.27  -68.17/0.0   100
                     2025  -63.56/0.0   162        7.6/0.35  -60.15/0.0    52
        5            2024  -10.96/0.0   365      -6.61/0.42   -29.9/0.0   106
                     2025   -31.8/0.0   284      12.22/0.48   -2.92/0.0    87

                          chase_mean_rr  ... chase_tmo    chase_two  \
                                   mean  ...     count         mean
psp_key target_level year                ...
1h      4            2024     29.66/0.2  ...         1     5.3/0.62
                     2025    15.15/0.24  ...         4    -7.4/0.33
        5            2024    -2.89/0.22  ...        16    2.59/0.41
                     2025   -16.65/0.17  ...        12  -36.35/0.41
2h      4            2024   -31.55/0.18  ...         2    62.1/0.54
                     2025    -7.82/0.21  ...         6   -93.93/0.0
        5            2024    21.58/0.33  ...        14   50.49/0.48
                     2025     4.98/0.24  ...         8   76.52/0.65
4h      4            2024    -5.53/0.21  ...         2  104.24/0.61
                     2025    23.22/0.32  ...         6   49.12/0.88
        5            2024     1.18/0.35  ...         5  -11.28/0.54
                     2025    28.52/0.39  ...         3   11.24/0.69

                                               chase_tdo                    \
                               median count         mean      median count
psp_key target_level year
1h      4            2024   26.26/1.0     8    -9.47/0.3  -77.03/0.0    30
                     2025  -89.54/0.0     6   -7.15/0.31  -69.31/0.0    16
        5            2024  -49.33/0.0    41   -5.24/0.42  -35.63/0.0   130
                     2025  -58.61/0.0    32   -7.62/0.39  -43.46/0.0    93
2h      4            2024   15.64/1.0    13   14.26/0.28   -63.6/0.0    29
                     2025  -100.0/0.0     4  -59.25/0.17  -97.81/0.0    18
        5            2024   -5.62/0.0    31    1.99/0.55    8.44/1.0   148
                     2025   13.29/1.0    17   17.25/0.54    3.22/1.0    65
4h      4            2024   65.93/1.0    18    4.65/0.32   -80.8/0.0    41
                     2025   56.22/1.0     8   -20.43/0.3  -95.63/0.0    23
        5            2024    11.7/1.0    13  -13.18/0.55    7.16/1.0    77
                     2025   24.62/1.0    13    -2.96/0.5   -0.17/0.5    50

                           chase_t90mo
                                  mean      median count
psp_key target_level year
1h      4            2024  -20.42/0.25  -69.88/0.0    61
                     2025    4.32/0.22  -67.77/0.0    32
        5            2024    -4.86/0.3  -64.45/0.0   178
                     2025   -8.07/0.25  -83.96/0.0   113
2h      4            2024   25.52/0.32  -71.37/0.0    40
                     2025  -35.02/0.19  -58.99/0.0    32
        5            2024   -6.44/0.27  -69.14/0.0   134
                     2025  -19.51/0.35  -73.88/0.0    75
4h      4            2024   -0.94/0.32  -56.17/0.0    62
                     2025    3.77/0.43   -53.4/0.0    30
        5            2024   -4.83/0.37  -39.68/0.0    49
                     2025   -0.16/0.34  -48.26/0.0    44

[12 rows x 42 columns]

In [27]:
df_group = group_display(trade_dfs_bes, ["percents_till_stop_perc", "target_level", "year"], True, "percents_till_stop")
df_group

'market all'

                                                mean     median  count
percents_till_stop_perc target_level year
<p70                    4            2025  25.413954 -23.101274     98

'limit all'

                                                mean     median  count
percents_till_stop_perc target_level year
<p10                    5            2025  22.973766 -75.960211    184
<p30                    5            2024  22.012817 -59.935240    576
<p70                    4            2024  15.806036 -57.517043    388
                                     2025  45.345261 -45.691150    196
>=p90                   4            2024  21.658851 -52.724120    110

'chase_median_rr'

                                                mean     median  count
percents_till_stop_perc target_level year
<p10                    5            2025  19.389948 -98.891640     69
<p30                    5            2024  18.649070 -59.971655    191
<p70                    4            2024  17.352503 -62.756324    126
                                     2025  46.805118 -39.946918     64

'chase_mean_rr'

                                                mean      median  count
percents_till_stop_perc target_level year
<p10                    4            2025  31.602343  -93.861455      7
                        5            2025  50.736552  -69.287827     59
<p30                    4            2024  25.716374 -100.000000     37
                        5            2024  23.998700 -100.000000    139
<p70                    4            2025  47.124715  -67.354050     35
>=p90                   4            2024  66.872491  -55.721441     21
                                     2025  33.470679  -61.962883     21
                        5            2024  19.472376    0.775864     42

'chase_absent_tdo'

                                                 mean     median  count
percents_till_stop_perc target_level year
<p30                    4            2024   90.634376 -62.555221      9
                        5            2024  119.670503  28.371667     23
<p70                    4            2024   20.318439 -61.167314     24
                                     2025  101.025579 -47.846474     28
<p90                    4            2025   31.406434 -65.704620     15
>=p90                   4            2024  110.020005  98.692373     13

'chase_absent_t90mo'

                                                mean     median  count
percents_till_stop_perc target_level year
<p70                    4            2024  15.542291 -41.031484     26
                                     2025  69.204676  77.230748     10
<p90                    5            2025  39.094931   2.876276     25
>=p90                   4            2024  17.467887  59.942940     11

'chase_tyo'

                                                mean     median  count
percents_till_stop_perc target_level year
<p70                    5            2024  81.046925  18.367207      7

'chase_tmo'

                                                mean     median  count
percents_till_stop_perc target_level year
<p70                    5            2025  26.409538   0.908423     10
<p90                    5            2024  17.513729  17.402076     12

'chase_two'

                                                mean     median  count
percents_till_stop_perc target_level year
<p30                    5            2024  25.090576 -60.412611     16
                                     2025  83.897705 -80.927577     12
<p70                    4            2024  68.698520  65.933796     12
                                     2025  49.015196  71.849470      6
                        5            2024  33.269817 -55.666249     36
<p90                    4            2024  78.813771  26.255122     20

'chase_tdo'

                                                mean     median  count
percents_till_stop_perc target_level year
<p10                    5            2025  51.998758 -44.943565     14
<p30                    4            2024  16.274867 -71.339429     15
<p70                    4            2024  17.086204 -49.818557     47
                                     2025  26.659599 -33.034912     17
>=p90                   5            2025  15.592532   5.477678     21

'chase_t90mo'

                                                mean     median  count
percents_till_stop_perc target_level year
<p30                    5            2024  15.026650 -65.266763     88
                                     2025  16.689478 -85.488045     51
<p70                    4            2024  17.628709 -46.772591     70
<p90                    4            2024  16.275110 -66.881152     43

'market all [0.32, 0.64, 1.45, 2.54]'

'limit all [0.3, 0.58, 1.37, 2.35]'

'chase_median_rr [0.29, 0.57, 1.33, 2.36]'

'chase_mean_rr [0.26, 0.5, 1.21, 2.19]'

'chase_absent_tyo [0.41, 0.44, 0.65, 0.82]'

'chase_absent_tmo [0.81, 0.94, 1.07, 2.54]'

'chase_absent_two [0.46, 1.18, 1.83, 2.71]'

'chase_absent_tdo [0.38, 0.76, 1.61, 2.51]'

'chase_absent_t90mo [0.46, 0.73, 1.68, 3.02]'

'chase_tyo [0.66, 0.96, 1.47, 1.76]'

'chase_tmo [0.48, 0.78, 1.59, 2.17]'

'chase_two [0.42, 0.75, 1.68, 2.39]'

'chase_tdo [0.34, 0.64, 1.41, 2.51]'

'chase_t90mo [0.29, 0.56, 1.29, 2.14]'

                                            market all                    \
                                                  mean      median count
percents_till_stop_perc target_level year
<p10                    4            2024  -34.92/0.12  -100.0/0.0    25
                                     2025  -57.19/0.09  -100.0/0.0    11
                        5            2024     7.2/0.27  -100.0/0.0   144
                                     2025    2.53/0.21  -76.18/0.0    89
<p30                    4            2024    0.15/0.26  -73.86/0.0    70
                                     2025    -4.66/0.3  -94.38/0.0    40
                        5            2024   10.39/0.35  -52.14/0.0   259
                                     2025   -7.97/0.28  -77.16/0.0   158
<p70                    4            2024   -2.61/0.31  -61.87/0.0   183
                                     2025   25.41/0.45   -23.1/0.0    98
                        5            2024    0.71/0.43  -35.83/0.0   510
                                     2025  -14.96/0.38  -57.55/0.0   303
<p90                    4            2024    1.47/0.37  -50.31/0.0   116
                                     2025   -5.55/0.39  -44.45/0.0    75
                        5            2024   -3.58/0.52    3.07/1.0   224
                                     2025    -8.22/0.5    0.28/0.5   126
>=p90                   4            2024   -4.07/0.47  -26.83/0.0    51
                                     2025    -30.8/0.3  -72.59/0.0    47
                        5            2024   -3.89/0.59    9.69/1.0   120
                                     2025  -16.04/0.52    2.76/1.0    54

                                             limit all                    \
                                                  mean      median count
percents_till_stop_perc target_level year
<p10                    4            2024  -43.54/0.09  -100.0/0.0    56
                                     2025   -9.32/0.14  -100.0/0.0    22
                        5            2024  -11.43/0.21  -100.0/0.0   288
                                     2025   22.97/0.19  -75.96/0.0   184
<p30                    4            2024    6.99/0.22  -76.95/0.0   143
                                     2025  -39.95/0.19  -100.0/0.0    86
                        5            2024   22.01/0.33  -59.94/0.0   576
                                     2025     2.9/0.27  -97.65/0.0   348
<p70                    4            2024   15.81/0.33  -57.52/0.0   388
                                     2025   45.35/0.39  -45.69/0.0   196
                        5            2024   -3.85/0.34  -56.79/0.0  1056
                                     2025  -18.59/0.31  -66.54/0.0   656
<p90                    4            2024    7.82/0.29  -67.27/0.0   266
                                     2025   -8.29/0.29   -69.0/0.0   148
                        5            2024    2.38/0.47  -19.25/0.0   460
                                     2025   -6.11/0.43  -52.99/0.0   282
>=p90                   4            2024   21.66/0.41  -52.72/0.0   110
                                     2025  -14.67/0.31  -73.16/0.0    97
                        5            2024    3.46/0.57    7.59/1.0   250
                                     2025    3.23/0.48   -2.31/0.0   123

                                          chase_median_rr                    \
                                                     mean      median count
percents_till_stop_perc target_level year
<p10                    4            2024      -10.1/0.11  -100.0/0.0    19
                                     2025     -14.86/0.14  -100.0/0.0     7
                        5            2024      -4.79/0.21  -100.0/0.0    99
                                     2025      19.39/0.19  -98.89/0.0    69
<p30                    4            2024      -12.89/0.2  -100.0/0.0    51
                                     2025     -25.09/0.23  -100.0/0.0    31
                        5            2024      18.65/0.31  -59.97/0.0   191
                                     2025       4.72/0.29  -97.34/0.0   121
<p70                    4            2024      17.35/0.31  -62.76/0.0   126
                                     2025      46.81/0.42  -39.95/0.0    64
                        5            2024      -5.58/0.32  -59.55/0.0   353
                                     2025     -21.49/0.28  -68.67/0.0   214
<p90                    4            2024        0.5/0.26  -66.34/0.0    78
                                     2025      -7.86/0.34  -67.73/0.0    41
                        5            2024        9.55/0.5   -2.46/0.5   150
                                     2025      -0.38/0.43  -51.68/0.0    89
>=p90                   4            2024        1.2/0.39  -60.19/0.0    36
                                     2025      -20.5/0.27  -73.58/0.0    30
                        5            2024       5.59/0.57    7.59/1.0    88
                                     2025       -4.75/0.5    -0.2/0.5    44

                                          chase_mean_rr  ... chase_tmo  \
                                                   mean  ...     count
percents_till_stop_perc target_level year                ...
<p10                    4            2024    -84.67/0.0  ...         1
                                     2025     31.6/0.14  ...      <NA>
                        5            2024    12.76/0.19  ...         1
                                     2025     50.74/0.2  ...         3
<p30                    4            2024    25.72/0.14  ...      <NA>
                                     2025    -56.3/0.04  ...         2
                        5            2024     24.0/0.27  ...         4
                                     2025   -12.31/0.17  ...         5
<p70                    4            2024    -6.81/0.21  ...         2
                                     2025    47.12/0.37  ...         5
                        5            2024    -8.39/0.23  ...        13
                                     2025    -23.47/0.2  ...        10
<p90                    4            2024     3.22/0.21  ...         2
                                     2025     -1.6/0.23  ...         9
                        5            2024    -2.02/0.37  ...        12
                                     2025    -2.93/0.31  ...         5
>=p90                   4            2024    66.87/0.38  ...      <NA>
                                     2025    33.47/0.38  ...      <NA>
                        5            2024     19.47/0.5  ...         5
                                     2025     1.61/0.32  ...      <NA>

                                             chase_two                    \
                                                  mean      median count
percents_till_stop_perc target_level year
<p10                    4            2024   163.16/0.5  163.16/0.5     2
                                     2025   -100.0/0.0  -100.0/0.0     1
                        5            2024     8.6/0.33  -100.0/0.0     3
                                     2025    -87.8/0.0   -87.8/0.0     2
<p30                    4            2024    15.08/0.5   15.08/0.5     2
                                     2025    31.25/0.5   31.25/0.5     2
                        5            2024   25.09/0.31  -60.41/0.0    16
                                     2025    83.9/0.33  -80.93/0.0    12
<p70                    4            2024    68.7/0.75   65.93/1.0    12
                                     2025   49.02/0.67   71.85/1.0     6
                        5            2024   33.27/0.39  -55.67/0.0    36
                                     2025   -6.81/0.63   18.96/1.0    27
<p90                    4            2024   78.81/0.55   26.26/1.0    20
                                     2025   -52.85/0.2  -75.73/0.0     5
                        5            2024   -4.27/0.65   21.13/1.0    20
                                     2025   -14.4/0.62    3.08/1.0    16
>=p90                   4            2024  -10.32/0.33  -74.86/0.0     3
                                     2025   -4.87/0.75   16.95/1.0     4
                        5            2024    -1.48/0.6    8.54/1.0    10
                                     2025   -26.64/0.4  -12.24/0.0     5

                                             chase_tdo                    \
                                                  mean      median count
percents_till_stop_perc target_level year
<p10                    4            2024  -24.16/0.33  -100.0/0.0     3
                                     2025   -90.12/0.0  -90.12/0.0     2
                        5            2024  -23.25/0.32  -64.22/0.0    34
                                     2025    52.0/0.36  -44.94/0.0    14
<p30                    4            2024    16.27/0.4  -71.34/0.0    15
                                     2025  -29.16/0.38  -85.48/0.0     8
                        5            2024   -3.22/0.45  -34.46/0.0    74
                                     2025   11.89/0.34  -61.38/0.0    47
<p70                    4            2024   17.09/0.32  -49.82/0.0    47
                                     2025   26.66/0.41  -33.03/0.0    17
                        5            2024   -1.64/0.51    4.52/1.0   147
                                     2025  -12.15/0.46   -24.3/0.0    82
<p90                    4            2024   -10.0/0.24  -82.65/0.0    25
                                     2025  -50.66/0.19  -100.0/0.0    21
                        5            2024   -2.33/0.51    0.34/1.0    61
                                     2025   -8.02/0.55    2.85/1.0    44
>=p90                   4            2024    -40.5/0.2   -73.0/0.0    10
                                     2025  -69.65/0.11  -100.0/0.0     9
                        5            2024    0.29/0.69   10.96/1.0    39
                                     2025   15.59/0.62    5.48/1.0    21

                                           chase_t90mo
                                                  mean      median count
percents_till_stop_perc target_level year
<p10                    4            2024  -72.52/0.09  -100.0/0.0    11
                                     2025   -100.0/0.0  -100.0/0.0     3
                        5            2024  -48.93/0.17  -100.0/0.0    47
                                     2025    0.13/0.14  -91.85/0.0    29
<p30                    4            2024  -50.77/0.13  -70.35/0.0    23
                                     2025  -53.38/0.17  -97.33/0.0    12
                        5            2024   15.03/0.28  -65.27/0.0    88
                                     2025   16.69/0.31  -85.49/0.0    51
<p70                    4            2024   17.63/0.37  -46.77/0.0    70
                                     2025     5.04/0.3  -41.41/0.0    30
                        5            2024   -4.83/0.28   -63.4/0.0   149
                                     2025   -18.52/0.3  -70.64/0.0   105
<p90                    4            2024    16.28/0.3  -66.88/0.0    43
                                     2025    9.31/0.25  -63.31/0.0    28
                        5            2024     0.9/0.44  -45.07/0.0    62
                                     2025  -40.28/0.31  -83.09/0.0    35
>=p90                   4            2024  -15.72/0.31  -51.34/0.0    16
                                     2025  -16.21/0.38  -54.27/0.0    21
                        5            2024   -21.61/0.4  -50.31/0.0    15
                                     2025    9.76/0.58   29.27/1.0    12

[20 rows x 42 columns]

In [28]:
df_group = group_display(trade_dfs_bes, ["target_level", "psp_key", "entry_rr_perc", "year"], True, "entry_rr")
df_group

'market all'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            1h      <p70          2025   52.065122   74.745020     44
                     >=p90         2025   35.304645 -100.000000     16
             2h      <p10          2025   21.600517   23.076579      6
                     <p90          2024   38.544180  -66.161616     35
                     >=p90         2025   52.366992 -100.000000      9
             4h      <p30          2025   15.709885   48.423423     15
                     <p70          2024   16.430751  -31.302979     74
5            1h      <p90          2024   15.098962  -72.845404    132
             2h      <p90          2025   30.225272 -100.000000     35
                     >=p90         2024  111.212246 -100.000000     29
                                   2025   40.176570 -100.000000     14
             4h      <p90          2025  122.906512  -27.491379     10
                     >=p90         2024   15.181471 -100.000000      5

'limit all'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            1h      <p30          2025   30.274843   65.758305     17
                     <p70          2025   27.323264  -47.675063     88
                     <p90          2024   38.954552  -62.416882    120
                                   2025   19.743589  -70.438258     72
                     >=p90         2024   24.156937 -100.000000     58
             2h      <p30          2024   15.278220   48.098453     37
                     <p70          2024   17.341891  -62.059630    110
                     >=p90         2025  223.928697  -85.950190     16
             4h      <p10          2024   16.158248   46.134104     10
                     <p30          2025   47.176162   73.513631     32
                     <p70          2024   25.248616  -52.047489    138
                                   2025   26.769983  -55.938876     74
5            1h      >=p90         2025   36.978632 -100.000000    108
             2h      <p90          2024   31.912522  -86.487526    150
                     >=p90         2025  139.639783 -100.000000     26
             4h      <p90          2024   59.045070  -36.646267     16
                                   2025  100.548107 -100.000000     27
                     >=p90         2024  129.069723 -100.000000      8
                                   2025  113.854843 -100.000000      7

'chase_median_rr'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            1h      <p70          2024   27.992892  -59.712446     38
                                   2025   61.693519  -20.159352     30
                     >=p90         2024   71.070244  -76.417921     16
             2h      <p30          2024   25.742081   48.523711      8
                                   2025   23.377148   76.020274      5
                     <p90          2024   23.020184  -78.081024     31
             4h      <p30          2025   37.352710   80.569374     11
                     <p70          2024   33.755729  -41.614247     44
                                   2025   32.886909  -45.435259     24
5            1h      <p70          2024   15.047475  -59.667156    214
                     <p90          2024   28.666895  -85.147747     99
                     >=p90         2025   43.806198 -100.000000     31
             2h      <p10          2024   15.107004   10.241638     29
                     <p30          2024   20.809803   47.569191     65
                     <p90          2024   22.763290  -82.947430     56
                                   2025   42.351957 -100.000000     32
                     >=p90         2025  156.325497 -100.000000      7
             4h      <p30          2025   18.122189   35.087165     22
                     <p90          2025  119.440584 -100.000000      9

'chase_mean_rr'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            1h      <p90          2024   90.643116  -71.550200     36
                                   2025   56.739406  -66.904042     20
             2h      >=p90         2025   55.491224 -100.000000      6
             4h      <p70          2024   64.060857   -4.350160     16
                                   2025  196.272174  193.823087      9
5            1h      >=p90         2025   46.983396 -100.000000     49
             2h      <p30          2024   62.561366   79.750408     13
                     <p70          2024   47.518197  -43.750987     68
                     >=p90         2024   20.797626 -100.000000     35
                                   2025  100.061716 -100.000000     13
             4h      <p30          2025   15.968344   52.896702     12
                     <p90          2024   66.447711  -63.129968      6
                                   2025   73.520001  -66.968448     10
                     >=p90         2025  149.312590 -100.000000      6

'chase_absent_tdo'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            1h      <p70          2024   59.939578  -57.450283     25
                                   2025   15.236277  -44.815908     16
                     <p90          2025  191.261626  133.080149      8
             2h      <p30          2024   63.502993   72.534448      5
                                   2025   17.910679   77.921146      5
5            1h      <p30          2025   40.687809  116.272568      7
                     <p70          2024   64.933967  -32.884302     15
             2h      <p70          2024   33.976681  -59.122349     21

'chase_absent_t90mo'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            1h      <p70          2025  147.151933  123.402618      5
             2h      <p30          2024   37.106571   61.101885      7
             4h      <p30          2024   26.474960   61.810878     11
5            1h      <p70          2025   34.269580  -58.011552     26
                     <p90          2025   67.562475  -63.814051      7
             2h      <p70          2025   38.494672  -58.341278     14
             4h      <p30          2025   39.287456   52.542154      6

'chase_tmo'

                                              mean     median  count
target_level psp_key entry_rr_perc year
5            1h      <p10          2024  31.936406  31.692149      6
                     <p70          2025  54.224231  74.150533      5

'chase_two'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            2h      <p70          2024   75.975850   69.236660      6
             4h      <p70          2024  111.215571  127.188351      5
5            1h      <p30          2024   18.248753   33.710796     12
                     <p70          2024   29.392208  -53.796179     16
             2h      <p30          2024   29.792205   47.516526      6
             4h      <p10          2024   21.166965   22.157814      5
                     <p30          2025   19.577061   29.716460      7

'chase_tdo'

                                              mean     median  count
target_level psp_key entry_rr_perc year
4            1h      <p70          2024  18.981026 -71.339429     15
             2h      <p70          2024  33.559304 -65.571413     14
                     <p90          2024  70.122016 -52.357807      6
             4h      <p70          2024  47.790433 -46.280567     24
5            2h      <p30          2024  17.749884  51.059194     56
                                   2025  16.477421  28.168273     19
             4h      <p30          2025  17.643937  20.391932     10

'chase_t90mo'

                                               mean      median  count
target_level psp_key entry_rr_perc year
4            1h      <p30          2024   21.257225   70.727280      9
             2h      <p70          2024   43.543872  -47.028272     20
                     >=p90         2024   28.570504 -100.000000      7
             4h      <p30          2024   45.599012   37.437867     11
                                   2025   54.601799   80.718415     10
5            1h      >=p90         2025  107.224589  -95.925255     12
             2h      <p90          2024   98.568116  -70.938410     19
             4h      <p90          2025  102.281438 -100.000000      5

'market all [0.36, 1.06, 3.35, 6.85]'

'limit all [0.57, 1.68, 5.42, 10.89]'

'chase_median_rr [0.66, 1.95, 5.69, 9.95]'

'chase_mean_rr [1.57, 4.19, 9.77, 17.39]'

'chase_absent_tyo [4.0, 6.39, 9.79, 10.79]'

'chase_absent_tmo [0.26, 0.37, 0.71, 1.35]'

'chase_absent_two [0.42, 1.12, 4.64, 6.6]'

'chase_absent_tdo [0.73, 1.64, 3.94, 8.16]'

'chase_absent_t90mo [0.48, 0.99, 3.11, 5.95]'

'chase_tyo [0.14, 0.75, 2.66, 4.63]'

'chase_tmo [0.41, 1.02, 2.7, 11.43]'

'chase_two [0.21, 0.66, 2.16, 6.6]'

'chase_tdo [0.21, 0.76, 2.56, 5.93]'

'chase_t90mo [0.89, 1.8, 4.67, 8.98]'

                                          market all                    \
                                                mean      median count
target_level psp_key entry_rr_perc year
4            1h      <p10          2024   -35.95/0.5   -34.3/0.5     6
                                   2025    19.23/1.0   19.23/1.0     2
                     <p30          2024  -25.73/0.38  -59.54/0.0    24
                                   2025    14.46/0.8   26.28/1.0     5
                     <p70          2024   -7.96/0.36  -63.77/0.0    44
                                   2025   52.07/0.55   74.75/1.0    44
                     <p90          2024    6.83/0.24   -65.3/0.0    67
                                   2025  -13.51/0.26   -63.9/0.0    31
                     >=p90         2024    11.9/0.21  -81.52/0.0    28
                                   2025    35.3/0.25  -100.0/0.0    16
             2h      <p10          2024   -17.84/0.6    0.56/1.0     5
                                   2025     21.6/1.0   23.08/1.0     6
                     <p30          2024   11.04/0.59   45.23/1.0    22
                                   2025    -5.2/0.57   28.21/1.0    14
                     <p70          2024   -8.24/0.36  -61.76/0.0    47
                                   2025  -24.24/0.26  -63.55/0.0    35
                     <p90          2024   38.54/0.29  -66.16/0.0    35
                                   2025  -75.18/0.04  -100.0/0.0    26
                     >=p90         2024   -84.83/0.0  -100.0/0.0    17
                                   2025   52.37/0.33  -100.0/0.0     9
             4h      <p10          2024    25.54/1.0   25.54/1.0     2
                                   2025    36.76/1.0   36.76/1.0     1
                     <p30          2024    5.31/0.58   51.23/1.0    24
                                   2025   15.71/0.67   48.42/1.0    15
                     <p70          2024   16.43/0.43   -31.3/0.0    74
                                   2025   13.14/0.42  -46.11/0.0    40
                     <p90          2024    -35.4/0.1  -87.82/0.0    30
                                   2025  -57.57/0.06  -75.61/0.0    17
                     >=p90         2024  -49.55/0.05  -100.0/0.0    20
                                   2025   -28.02/0.2  -100.0/0.0    10
5            1h      <p10          2024  -10.26/0.68    7.84/1.0    56
                                   2025   -4.29/0.76   14.72/1.0    21
                     <p30          2024   -7.41/0.55   22.57/1.0   108
                                   2025  -22.42/0.41  -46.62/0.0    79
                     <p70          2024    0.77/0.35  -54.75/0.0   271
                                   2025   -19.21/0.3  -70.92/0.0   167
                     <p90          2024     15.1/0.3  -72.85/0.0   132
                                   2025  -31.14/0.14  -87.48/0.0    81
                     >=p90         2024  -21.13/0.12  -100.0/0.0    72
                                   2025   10.23/0.18  -100.0/0.0    49
             2h      <p10          2024    7.43/0.85   10.79/1.0    46
                                   2025   -2.14/0.75     7.2/1.0    20
                     <p30          2024     5.33/0.6   32.47/1.0   103
                                   2025   -1.59/0.56   15.45/1.0    48
                     <p70          2024    0.01/0.37  -48.72/0.0   198
                                   2025  -29.66/0.28  -74.32/0.0    78
                     <p90          2024     0.3/0.24  -74.96/0.0    68
                                   2025   30.23/0.29  -100.0/0.0    35
                     >=p90         2024  111.21/0.28  -100.0/0.0    29
                                   2025   40.18/0.21  -100.0/0.0    14
             4h      <p10          2024   -2.19/0.73    10.6/1.0    56
                                   2025   -2.86/0.74    9.24/1.0    50
                     <p30          2024   -1.09/0.61    22.7/1.0    59
                                   2025    -4.0/0.54    3.29/1.0    39
                     <p70          2024  -12.91/0.33  -56.29/0.0    46
                                   2025   -5.45/0.36  -71.76/0.0    36
                     <p90          2024    10.2/0.25  -80.98/0.0     8
                                   2025   122.91/0.4  -27.49/0.0    10
                     >=p90         2024    15.18/0.2  -100.0/0.0     5
                                   2025   -100.0/0.0  -100.0/0.0     3

                                           limit all                    \
                                                mean      median count
target_level psp_key entry_rr_perc year
4            1h      <p10          2024  -24.24/0.44   -9.91/0.0     9
                                   2025  -13.58/0.67   19.37/1.0     3
                     <p30          2024  -30.74/0.35  -75.77/0.0    37
                                   2025   30.27/0.59   65.76/1.0    17
                     <p70          2024   14.89/0.36  -63.03/0.0   142
                                   2025   27.32/0.39  -47.68/0.0    88
                     <p90          2024   38.95/0.24  -62.42/0.0   120
                                   2025   19.74/0.28  -70.44/0.0    72
                     >=p90         2024   24.16/0.12  -100.0/0.0    58
                                   2025   13.71/0.18  -100.0/0.0    40
             2h      <p10          2024   -4.96/0.62    1.44/1.0     8
                                   2025   -1.42/0.83    8.19/1.0     6
                     <p30          2024   15.28/0.54    48.1/1.0    37
                                   2025  -18.08/0.39  -62.04/0.0    23
                     <p70          2024   17.34/0.36  -62.06/0.0   110
                                   2025  -46.47/0.15  -77.23/0.0    82
                     <p90          2024    7.34/0.19  -73.71/0.0    81
                                   2025  -50.43/0.08  -100.0/0.0    40
                     >=p90         2024  -50.57/0.07  -100.0/0.0    41
                                   2025  223.93/0.38  -85.95/0.0    16
             4h      <p10          2024    16.16/0.7   46.13/1.0    10
                                   2025    32.92/1.0   34.02/1.0     4
                     <p30          2024    14.39/0.5    2.51/0.5    58
                                   2025   47.18/0.72   73.51/1.0    32
                     <p70          2024   25.25/0.38  -52.05/0.0   138
                                   2025   26.77/0.38  -55.94/0.0    74
                     <p90          2024  -18.39/0.12  -100.0/0.0    86
                                   2025  -41.27/0.15  -100.0/0.0    34
                     >=p90         2024  -54.71/0.04  -100.0/0.0    28
                                   2025   -100.0/0.0  -100.0/0.0    18
5            1h      <p10          2024    -2.22/0.7   12.72/1.0   110
                                   2025     2.3/0.78    21.7/1.0    49
                     <p30          2024   -4.09/0.47  -33.13/0.0   235
                                   2025  -18.19/0.36  -55.06/0.0   164
                     <p70          2024     5.62/0.3  -61.25/0.0   559
                                   2025  -22.94/0.22  -79.18/0.0   349
                     <p90          2024     1.18/0.2  -100.0/0.0   266
                                   2025  -22.06/0.14  -97.31/0.0   170
                     >=p90         2024   -21.16/0.1  -100.0/0.0   149
                                   2025   36.98/0.18  -100.0/0.0   108
             2h      <p10          2024    9.04/0.79   12.24/1.0   116
                                   2025    -2.6/0.74    9.87/1.0    62
                     <p30          2024   11.07/0.56   29.25/1.0   226
                                   2025    1.33/0.51   15.68/1.0   105
                     <p70          2024     1.3/0.31  -62.32/0.0   378
                                   2025  -16.17/0.24  -77.12/0.0   191
                     <p90          2024   31.91/0.23  -86.49/0.0   150
                                   2025    7.69/0.18  -100.0/0.0    85
                     >=p90         2024    8.33/0.13  -100.0/0.0    76
                                   2025  139.64/0.19  -100.0/0.0    26
             4h      <p10          2024    -7.1/0.65    8.34/1.0   107
                                   2025  -16.07/0.58    4.57/1.0    91
                     <p30          2024  -12.02/0.49   -5.49/0.0   125
                                   2025    5.99/0.55   25.84/1.0    87
                     <p70          2024    -9.1/0.27  -71.22/0.0   109
                                   2025  -19.42/0.22  -75.16/0.0    72
                     <p90          2024   59.05/0.38  -36.65/0.0    16
                                   2025   100.55/0.3  -100.0/0.0    27
                     >=p90         2024  129.07/0.25  -100.0/0.0     8
                                   2025  113.85/0.14  -100.0/0.0     7

                                        chase_median_rr                    \
                                                   mean      median count
target_level psp_key entry_rr_perc year
4            1h      <p10          2024      -90.38/0.0  -100.0/0.0     3
                                   2025       19.37/1.0   19.37/1.0     1
                     <p30          2024     -43.22/0.33   -71.9/0.0    15
                                   2025      47.87/0.75   69.07/1.0     4
                     <p70          2024      27.99/0.37  -59.71/0.0    38
                                   2025       61.69/0.5  -20.16/0.5    30
                     <p90          2024       8.47/0.24  -62.84/0.0    54
                                   2025      -7.87/0.26  -68.94/0.0    27
                     >=p90         2024      71.07/0.19  -76.42/0.0    16
                                   2025     -34.09/0.09  -100.0/0.0    11
             2h      <p10          2024     -38.17/0.33  -15.46/0.0     3
                                   2025       25.17/1.0   15.63/1.0     3
                     <p30          2024      25.74/0.62   48.52/1.0     8
                                   2025       23.38/0.6   76.02/1.0     5
                     <p70          2024       0.79/0.33  -63.58/0.0    33
                                   2025     -39.28/0.14  -77.51/0.0    22
                     <p90          2024      23.02/0.19  -78.08/0.0    31
                                   2025      -91.22/0.0  -100.0/0.0    15
                     >=p90         2024      -93.52/0.0  -100.0/0.0     9
                                   2025      449.17/1.0  433.58/1.0     3
             4h      <p10          2024             NaN         NaN  <NA>
                                   2025             NaN         NaN  <NA>
                     <p30          2024       10.03/0.5    2.51/0.5    14
                                   2025      37.35/0.64   80.57/1.0    11
                     <p70          2024      33.76/0.41  -41.61/0.0    44
                                   2025      32.89/0.42  -45.44/0.0    24
                     <p90          2024     -57.48/0.04  -100.0/0.0    28
                                   2025     -31.16/0.08  -100.0/0.0    13
                     >=p90         2024     -23.23/0.07  -100.0/0.0    14
                                   2025      -100.0/0.0  -100.0/0.0     4
5            1h      <p10          2024      -6.84/0.67   12.72/1.0    46
                                   2025     -19.55/0.58    15.4/1.0    12
                     <p30          2024      -11.4/0.44  -39.06/0.0    64
                                   2025     -23.34/0.36  -55.54/0.0    55
                     <p70          2024      15.05/0.31  -59.67/0.0   214
                                   2025     -28.32/0.23  -75.51/0.0   130
                     <p90          2024      28.67/0.27  -85.15/0.0    99
                                   2025      -18.9/0.12  -100.0/0.0    66
                     >=p90         2024     -50.17/0.06  -100.0/0.0    50
                                   2025      43.81/0.23  -100.0/0.0    31
             2h      <p10          2024      15.11/0.86   10.24/1.0    29
                                   2025       0.04/0.75    6.36/1.0    12
                     <p30          2024       20.81/0.6   47.57/1.0    65
                                   2025       11.0/0.55   30.11/1.0    38
                     <p70          2024      -6.36/0.31  -60.88/0.0   137
                                   2025     -26.48/0.21  -77.12/0.0    67
                     <p90          2024      22.76/0.21  -82.95/0.0    56
                                   2025      42.35/0.25  -100.0/0.0    32
                     >=p90         2024     -63.83/0.13  -100.0/0.0    15
                                   2025     156.33/0.29  -100.0/0.0     7
             4h      <p10          2024      -11.3/0.63    5.33/1.0    30
                                   2025       -6.21/0.7    7.59/1.0    27
                     <p30          2024     -12.32/0.42   -13.3/0.0    31
                                   2025      18.12/0.59   35.09/1.0    22
                     <p70          2024      -8.31/0.28   -70.2/0.0    36
                                   2025      -5.13/0.25   -84.9/0.0    28
                     <p90          2024     -18.86/0.33  -73.52/0.0     6
                                   2025     119.44/0.33  -100.0/0.0     9
                     >=p90         2024     144.19/0.33  -100.0/0.0     3
                                   2025      -98.89/0.0  -98.89/0.0     1

                                        chase_mean_rr  ... chase_tmo  \
                                                 mean  ...     count
target_level psp_key entry_rr_perc year                ...
4            1h      <p10          2024           NaN  ...      <NA>
                                   2025     39.88/1.0  ...      <NA>
                     <p30          2024    -86.98/0.0  ...      <NA>
                                   2025           NaN  ...         1
                     <p70          2024   -12.91/0.29  ...         1
                                   2025    -93.57/0.0  ...         3
                     <p90          2024    90.64/0.25  ...      <NA>
                                   2025     56.74/0.3  ...      <NA>
                     >=p90         2024    -2.04/0.08  ...      <NA>
                                   2025     5.87/0.23  ...      <NA>
             2h      <p10          2024      2.54/1.0  ...      <NA>
                                   2025     11.02/1.0  ...      <NA>
                     <p30          2024    -100.0/0.0  ...         1
                                   2025    112.28/1.0  ...         3
                     <p70          2024     -1.3/0.21  ...         1
                                   2025   -47.72/0.11  ...         3
                     <p90          2024   -37.69/0.14  ...      <NA>
                                   2025   -22.34/0.09  ...      <NA>
                     >=p90         2024   -47.04/0.11  ...      <NA>
                                   2025    55.49/0.33  ...      <NA>
             4h      <p10          2024           NaN  ...      <NA>
                                   2025           NaN  ...      <NA>
                     <p30          2024    -59.22/0.0  ...         1
                                   2025     38.34/0.5  ...         2
                     <p70          2024     64.06/0.5  ...      <NA>
                                   2025   196.27/0.67  ...         3
                     <p90          2024   -13.85/0.13  ...      <NA>
                                   2025   -32.57/0.23  ...      <NA>
                     >=p90         2024    -86.54/0.0  ...         1
                                   2025    -100.0/0.0  ...         1
5            1h      <p10          2024    -9.54/0.67  ...         6
                                   2025      31.7/1.0  ...         1
                     <p30          2024    -8.45/0.48  ...         4
                                   2025   -44.53/0.22  ...         3
                     <p70          2024     4.81/0.29  ...         5
                                   2025   -29.26/0.16  ...         5
                     <p90          2024   -16.12/0.15  ...      <NA>
                                   2025   -44.89/0.13  ...      <NA>
                     >=p90         2024     8.49/0.14  ...         1
                                   2025    46.98/0.18  ...         3
             2h      <p10          2024      4.4/0.82  ...         2
                                   2025     -5.8/0.71  ...         1
                     <p30          2024    62.56/0.85  ...         4
                                   2025       4.0/0.5  ...         3
                     <p70          2024     47.52/0.4  ...         4
                                   2025    -1.59/0.27  ...         3
                     <p90          2024   -11.97/0.18  ...         2
                                   2025    -19.8/0.11  ...      <NA>
                     >=p90         2024     20.8/0.14  ...         2
                                   2025   100.06/0.15  ...         1
             4h      <p10          2024     -38.5/0.5  ...         1
                                   2025    -28.13/0.5  ...         1
                     <p30          2024   -13.35/0.56  ...         2
                                   2025    15.97/0.58  ...      <NA>
                     <p70          2024    -17.7/0.23  ...         2
                                   2025   -15.38/0.31  ...         2
                     <p90          2024    66.45/0.33  ...      <NA>
                                   2025     73.52/0.3  ...      <NA>
                     >=p90         2024   174.52/0.25  ...      <NA>
                                   2025   149.31/0.17  ...      <NA>

                                           chase_two                    \
                                                mean      median count
target_level psp_key entry_rr_perc year
4            1h      <p10          2024    28.11/1.0   28.11/1.0     2
                                   2025          NaN         NaN  <NA>
                     <p30          2024   101.93/1.0  101.93/1.0     1
                                   2025   -100.0/0.0  -100.0/0.0     1
                     <p70          2024   -23.15/0.4  -71.95/0.0     5
                                   2025   85.21/0.67   162.5/1.0     3
                     <p90          2024          NaN         NaN  <NA>
                                   2025   -100.0/0.0  -100.0/0.0     2
                     >=p90         2024          NaN         NaN  <NA>
                                   2025          NaN         NaN  <NA>
             2h      <p10          2024    15.64/1.0   15.64/1.0     1
                                   2025          NaN         NaN  <NA>
                     <p30          2024   33.32/0.33  -16.45/0.0     3
                                   2025   -100.0/0.0  -100.0/0.0     1
                     <p70          2024   75.98/0.67   69.24/1.0     6
                                   2025   -91.91/0.0  -100.0/0.0     3
                     <p90          2024   78.63/0.33  -40.59/0.0     3
                                   2025          NaN         NaN  <NA>
                     >=p90         2024          NaN         NaN  <NA>
                                   2025          NaN         NaN  <NA>
             4h      <p10          2024          NaN         NaN  <NA>
                                   2025    34.75/1.0   34.75/1.0     2
                     <p30          2024    6.59/0.45   -42.5/0.0    11
                                   2025    48.43/1.0   65.81/1.0     3
                     <p70          2024   111.22/0.8  127.19/1.0     5
                                   2025   59.39/0.67   77.89/1.0     3
                     <p90          2024   623.91/1.0  623.91/1.0     2

In [29]:
# group(["psp_key", "direction", "entry_yq"])
# group(["psp_key", "direction", "entry_mw"])
# group(["psp_key", "direction", "entry_wd"])
# group(["psp_key", "direction", "entry_wd"])
# group(["psp_key", "direction", "entry_dq"])
# group(["psp_key", "direction", "entry_q90m"])
# group(["entry_yq"])
# group(["entry_mw"])
# group(["entry_wd"])
# group(["entry_dq"])
# group(["entry_q90m"])

In [30]:
# (trades_df_2024.groupby(["smt_label", "psp_key", "direction"])["pnl_usd"]
#  .agg(["mean", "median", "count"])
#  .reset_index())
# (trades_df_2025.groupby(["smt_label", "psp_key", "direction"])["pnl_usd"]
#  .agg(["mean", "median", "count"])
#  .reset_index())

In [31]:
# display([round(float(x), 4) for x in np.percentile(trades_df_2024['entry_rr'], [10, 30, 70, 90])])
# display([round(float(x), 4) for x in np.percentile(trades_df_2025['entry_rr'], [10, 30, 70, 90])])
# 
# display(trades_df_2024.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))
# display(trades_df_2025.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))
# 
# display(trades_df_2024.query("14 < entry_rr < 17")["pnl_usd"].agg(["mean", "median", "count"]))
# display(trades_df_2025.query("14 < entry_rr < 17")["pnl_usd"].agg(["mean", "median", "count"]))
# display(trades_df_2024.query("14 < entry_rr < 17")["won"].agg(["mean", "median", "count"]))
# display(trades_df_2025.query("14 < entry_rr < 17")["won"].agg(["mean", "median", "count"]))

In [32]:
# df_rr_change_2024 = trades_df_2024.query("won")[["entry_rr", "entry_rr_perc", "best_entry_rr"]]
# df_rr_change_2024["multiplier"] = df_rr_change_2024["best_entry_rr"] / df_rr_change_2024["entry_rr"]
# display([round(float(x), 4) for x in np.percentile(df_rr_change_2024['entry_rr'], [10, 30, 70, 90])])
# display(df_rr_change_2024.groupby("entry_rr_perc")["multiplier"].agg(["mean", "median", "count"]))
# 
# df_rr_change_2025 = trades_df_2025.query("won")[["entry_rr", "entry_rr_perc", "best_entry_rr"]]
# df_rr_change_2025["multiplier"] = df_rr_change_2025["best_entry_rr"] / df_rr_change_2025["entry_rr"]
# display([round(float(x), 4) for x in np.percentile(df_rr_change_2025['entry_rr'], [10, 30, 70, 90])])
# display(df_rr_change_2025.groupby("entry_rr_perc")["multiplier"].agg(["mean", "median", "count"]))