In [1]:
from typing import Tuple
import pandas as pd
from IPython.display import display
import numpy as np

from stock_market_research_kit.smt_psp_trade import smt_psp_trades_from_json
from scripts.run_smt_strategies_analyzer import strategy29_2025_snapshot, to_trade_dfs, \
    with_cum_and_stagnation

with open(strategy29_2025_snapshot, "r", encoding="utf-8") as f:
    json_str = f.read()
df_m, df_l, df_lo = to_trade_dfs(smt_psp_trades_from_json(json_str))

df_l_chase_median_rr = with_cum_and_stagnation(df_l.query('limit_reason == "chase_median_rr"'))
df_l_chase_mean_rr = with_cum_and_stagnation(df_l.query('limit_reason == "chase_mean_rr"'))
df_l_chase_absent_tyo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_absent_tyo"'))
df_l_chase_absent_tmo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_absent_tmo"'))
df_l_chase_absent_two = with_cum_and_stagnation(df_l.query('limit_reason == "chase_absent_two"'))
df_l_chase_absent_tdo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_absent_tdo"'))
df_l_chase_absent_t90mo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_absent_t90mo"'))
df_l_chase_tyo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_tyo"'))
df_l_chase_tmo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_tmo"'))
df_l_chase_two = with_cum_and_stagnation(df_l.query('limit_reason == "chase_two"'))
df_l_chase_tdo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_tdo"'))
df_l_chase_t90mo = with_cum_and_stagnation(df_l.query('limit_reason == "chase_t90mo"'))

df_m = with_cum_and_stagnation(df_m)
df_l = with_cum_and_stagnation(df_l)

df_lo_chase_median_rr = df_lo.query('limit_reason == "chase_median_rr"')
df_lo_chase_mean_rr = df_lo.query('limit_reason == "chase_mean_rr"')
df_lo_chase_absent_tyo = df_lo.query('limit_reason == "chase_absent_tyo"')
df_lo_chase_absent_tmo = df_lo.query('limit_reason == "chase_absent_tmo"')
df_lo_chase_absent_two = df_lo.query('limit_reason == "chase_absent_two"')
df_lo_chase_absent_tdo = df_lo.query('limit_reason == "chase_absent_tdo"')
df_lo_chase_absent_t90mo = df_lo.query('limit_reason == "chase_absent_t90mo"')
df_lo_chase_tyo = df_lo.query('limit_reason == "chase_tyo"')
df_lo_chase_tmo = df_lo.query('limit_reason == "chase_tmo"')
df_lo_chase_two = df_lo.query('limit_reason == "chase_two"')
df_lo_chase_tdo = df_lo.query('limit_reason == "chase_tdo"')
df_lo_chase_t90mo = df_lo.query('limit_reason == "chase_t90mo"')

def basic_trade_stat(name, df) -> Tuple[str, int, float, float, float]:
    if len(df) == 0:
        return name, 0, 0, 0, 0
    return (
        name, len(df), round(df['cum_pnl_usd'].iloc[-1], 2),
        round(df['cum_pnl_minus_fees'].iloc[-1], 2), round(len(df.query('won')) / len(df), 3)
    )

def basic_lo_stat(name, df) -> Tuple[str, int, int, float]:
    if len(df) == 0:
        return name, 0, 0, 0
    filled_orders = df.query('limit_status == "FILLED"')
    return name, len(df), len(filled_orders), round(100 * len(filled_orders) / len(df), 2)

df_trade_stat = pd.DataFrame([
    basic_trade_stat('market all', df_m),
    basic_trade_stat('limit all', df_l),
    basic_trade_stat('chase_median_rr', df_l_chase_median_rr),
    basic_trade_stat('chase_mean_rr', df_l_chase_mean_rr),
    basic_trade_stat('chase_absent_tyo', df_l_chase_absent_tyo),
    basic_trade_stat('chase_absent_tmo', df_l_chase_absent_tmo),
    basic_trade_stat('chase_absent_two', df_l_chase_absent_two),
    basic_trade_stat('chase_absent_tdo', df_l_chase_absent_tdo),
    basic_trade_stat('chase_absent_t90mo', df_l_chase_absent_t90mo),
    basic_trade_stat('chase_tyo', df_l_chase_tyo),
    basic_trade_stat('chase_tmo', df_l_chase_tmo),
    basic_trade_stat('chase_two', df_l_chase_two),
    basic_trade_stat('chase_tdo', df_l_chase_tdo),
    basic_trade_stat('chase_t90mo', df_l_chase_t90mo),
], columns=[
    'name',
    'trades',
    'cum_pnl',
    'minus_fees',
    'win_rate',
])

df_lo_stat = pd.DataFrame([
    basic_lo_stat('limit all', df_lo),
    basic_lo_stat('chase_median_rr', df_lo_chase_median_rr),
    basic_lo_stat('chase_mean_rr', df_lo_chase_mean_rr),
    basic_lo_stat('chase_absent_tyo', df_lo_chase_absent_tyo),
    basic_lo_stat('chase_absent_tmo', df_lo_chase_absent_tmo),
    basic_lo_stat('chase_absent_two', df_lo_chase_absent_two),
    basic_lo_stat('chase_absent_tdo', df_lo_chase_absent_tdo),
    basic_lo_stat('chase_absent_t90mo', df_lo_chase_absent_t90mo),
    basic_lo_stat('chase_tyo', df_lo_chase_tyo),
    basic_lo_stat('chase_tmo', df_lo_chase_tmo),
    basic_lo_stat('chase_two', df_lo_chase_two),
    basic_lo_stat('chase_tdo', df_lo_chase_tdo),
    basic_lo_stat('chase_t90mo', df_lo_chase_t90mo),
], columns=[
    'name',
    'orders',
    'trades',
    'conversion',
])

print(f"{f.name[23:34]}:")
print(f"Trade stat:")
display(df_trade_stat)
print(f"Limit orders stat:")
display(df_lo_stat)

strategy_29:
Trade stat:

                  name  trades  cum_pnl  minus_fees  win_rate
0           market all     100 -2181.60    -3727.94     0.330
1            limit all     235 -6494.53   -10123.25     0.217
2      chase_median_rr      73 -1659.36    -2767.41     0.247
3        chase_mean_rr      51  -628.37    -1920.58     0.196
4     chase_absent_tyo       0     0.00        0.00     0.000
5     chase_absent_tmo       0     0.00        0.00     0.000
6     chase_absent_two       0     0.00        0.00     0.000
7     chase_absent_tdo      11  -539.91     -817.69     0.182
8   chase_absent_t90mo      21  -434.93     -588.48     0.286
9            chase_tyo       0     0.00        0.00     0.000
10           chase_tmo       9  -759.58     -806.43     0.000
11           chase_two       9  -285.89     -341.15     0.333
12           chase_tdo      29 -1088.08    -1435.40     0.241
13         chase_t90mo      32 -1098.40    -1446.11     0.156

Limit orders stat:

                  name  orders  trades  conversion
0            limit all     540     235       43.52
1      chase_median_rr     101      73       72.28
2        chase_mean_rr     101      51       50.50
3     chase_absent_tyo     102       0        0.00
4     chase_absent_tmo      18       0        0.00
5     chase_absent_two       9       0        0.00
6     chase_absent_tdo      17      11       64.71
7   chase_absent_t90mo      35      21       60.00
8            chase_tyo       0       0        0.00
9            chase_tmo      14       9       64.29
10           chase_two      33       9       27.27
11           chase_tdo      64      29       45.31
12         chase_t90mo      46      32       69.57

In [2]:
def group(fields):
    def to_agg_pnl_df(label, df):
        df_agg = df.groupby(fields)["pnl_usd"].agg(["mean", "median", "count"]).round({"mean": 2, "median": 2})
        df_agg.columns = pd.MultiIndex.from_product([[label], df_agg.columns])
        return df_agg
    def to_agg_wr_df(label, df):
        df_agg = df.groupby(fields)["won"].agg(["mean", "median", "count"]).round({"mean": 2, "median": 2})
        df_agg.columns = pd.MultiIndex.from_product([[label], df_agg.columns])
        return df_agg
    
    dfs = [
        ('market all', df_m),
        ('limit all', df_l),
        ('chase_median_rr', df_l_chase_median_rr),
        ('chase_mean_rr', df_l_chase_mean_rr),
        ('chase_absent_tyo', df_l_chase_absent_tyo),
        ('chase_absent_tmo', df_l_chase_absent_tmo),
        ('chase_absent_two', df_l_chase_absent_two),
        ('chase_absent_tdo', df_l_chase_absent_tdo),
        ('chase_absent_t90mo', df_l_chase_absent_t90mo),
        ('chase_tyo', df_l_chase_tyo),
        ('chase_tmo', df_l_chase_tmo),
        ('chase_two', df_l_chase_two),
        ('chase_tdo', df_l_chase_tdo),
        ('chase_t90mo', df_l_chase_t90mo),
    ]

    df_joined_pnl = pd.concat([to_agg_pnl_df(x[0], x[1]) for x in dfs if len(x[1]) > 0], axis=1)
    df_joined_wr = pd.concat([to_agg_wr_df(x[0], x[1]) for x in dfs if len(x[1]) > 0], axis=1)
    
    return df_joined_pnl, df_joined_wr

    # print("- pnl")
    # display(df_joined_pnl)
    # print("- winrate")
    # display(df_joined_wr)

df_pnl, df_wr = group(["direction", "asset"])
df_pnl

                  market all              limit all                \
                        mean median count      mean  median count
direction asset
DOWN      BTCUSDT     -44.22 -59.72    20    -33.51  -53.79    55
          ETHUSDT     -43.59 -67.28    20    -59.87  -96.34    48
          SOLUSDT       1.94 -81.95    18    -44.73 -100.00    45
UP        BTCUSDT     -18.26 -54.71    14    -16.62  -65.80    28
          ETHUSDT      -5.49 -42.84    14     22.60  -50.18    29
          SOLUSDT      -9.12 -62.08    14      1.52 -100.00    30

                  chase_median_rr               chase_mean_rr  ... chase_tmo  \
                             mean  median count          mean  ...     count
direction asset                                                ...
DOWN      BTCUSDT          -25.41  -46.63    18        -30.26  ...       NaN
          ETHUSDT          -54.14  -85.80    12        -49.98  ...       7.0
          SOLUSDT          -41.43 -100.00    12        -91.03  ...       2.0
UP        BTCUSDT          -26.70  -76.18    10        -16.64  ...       NaN
          ETHUSDT           16.82  -41.42    10         71.08  ...       NaN
          SOLUSDT            3.97 -100.00    11         44.46  ...       NaN

                  chase_two               chase_tdo               chase_t90mo  \
                       mean  median count      mean  median count        mean
direction asset
DOWN      BTCUSDT    -79.20  -79.08   3.0     -7.33  -61.38     8      -47.19
          ETHUSDT     25.44   25.44   2.0    -97.56 -100.00     3      -69.78
          SOLUSDT   -100.00 -100.00   1.0    -50.69 -100.00     9       23.11
UP        BTCUSDT    -75.60  -75.60   1.0     27.29   19.22     4      -78.00
          ETHUSDT     38.22   38.22   2.0    -63.24  -72.82     3      -11.07
          SOLUSDT       NaN     NaN   NaN   -100.00 -100.00     2      -48.00


                   median count
direction asset
DOWN      BTCUSDT  -59.41     9
          ETHUSDT  -50.00     7
          SOLUSDT -100.00     8
UP        BTCUSDT  -78.00     2
          ETHUSDT  -11.07     2
          SOLUSDT  -90.23     4

[6 rows x 30 columns]

In [12]:
df_wr

                  market all              limit all               \
                        mean median count      mean median count
direction asset
DOWN      BTCUSDT       0.35    0.0   203      0.32    0.0   482
          ETHUSDT       0.33    0.0   204      0.29    0.0   478
          SOLUSDT       0.34    0.0   201      0.29    0.0   480
UP        BTCUSDT       0.39    0.0   127      0.28    0.0   167
          ETHUSDT       0.44    0.0   127      0.30    0.0   171
          SOLUSDT       0.42    0.0   128      0.31    0.0   179

                  chase_median_rr              chase_mean_rr  ... chase_tmo  \
                             mean median count          mean  ...     count
direction asset                                               ...
DOWN      BTCUSDT            0.33    0.0   156          0.26  ...       9.0
          ETHUSDT            0.30    0.0   141          0.20  ...      14.0
          SOLUSDT            0.28    0.0   145          0.18  ...       4.0
UP        BTCUSDT            0.32    0.0    84          0.22  ...       NaN
          ETHUSDT            0.33    0.0    84          0.25  ...       NaN
          SOLUSDT            0.35    0.0    92          0.25  ...       NaN

                  chase_two              chase_tdo              chase_t90mo  \
                       mean median count      mean median count        mean
direction asset
DOWN      BTCUSDT      0.56    1.0  18.0      0.44    0.0  62.0        0.24
          ETHUSDT      0.46    0.0  24.0      0.32    0.0  62.0        0.27
          SOLUSDT      0.33    0.0  21.0      0.39    0.0  69.0        0.30
UP        BTCUSDT       NaN    NaN   NaN       NaN    NaN   NaN         NaN
          ETHUSDT       NaN    NaN   NaN       NaN    NaN   NaN         NaN
          SOLUSDT       NaN    NaN   NaN       NaN    NaN   NaN         NaN


                  median count
direction asset
DOWN      BTCUSDT    0.0  82.0
          ETHUSDT    0.0  86.0
          SOLUSDT    0.0  93.0
UP        BTCUSDT    NaN   NaN
          ETHUSDT    NaN   NaN
          SOLUSDT    NaN   NaN

[6 rows x 39 columns]

In [3]:
# group(["direction"])
# group(["asset"])
# group(["smt_type"])
# group(["smt_label"])
# group(["smt_flags"])

# display([round(float(x), 4) for x in np.percentile(trades_df_2024['entry_rr'], [10, 30, 70, 90])])
# display([round(float(x), 4) for x in np.percentile(trades_df_2025['entry_rr'], [10, 30, 70, 90])])

# group(["entry_rr_perc"])
df_pnl, df_wr = group(["direction", "psp_key"])
df_pnl

                  market all              limit all                \
                        mean median count      mean  median count
direction psp_key
DOWN      1h          -29.06 -62.08    21    -48.78  -80.07    58
          2h          -25.30 -66.94    23    -41.52  -62.59    49
          4h          -37.79 -52.16    14    -45.52 -100.00    41
UP        1h          -12.15 -49.83    24      3.47  -57.23    49
          2h          -58.25 -89.66    12    -61.00 -100.00    30
          4h           88.39  72.32     6    236.97  216.79     8

                  chase_median_rr               chase_mean_rr  ... chase_tmo  \
                             mean  median count          mean  ...     count
direction psp_key                                              ...
DOWN      1h               -36.15  -70.25    18        -53.00  ...       3.0
          2h               -44.18  -64.32    13        -78.86  ...       3.0
          4h               -34.48  -64.19    11        -36.57  ...       3.0
UP        1h               -12.71  -67.99    15         40.96  ...       NaN
          2h               -59.23 -100.00    11        -70.18  ...       NaN
          4h               157.41  150.43     5        475.73  ...       NaN

                  chase_two               chase_tdo               chase_t90mo  \
                       mean  median count      mean  median count        mean
direction psp_key
DOWN      1h         -87.29  -82.79   3.0    -92.34 -100.00   6.0      -26.52
          2h         -31.22  -31.22   2.0      4.94  -61.15   8.0      -33.58
          4h          37.59   37.59   1.0    -48.82 -100.00   6.0         NaN
UP        1h         -78.21  -78.21   2.0    -22.57  -40.60   8.0      -46.94
          2h            NaN     NaN   NaN   -100.00 -100.00   1.0      -45.16
          4h         157.27  157.27   1.0       NaN     NaN   NaN         NaN


                  median count
direction psp_key
DOWN      1h      -65.31  11.0
          2h      -60.43  13.0
          4h         NaN   NaN
UP        1h      -67.13   5.0
          2h      -80.46   3.0
          4h         NaN   NaN

[6 rows x 30 columns]

In [4]:
df_wr

                  market all              limit all               \
                        mean median count      mean median count
direction psp_key
DOWN      1h            0.24    0.0    21      0.12    0.0    58
          2h            0.26    0.0    23      0.16    0.0    49
          4h            0.43    0.0    14      0.27    0.0    41
UP        1h            0.38    0.0    24      0.27    0.0    49
          2h            0.17    0.0    12      0.17    0.0    30
          4h            0.83    1.0     6      0.88    1.0     8

                  chase_median_rr              chase_mean_rr  ... chase_tmo  \
                             mean median count          mean  ...     count
direction psp_key                                             ...
DOWN      1h                 0.17    0.0    18          0.17  ...       3.0
          2h                 0.15    0.0    13          0.00  ...       3.0
          4h                 0.36    0.0    11          0.25  ...       3.0
UP        1h                 0.20    0.0    15          0.23  ...       NaN
          2h                 0.18    0.0    11          0.11  ...       NaN
          4h                 0.80    1.0     5          1.00  ...       NaN

                  chase_two              chase_tdo              chase_t90mo  \
                       mean median count      mean median count        mean
direction psp_key
DOWN      1h            0.0    0.0   3.0      0.00    0.0   6.0        0.09
          2h            0.5    0.5   2.0      0.38    0.0   8.0        0.15
          4h            1.0    1.0   1.0      0.17    0.0   6.0         NaN
UP        1h            0.0    0.0   2.0      0.38    0.0   8.0        0.20
          2h            NaN    NaN   NaN      0.00    0.0   1.0        0.33
          4h            1.0    1.0   1.0       NaN    NaN   NaN         NaN


                  median count
direction psp_key
DOWN      1h         0.0  11.0
          2h         0.0  13.0
          4h         NaN   NaN
UP        1h         0.0   5.0
          2h         0.0   3.0
          4h         NaN   NaN

[6 rows x 30 columns]

In [ ]:
group(["psp_key", "direction", "entry_yq"])
group(["psp_key", "direction", "entry_mw"])
group(["psp_key", "direction", "entry_wd"])
group(["psp_key", "direction", "entry_wd"])
group(["psp_key", "direction", "entry_dq"])
group(["psp_key", "direction", "entry_q90m"])
group(["entry_yq"])
group(["entry_mw"])
group(["entry_wd"])
group(["entry_dq"])
group(["entry_q90m"])

In [ ]:
# (trades_df_2024.groupby(["smt_label", "psp_key", "direction"])["pnl_usd"]
#  .agg(["mean", "median", "count"])
#  .reset_index())
# (trades_df_2025.groupby(["smt_label", "psp_key", "direction"])["pnl_usd"]
#  .agg(["mean", "median", "count"])
#  .reset_index())

In [ ]:
# display([round(float(x), 4) for x in np.percentile(trades_df_2024['entry_rr'], [10, 30, 70, 90])])
# display([round(float(x), 4) for x in np.percentile(trades_df_2025['entry_rr'], [10, 30, 70, 90])])
# 
# display(trades_df_2024.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))
# display(trades_df_2025.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))
# 
# display(trades_df_2024.query("14 < entry_rr < 17")["pnl_usd"].agg(["mean", "median", "count"]))
# display(trades_df_2025.query("14 < entry_rr < 17")["pnl_usd"].agg(["mean", "median", "count"]))
# display(trades_df_2024.query("14 < entry_rr < 17")["won"].agg(["mean", "median", "count"]))
# display(trades_df_2025.query("14 < entry_rr < 17")["won"].agg(["mean", "median", "count"]))

In [ ]:
# df_rr_change_2024 = trades_df_2024.query("won")[["entry_rr", "entry_rr_perc", "best_entry_rr"]]
# df_rr_change_2024["multiplier"] = df_rr_change_2024["best_entry_rr"] / df_rr_change_2024["entry_rr"]
# display([round(float(x), 4) for x in np.percentile(df_rr_change_2024['entry_rr'], [10, 30, 70, 90])])
# display(df_rr_change_2024.groupby("entry_rr_perc")["multiplier"].agg(["mean", "median", "count"]))
# 
# df_rr_change_2025 = trades_df_2025.query("won")[["entry_rr", "entry_rr_perc", "best_entry_rr"]]
# df_rr_change_2025["multiplier"] = df_rr_change_2025["best_entry_rr"] / df_rr_change_2025["entry_rr"]
# display([round(float(x), 4) for x in np.percentile(df_rr_change_2025['entry_rr'], [10, 30, 70, 90])])
# display(df_rr_change_2025.groupby("entry_rr_perc")["multiplier"].agg(["mean", "median", "count"]))