In [107]:
from IPython.display import display, HTML
import numpy as np

from stock_market_research_kit.smt_psp_trade import smt_psp_trades_from_json
from scripts.run_smt_strategies_analyzer import strategy23_2024_snapshot, strategy23_2025_snapshot, to_trade_df

with open(strategy23_2024_snapshot, "r", encoding="utf-8") as f_2024:
    trades_list_2024 = smt_psp_trades_from_json(f_2024.read())
    trades_df_2024 = to_trade_df(trades_list_2024)

with open(strategy23_2025_snapshot, "r", encoding="utf-8") as f_2025:
    trades_list_2025 = smt_psp_trades_from_json(f_2025.read())
    trades_df_2025 = to_trade_df(trades_list_2025)

def display_side_by_side(df_rows):
    html_str1 = ""
    html_str2 = ""
    for df in df_rows[0]:
        html_str1 += df.to_html()
    for df in df_rows[1]:
        html_str2 += df.to_html()
    display(HTML(f"""<div style='font-size:20px; display:flex; gap:170px'><p>2024<p/><p>2025<p/></div>
                     <div style='font-size:20px; display:flex; gap:20px'>{html_str1}</div>
                     <div style='font-size:20px; display:flex; gap:20px'>{html_str2}</div>"""))

def group_by_display(fields):
    display_side_by_side([
        [
            trades_df_2024.groupby(fields)["pnl_usd"].agg(["mean", "median", "count"]).round({"mean": 3, "median": 3}),
            trades_df_2025.groupby(fields)["pnl_usd"].agg(["mean", "median", "count"]).round({"mean": 3, "median": 3}),
        ],
        [
            trades_df_2024.groupby(fields)["won"].agg(["mean", "median", "count"]).round({"mean": 3, "median": 3}),
            trades_df_2025.groupby(fields)["won"].agg(["mean", "median", "count"]).round({"mean": 3, "median": 3})
        ]
    ])

In [108]:
print(f"{f_2024.name[23:34]}: {len(trades_df_2024)} trades with cum_pnl {round(trades_df_2024['cum_pnl_usd'].iloc[-1], 2)} (minus fees is {round(trades_df_2024['cum_pnl_minus_fees'].iloc[-1], 2)}) and winrate {round(len(trades_df_2024.query('won')) / len(trades_df_2024), 3)}")
print(f"{f_2025.name[23:34]}: {len(trades_df_2025)} trades with cum_pnl {round(trades_df_2025['cum_pnl_usd'].iloc[-1], 2)} (minus fees is {round(trades_df_2025['cum_pnl_minus_fees'].iloc[-1], 2)}) and winrate {round(len(trades_df_2025.query('won')) / len(trades_df_2025), 3)}")

group_by_display(["direction"])
group_by_display(["asset"])
group_by_display(["smt_type"])
group_by_display(["smt_label"])
group_by_display(["smt_flags"])

display([round(float(x), 4) for x in np.percentile(trades_df_2024['entry_rr'], [10, 30, 70, 90])])
display([round(float(x), 4) for x in np.percentile(trades_df_2025['entry_rr'], [10, 30, 70, 90])])

group_by_display(["entry_rr_perc"])
group_by_display(["psp_key", "direction"])

strategy_23: 24 trades with cum_pnl 291.68 (minus fees is 245.31) and winrate 0.708
strategy_23: 18 trades with cum_pnl 331.08 (minus fees is 283.34) and winrate 0.833

[0.0722, 0.0937, 0.3842, 0.9845]

[0.0964, 0.1226, 0.3909, 0.6906]

In [109]:
group_by_display(["psp_key", "direction", "entry_yq"])
group_by_display(["psp_key", "direction", "entry_mw"])
group_by_display(["psp_key", "direction", "entry_wd"])
group_by_display(["psp_key", "direction", "entry_wd"])
group_by_display(["psp_key", "direction", "entry_dq"])
group_by_display(["psp_key", "direction", "entry_q90m"])
group_by_display(["entry_yq"])
group_by_display(["entry_mw"])
group_by_display(["entry_wd"])
group_by_display(["entry_dq"])
group_by_display(["entry_q90m"])

In [110]:
(trades_df_2024.groupby(["smt_label", "psp_key", "direction"])["pnl_usd"]
 .agg(["mean", "median", "count"])
 .reset_index())

   smt_label psp_key direction       mean     median  count
0  week1 SMT      1d        UP  38.835959  27.409027      9
1  week2 SMT      1d        UP -28.282355 -10.647453      6
2  week4 SMT      1d        UP  13.140527   9.081390      6
3  week5 SMT      1d        UP  11.001400  12.801330      3

In [111]:
(trades_df_2025.groupby(["smt_label", "psp_key", "direction"])["pnl_usd"]
 .agg(["mean", "median", "count"])
 .reset_index())

   smt_label psp_key direction       mean     median  count
0  week1 SMT      1d        UP  41.346993  36.859739      9
1  week3 SMT      1d        UP  -4.560227   7.991161      9

In [112]:
display([round(float(x), 4) for x in np.percentile(trades_df_2024['entry_rr'], [10, 30, 70, 90])])
display([round(float(x), 4) for x in np.percentile(trades_df_2025['entry_rr'], [10, 30, 70, 90])])

display(trades_df_2024.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.groupby("entry_rr_perc")["pnl_usd"].agg(["mean", "median", "count"]))

display(trades_df_2024.query("14 < entry_rr < 17")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2025.query("14 < entry_rr < 17")["pnl_usd"].agg(["mean", "median", "count"]))
display(trades_df_2024.query("14 < entry_rr < 17")["won"].agg(["mean", "median", "count"]))
display(trades_df_2025.query("14 < entry_rr < 17")["won"].agg(["mean", "median", "count"]))

[0.0722, 0.0937, 0.3842, 0.9845]

[0.0964, 0.1226, 0.3909, 0.6906]

                     mean      median  count
entry_rr_perc
<p10             6.082950    6.113711      3
<p30            -4.669868    8.755636      4
<p70            -2.921680   12.877144     10
<p90            -7.324136   -5.992396      4
>=p90          116.873609  105.209624      3

                     mean      median  count
entry_rr_perc
<p10             4.758939    4.758939      2
<p30           -10.915393   10.443396      4
<p70            -7.585366   21.955172      6
<p90            48.805884   50.557727      4
>=p90          107.756624  107.756624      2

mean      NaN
median    NaN
count     0.0
Name: pnl_usd, dtype: float64

mean      NaN
median    NaN
count     0.0
Name: pnl_usd, dtype: float64

mean      NaN
median    NaN
count     0.0
Name: won, dtype: float64

mean      NaN
median    NaN
count     0.0
Name: won, dtype: float64

In [115]:
trades_df_2025.query("0.01 < entry_rr < 200")

,entry_time,asset,pnl_usd,pnl_minus_fees,cum_pnl_usd,cum_pnl_minus_fees,3d_pnl_cumsum,3d_window_start_date,3d_pnl_cumsum_last_in_window,stagnation_trades_count,...,entry_mw,entry_wd,entry_dq,entry_q90m,entry_rr_perc,minutes_in_market_perc,entry_position_usd_perc,entry_tos,best_entry_tos,entry_date
0,2025-04-05 00:00,BTCUSDT,-59.689115,-62.468963,-59.689115,-62.468963,-59.689115,2025-04-05,-236.276793,1,...,MW5,Sat,DQ1_Asia,Q2_90m,<p70,>=p90,<p70,BTCUSDT-t90mo-tyo-two-tmo,tdo-tyo-t90mo-two-BTCUSDT-tmo,2025-04-05
1,2025-04-05 00:00,ETHUSDT,-100.000000,-102.340946,-159.689115,-164.809909,-159.689115,2025-04-05,-236.276793,2,...,MW5,Sat,DQ1_Asia,Q2_90m,<p70,>=p90,<p70,tmo-tyo-two-ETHUSDT-t90mo,tmo-tyo-two-tdo-t90mo-ETHUSDT,2025-04-05
2,2025-04-05 00:00,SOLUSDT,-76.587678,-77.600114,-236.276793,-242.410022,-236.276793,2025-04-05,-236.276793,3,...,MW5,Sat,DQ1_Asia,Q2_90m,<p30,>=p90,<p30,tmo-tyo-two-SOLUSDT-t90mo,tmo-tyo-two-tdo-t90mo-SOLUSDT,2025-04-05
3,2025-04-30 00:00,SOLUSDT,102.424242,94.404697,-133.852551,-148.005325,102.424242,2025-04-29,175.171789,0,...,MW4,Wed,DQ1_Asia,Q2_90m,>=p90,<p30,>=p90,two-SOLUSDT-t90mo-tmo-tyo,two-t90mo-SOLUSDT-tmo-tyo,2025-04-30
4,2025-04-30 00:00,BTCUSDT,39.340711,33.671378,-94.511840,-114.333947,141.764953,2025-04-29,175.171789,0,...,MW4,Wed,DQ1_Asia,Q2_90m,<p90,<p30,>=p90,two-BTCUSDT-t90mo-tmo-tyo,two-BTCUSDT-t90mo-tmo-tyo,2025-04-30
5,2025-04-30 00:00,ETHUSDT,33.406836,30.420628,-61.105004,-83.913319,175.171789,2025-04-29,175.171789,0,...,MW4,Wed,DQ1_Asia,Q2_90m,<p70,<p70,<p90,tyo-ETHUSDT-two-t90mo-tmo,tyo-t90mo-tdo-two-ETHUSDT-tmo,2025-04-30
6,2025-05-02 00:00,SOLUSDT,1.526718,0.231594,-59.578287,-83.681725,1.526718,2025-05-02,20.062958,1,...,MW4,Fri,DQ1_Asia,Q2_90m,<p10,<p10,<p30,SOLUSDT-t90mo-two-tmo-tyo,SOLUSDT-t90mo-two-tmo-tyo,2025-05-02
7,2025-05-02 00:00,BTCUSDT,7.991161,5.560261,-51.587125,-78.121464,9.517879,2025-05-02,20.062958,2,...,MW4,Fri,DQ1_Asia,Q2_90m,<p10,<p10,<p70,BTCUSDT-t90mo-two-tmo-tyo,BTCUSDT-t90mo-two-tmo-tyo,2025-05-02
8,2025-05-02 00:00,ETHUSDT,10.545079,8.989090,-41.042046,-69.132374,20.062958,2025-05-02,20.062958,3,...,MW4,Fri,DQ1_Asia,Q2_90m,<p30,<p30,<p30,t90mo-ETHUSDT-tyo-two-tmo,t90mo-tyo-ETHUSDT-two-tmo,2025-05-02
9,2025-05-21 00:00,BTCUSDT,10.341713,8.318281,-30.700333,-60.814093,10.341713,2025-05-20,96.497227,0,...,MW3,Wed,DQ1_Asia,Q2_90m,<p30,<p30,<p70,t90mo-BTCUSDT-two-tmo-tyo,tdo-BTCUSDT-two-tmo-tyo,2025-05-21
10,2025-05-21 00:00,ETHUSDT,36.859739,35.553668,6.159406,-25.260425,47.201452,2025-05-20,96.497227,0,...,MW3,Wed,DQ1_Asia,Q2_90m,<p70,<p70,<p30,t90mo-ETHUSDT-two-tmo-tyo,tdo-two-tmo-ETHUSDT-tyo,2025-05-21
11,2025-05-21 00:00,SOLUSDT,49.295775,47.630482,55.455181,22.370058,96.497227,2025-05-20,96.497227,0,...,MW3,Wed,DQ1_Asia,Q2_90m,<p90,<p70,<p70,tmo-t90mo-SOLUSDT-two-tyo,tmo-tdo-t90mo-SOLUSDT-two-tyo,2025-05-21
12,2025-06-15 00:00,SOLUSDT,113.089005,109.632487,168.544186,132.002544,113.089005,2025-06-13,197.489646,0,...,MW2,Sun,DQ1_Asia,Q2_90m,>=p90,<p70,<p90,two-tmo-SOLUSDT-t90mo-tyo,two-tmo-tdo-t90mo-SOLUSDT-tyo,2025-06-15
13,2025-06-15 00:00,BTCUSDT,29.633271,26.166646,198.177457,158.169190,142.722277,2025-06-13,197.489646,0,...,MW2,Sun,DQ1_Asia,Q2_90m,<p70,<p90,<p90,two-tmo-BTCUSDT-t90mo-tyo,tmo-tdo-BTCUSDT-tyo,2025-06-15
14,2025-06-15 00:00,ETHUSDT,54.767369,52.367704,252.944826,210.536894,197.489646,2025-06-13,197.489646,0,...,MW2,Sun,DQ1_Asia,Q2_90m,<p90,<p90,<p70,two-tmo-ETHUSDT-t90mo-tyo,tdo-tmo-ETHUSDT-tyo,2025-06-15
15,2025-07-17 00:00,ETHUSDT,12.039312,11.343774,264.984138,221.880668,12.039312,2025-07-16,78.136064,0,...,MW2,Thu,DQ1_Asia,Q2_90m,<p30,<p70,<p10,ETHUSDT-t90mo-two-tmo-tyo,t90mo-tdo-ETHUSDT-two-tmo-tyo,2025-07-17
16,2025-07-17 00:00,SOLUSDT,14.277072,13.325239,279.261210,235.205907,26.316384,2025-07-16,78.136064,0,...,MW2,Thu,DQ1_Asia,Q2_90m,<p70,<p70,<p10,SOLUSDT-t90mo-two-tmo-tyo,t90mo-tdo-SOLUSDT-two-tmo-tyo,2025-07-17
17,2025-07-17 00:00,BTCUSDT,51.819680,48.131882,331.080890,283.337788,78.136064,2025-07-16,78.136064,0,...,MW2,Thu,DQ1_Asia,Q2_90m,<p90,<p90,<p90,two-t90mo-tmo-BTCUSDT-tyo,two-t90mo-tmo-tdo-BTCUSDT-tyo,2025-07-17